.upload-form {
	/* background: #bcd7ff; */
	clear: both;
}

.upload-form table {
	background: #f1f6ff;
}

.upload-files {
	width: 160px;
	float: left;
	margin: 4px;
	margin-top: 5px;
	margin-right: 20px;
}

.upload-files span {
	float: right;
	width: 130px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.upload-files a {
	float: left;
	color: #de2525;
	margin-top: 3px;
}

.upload-files a {
	float: left;
	color: #de2525;
	margin-top: 3px;
}

.upload-files a.ban {
	color: #777;
}

.up-label {
	background: #478ad5;
	width: 60px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 5px;
	color: #fff;
}

.upload-form {
	position: relative;
	padding: 4px;
	min-height: 40px;
}

#files {
	opacity: 0;
	width: 40px;
}

.up-label {
	position: absolute;
	top: 4px;
	left: 4px;
}

.file-encrypt {
	position: absolute;
	left: 80px;
	top: 10px;
}

.cs-down-arrow, .cs-map {
	position: absolute;
	width: 30px;
	height: 28px;
	background: #f1f1f1;
	top: 1px;
	right: 1px;
	bottom: 1px;
	cursor: pointer;
	background: #ddd url(../../../img/tab_arrow.png) no-repeat center center;
}

.cs-down-arrow, .cs-map {
	background: #ddd url(../../../img/tab_arrow_blue.png) no-repeat center center;
}
#file-list-uploader, #file-list-uploader1, #file-list-uploader2 {
	overflow: hidden;
	_height: 1%;
	/* border: 1px solid #b2d6ff; */
	padding-bottom: 4px;
	background: #dcf5ff;
	padding: 0;
}

.upload-form input[type="file"] {
	height: 36px;
}

.cs-in-style .upload-form .shanchu {
	margin: 1px;
}
/**********************************/
.upload-files span {
	float: left;
}

.upload-files a {
	float: right;
}

.upload-files {
	margin: 0;
	width: 130px;
}

.upload-form input[type="file"] {
	opacity: 0;
	width: 50px;
	height: 0;
	display: inline;
}

.fileStyle {
	margin-left: 65px;
}

.upload-files span {
	width: 110px;
}