<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayuan3.common.mapper.CommonDataMapper">
   
   	  <resultMap id="FoodBaseResultMap" type="com.dayuan3.common.bean.baseFood" >
    <result column="food_code" property="foodCode" jdbcType="VARCHAR" />
    <result column="food_name" property="foodName" jdbcType="VARCHAR" />
    <result column="food_name_en" property="foodNameEn" jdbcType="VARCHAR" />
    <result column="food_name_other" property="foodNameOther" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" /> 
    <result column="isFood" property="isFood"  jdbcType="SMALLINT"/>
        <result column="food_first_letter" property="foodFirstLetter" jdbcType="VARCHAR" /> 
    <result column="food_full_letter" property="foodFullLetter"  jdbcType="VARCHAR"/>
  </resultMap>
 
		<!-- 2019-7-22 微信端获取样品数据  只加载食品名称  hu-->
	<select id="queryAllFood2"  resultMap="FoodBaseResultMap">
		select  
		   id, food_name, food_name_en, food_name_other,  isFood ,food_first_letter,food_full_letter
		
		 from base_food_type where delete_flag = 0  and  isFood=1  and checked=1
	</select>
	
	
	<!-- 2019-11-11 查询送检单位 queryInspection -->
	
	   	  <resultMap id="InspectionResultMap" type="com.dayuan3.common.bean.baseInspectionUnit" >
	   	     <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="company_type" property="companyType" jdbcType="SMALLINT" />
    <result column="credit_code" property="creditCode" jdbcType="VARCHAR" />
    <result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
    </resultMap>
	<select id="queryInspection"  resultMap="InspectionResultMap">
	SELECT id,company_name,company_type,credit_code,legal_person FROM inspection_unit WHERE credit_code !='' AND company_name!='' AND delete_flag = 0
	</select>
	
	
	
   
   	<!-- 便于数据查询 2019-7-22 huht  -->
	<resultMap id="ObjBaseResultMap" type="com.dayuan3.common.bean.baseObj">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="reg_name" property="regName" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 查询全部审核的监管对象 微信端用 2019-7-22 huht -->
	<select id="queryByDepartId2" resultMap="ObjBaseResultMap" parameterType="Object">
		SELECT * FROM base_regulatory_object WHERE delete_flag = 0 
		<if test="departId!=null">
			and depart_id in (SELECT id FROM t_s_depart WHERE depart_code LIKE CONCAT((SELECT depart_code FROM t_s_depart WHERE id = #{departId}), '%'))
		</if>
		<if test="checked!=null"> AND checked = #{checked}</if>
	</select>
   


  <resultMap id="UnitBaseResultMap" type="com.dayuan3.common.bean.baseUnit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="requester_name" jdbcType="VARCHAR" property="requesterName" />
        <result column="link_user" jdbcType="VARCHAR" property="linkUser" />
    <result column="link_phone" jdbcType="VARCHAR" property="linkPhone" />
  </resultMap>
  <!--  便于页面加载数据 只加载有效字段 2019-7-22 huht  -->
  <select id="queryAll2" resultMap="UnitBaseResultMap">
    select
   id,requester_name,link_user,link_phone
    from requester_unit
    where delete_flag = 0
  </select>
  
  
  <!-- 校验基础数据是否更新  huht 2019-7-25 -->
  
  <!-- 样品是否更新 -->
  <select id="queryFoodSatus"  resultType="java.lang.Integer" >
  SELECT COUNT(1) FROM base_food_type WHERE update_date &gt;=#{date}
  </select>
  <!-- 委托单位是否更新 -->
  <select id="queryUnitSatus"  resultType="java.lang.Integer">
  SELECT COUNT(1) FROM requester_unit WHERE update_date &gt;=#{date}
  </select>
  <!-- 来源是否更新 -->
  <select id="queryObjSatus"  resultType="java.lang.Integer">
  SELECT COUNT(1) FROM base_regulatory_object WHERE update_date &gt;=#{date}
  </select>
 
  
  
  
  
  <!-- **************************自助终端相关代码*********************** -->
   <resultMap id="TerminalFoodBaseResultMap" type="com.dayuan3.common.bean.TerminalBaseFood" >
   <result column="id" property="id" jdbcType="INTEGER" />
    <result column="food_name" property="foodName" jdbcType="VARCHAR" />
    <result column="food_name_en" property="foodNameEn" jdbcType="VARCHAR" />
    <result column="food_name_other" property="foodNameOther" jdbcType="VARCHAR" />
    <result column="food_first_letter" property="foodFirstLetter" jdbcType="VARCHAR" /> 
    <result column="food_full_letter" property="foodFullLetter"  jdbcType="VARCHAR"/>
  </resultMap>
  <resultMap id="TerminalRequesterResultMap" type="com.dayuan3.common.bean.TerminalRequestUnit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="requester_name" jdbcType="VARCHAR" property="requesterName" />
     <result column="link_user" jdbcType="VARCHAR" property="linkUser" />
    <result column="link_phone" jdbcType="VARCHAR" property="linkPhone" />
    <result column="company_address" jdbcType="VARCHAR" property="companyAddress" />
    <result column="requester_first_letter" jdbcType="VARCHAR" property="requesterFirstLetter" />
    <result column="requester_full_letter" jdbcType="VARCHAR" property="requesterFullLetter" />
    <result column="requester_other_name" jdbcType="VARCHAR" property="requesterOtherName" />
  </resultMap>
  	<resultMap id="TerminalRegObjResultMap" type="com.dayuan3.common.bean.TerminalBaseRegObj">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="reg_name" property="regName" jdbcType="VARCHAR" />
		<result column="reg_first_letter" jdbcType="VARCHAR" property="regFirstLetter" />
   		 <result column="reg_full_letter" jdbcType="VARCHAR" property="regFullLetter" />
	</resultMap>
  	<!-- 自助终端查询所有样品名称相关信息；xiaoyl 2019-07-19 -->
	<select id="queryCommonFood"  resultMap="TerminalFoodBaseResultMap">
		select id, food_name,
		IF(CONCAT(IFNULL(food_name_other,''),IFNULL(food_name_en,''))='','',CONCAT(CONCAT(IFNULL(food_name_other,''),',',IFNULL(food_name_en,'')))) food_name_other
		,food_first_letter,food_full_letter
		from base_food_type where delete_flag = 0  and  isFood=1  and checked=1 
	</select>
		<!-- 自助终端查询所有委托单位相关信息；xiaoyl 2019-07-19       2019-11-20 huht 添加别名字段-->
	<select id="queryRequestForTerminal"  resultMap="TerminalRequesterResultMap">
		 select
		   id,requester_name,requester_other_name,link_user,link_phone,requester_first_letter,requester_full_letter,company_address
		    from requester_unit
		    where delete_flag = 0 and checked=1
	</select>
		<!-- 查询全部审核的监管对象 微信端用 2019-7-22 huht -->
	<select id="queryRegByDepartId" resultMap="TerminalRegObjResultMap" parameterType="Object">
		SELECT id,reg_name,reg_first_letter,reg_full_letter FROM base_regulatory_object WHERE delete_flag = 0 
		<if test="departId!=null">
			and depart_id in (SELECT id FROM t_s_depart WHERE depart_code LIKE CONCAT((SELECT depart_code FROM t_s_depart WHERE id = #{departId}), '%'))
		</if>
		<if test="checked!=null"> AND checked = #{checked}</if>
	</select>
	
		<!-- 修改订单状态  2019-7-24huht-->
 		<update id="updateSamplingStatus" parameterType="Object">
		update tb_sampling set order_status = #{orderStatus}, pay_method=1,update_date=now(),pay_date=#{payDate} where id=#{id} and personal=2
	</update>
</mapper>