<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayuan3.common.mapper.InspectionReportPriceMapper">
  <resultMap id="BaseResultMap" type="com.dayuan3.common.bean.InspectionReportPrice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="inspection_unit_id" jdbcType="INTEGER" property="inspectionUnitId" />
    <result column="report_price" jdbcType="DECIMAL" property="reportPrice" />
    <result column="checked" jdbcType="SMALLINT" property="checked" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="param1" jdbcType="VARCHAR" property="param1" />
    <result column="param2" jdbcType="VARCHAR" property="param2" />
    <result column="param3" jdbcType="VARCHAR" property="param3" />
    <result column="delete_flag" jdbcType="SMALLINT" property="deleteFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="companyName" jdbcType="VARCHAR" property="companyName" />
  </resultMap>
  <sql id="Base_Column_List">
    a.id, a.inspection_unit_id, a.report_price, a.checked, a.remark, a.param1, 
    a.param2, a.param3, a.delete_flag, 
    a.create_by, a.create_date, a.update_by, a.update_date,
    (select ru.company_name from inspection_unit ru where
     ru.id = inspection_unit_id

     ) companyName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from inspection_report_price a
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 根据送检单位ID查询报告费单价 -->
  <select id="queryByInspectionUnitId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from inspection_report_price a  where 
    a.checked=1 and a.delete_flag=0 
    <choose>
    	<when test="id!=null and id!=''"> and a.inspection_unit_id=#{id} </when>
    	<otherwise> and a.inspection_unit_id=0 </otherwise>
    </choose>
   
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update inspection_report_price set delete_flag=1,update_date=now()
    where id in
       <foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
           #{ids}
       </foreach>
  </delete>
  <insert id="insert" parameterType="com.dayuan3.common.bean.InspectionReportPrice">
    insert into inspection_report_price (id, inspection_unit_id, report_price, 
      checked, remark, param1, 
      param2, param3, delete_flag, 
      create_by, create_date, update_by, 
      update_date)
    values (#{id,jdbcType=INTEGER}, #{inspectionUnitId,jdbcType=INTEGER}, #{reportPrice,jdbcType=DECIMAL}, 
      #{checked,jdbcType=SMALLINT}, #{remark,jdbcType=VARCHAR}, #{param1,jdbcType=VARCHAR}, 
      #{param2,jdbcType=VARCHAR}, #{param3,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=SMALLINT}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dayuan3.common.bean.InspectionReportPrice">
    insert into inspection_report_price
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="inspectionUnitId != null">
        inspection_unit_id,
      </if>
      <if test="reportPrice != null">
        report_price,
      </if>
      <if test="checked != null">
        checked,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="param1 != null">
        param1,
      </if>
      <if test="param2 != null">
        param2,
      </if>
      <if test="param3 != null">
        param3,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="inspectionUnitId != null">
        #{inspectionUnitId,jdbcType=INTEGER},
      </if>
      <if test="reportPrice != null">
        #{reportPrice,jdbcType=DECIMAL},
      </if>
      <if test="checked != null">
        #{checked,jdbcType=SMALLINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null">
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null">
        #{param3,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=SMALLINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dayuan3.common.bean.InspectionReportPrice">
    update inspection_report_price
    <set>
      <if test="inspectionUnitId != null">
        inspection_unit_id = #{inspectionUnitId,jdbcType=INTEGER},
      </if>
      <if test="reportPrice != null">
        report_price = #{reportPrice,jdbcType=DECIMAL},
      </if>
      <if test="checked != null">
        checked = #{checked,jdbcType=SMALLINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null">
        param1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        param2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null">
        param3 = #{param3,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=SMALLINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dayuan3.common.bean.InspectionReportPrice">
    update inspection_report_price
    set inspection_unit_id = #{inspectionUnitId,jdbcType=INTEGER},
      report_price = #{reportPrice,jdbcType=DECIMAL},
      checked = #{checked,jdbcType=SMALLINT},
      remark = #{remark,jdbcType=VARCHAR},
      param1 = #{param1,jdbcType=VARCHAR},
      param2 = #{param2,jdbcType=VARCHAR},
      param3 = #{param3,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=SMALLINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
        <!-- 分页基础查询 -->
    <select id="loadDatagrid" resultMap="BaseResultMap" parameterType="Object">
    select 
    <include refid="Base_Column_List" />
    from inspection_report_price a 
    LEFT JOIN inspection_unit b
    on b.id = a.inspection_unit_id
    <include refid="base_where"/>
    LIMIT #{rowOffset}, #{pageSize}
    </select>
  
    <select id="getRowTotal" resultType="java.lang.Integer" parameterType="Object">
    SELECT COUNT(1) as rowTotal
	from inspection_report_price a
	LEFT JOIN inspection_unit b
    on b.id = a.inspection_unit_id  
    <include refid="base_where"/>
    </select>
    
    <sql id="base_where">
    where a.delete_flag=0
    <if test="obj.checked !=null">
    and  a.checked = #{obj.checked}
    </if>
    <if test="obj.companyName !=null and obj.companyName !=''">
    AND b.company_name like '%${obj.companyName}%'
    </if>
        <trim suffixOverrides=",">
        </trim>
    </sql>
</mapper>