<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayuan3.common.mapper.InspectionUnitUserAddressMapper">
    <resultMap id="baseMap" type="com.dayuan3.common.bean.InspectionUnitUserAddress">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="inspection_id" jdbcType="INTEGER" property="inspectionId"/>
        <result column="is_default" jdbcType="SMALLINT" property="isDefault"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="param1" jdbcType="VARCHAR" property="param1"/>
        <result column="param2" jdbcType="VARCHAR" property="param2"/>
        <result column="param3" jdbcType="VARCHAR" property="param3"/>
        <result column="delete_flag" jdbcType="SMALLINT" property="deleteFlag"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    </resultMap>

    <!-- 根据用户ID查询配置的地址 -->
    <select id="selectByUserId" parameterType="Object" resultMap="baseMap">
        SELECT *
        FROM inspection_unit_user_address
        WHERE delete_flag = 0 AND user_id = #{userId}
        ORDER BY update_date DESC
    </select>
    <!-- 设置默认标签/取消默认-->
    <update id="updateDefault" parameterType="Object">
        UPDATE inspection_unit_user_address
        SET
        <if test="isDefault ==1 and id!= null">
            is_default = 0 ,
            update_date = NOW(),
            update_by = #{userId}
            WHERE user_id = #{userId} AND id != #{id}
        </if>


        <!--UPDATE inspection_unit_user_address
        SET
        <if test="isDefault ==1 and id!= null">
            is_default = CASE WHEN id = #{id} THEN 1 ELSE 0 END,
            update_date = NOW(),
            update_by = #{userId}
            WHERE user_id = #{userId}
        </if>
        <if test="isDefault ==0 and id!= null">
            is_default = #{isDefault},
            update_date = NOW(),
            update_by = #{userId}
            WHERE id = #{id}
        </if>-->
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="baseMap">
        SELECT *
        FROM inspection_unit_user_address
        WHERE id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="Object">
        UPDATE inspection_unit_user_address
        SET delete_flag=1,
        update_date=now()
        where id in
        <foreach collection="array" item="ids" index="index" open="("
                 close=")" separator=",">
            #{ids}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.dayuan3.common.bean.InspectionUnitUserAddress" useGeneratedKeys="true" keyProperty="id">

        INSERT INTO inspection_unit_user_address (id, user_id, inspection_id,
                                                  is_default, area, address, remark, param1,
                                                  param2, param3, delete_flag,
                                                  create_by, create_date, update_by,
                                                  update_date)
        VALUES (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{inspectionId,jdbcType=INTEGER},
                                        #{isDefault,jdbcType=SMALLINT}, #{area,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
                                        #{remark,jdbcType=VARCHAR}, #{param1,jdbcType=VARCHAR},
                                        #{param2,jdbcType=VARCHAR}, #{param3,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=SMALLINT},
                #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
                #{updateDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.dayuan3.common.bean.InspectionUnitUserAddress" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO inspection_unit_user_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="inspectionId != null">
                inspection_id,
            </if>
            <if test="isDefault != null">
                is_default,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="param1 != null">
                param1,
            </if>
            <if test="param2 != null">
                param2,
            </if>
            <if test="param3 != null">
                param3,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="inspectionId != null">
                #{inspectionId,jdbcType=INTEGER},
            </if>
            <if test="isDefault != null">
                #{isDefault,jdbcType=SMALLINT},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="param1 != null">
                #{param1,jdbcType=VARCHAR},
            </if>
            <if test="param2 != null">
                #{param2,jdbcType=VARCHAR},
            </if>
            <if test="param3 != null">
                #{param3,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=SMALLINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dayuan3.common.bean.InspectionUnitUserAddress">
        update inspection_unit_user_address
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="inspectionId != null">
                inspection_id = #{inspectionId,jdbcType=INTEGER},
            </if>
            <if test="isDefault != null">
                is_default = #{isDefault,jdbcType=SMALLINT},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="param1 != null">
                param1 = #{param1,jdbcType=VARCHAR},
            </if>
            <if test="param2 != null">
                param2 = #{param2,jdbcType=VARCHAR},
            </if>
            <if test="param3 != null">
                param3 = #{param3,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=SMALLINT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dayuan3.common.bean.InspectionUnitUserAddress">
        UPDATE inspection_unit_user_address
        SET user_id       = #{userId,jdbcType=INTEGER},
            inspection_id = #{inspectionId,jdbcType=INTEGER},
            is_default    = #{isDefault,jdbcType=SMALLINT},
            area          = #{area,jdbcType=VARCHAR},
            address       = #{address,jdbcType=VARCHAR},
            remark        = #{remark,jdbcType=VARCHAR},
            param1        = #{param1,jdbcType=VARCHAR},
            param2        = #{param2,jdbcType=VARCHAR},
            param3        = #{param3,jdbcType=VARCHAR},
            delete_flag   = #{deleteFlag,jdbcType=SMALLINT},
            create_by     = #{createBy,jdbcType=VARCHAR},
            create_date   = #{createDate,jdbcType=TIMESTAMP},
            update_by     = #{updateBy,jdbcType=VARCHAR},
            update_date   = #{updateDate,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

</mapper>