<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayuan3.common.mapper.SysOperationLogMapper">
  <resultMap id="BaseResultMap" type="com.dayuan3.common.bean.SysOperationLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="remoteIP" jdbcType="VARCHAR" property="remoteip" />
    <result column="requestUri" jdbcType="VARCHAR" property="requesturi" />
    <result column="operator_way" jdbcType="SMALLINT" property="operatorWay" />
    <result column="module" jdbcType="VARCHAR" property="module" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="func" jdbcType="VARCHAR" property="func" />
    <result column="request_param" jdbcType="VARCHAR" property="requestParam" />
    <result column="operator_result" jdbcType="SMALLINT" property="operatorResult" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="exception" jdbcType="VARCHAR" property="exception" />
    <result column="operateTime" jdbcType="TIMESTAMP" property="operatetime" />
    <result column="param1" jdbcType="VARCHAR" property="param1" />
    <result column="param2" jdbcType="VARCHAR" property="param2" />
    <result column="param3" jdbcType="VARCHAR" property="param3" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, userName, remoteIP, requestUri, operator_way, module, class_name, func, 
    request_param, operator_result, description, exception, operateTime, param1, param2, 
    param3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_operation_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_operation_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dayuan3.common.bean.SysOperationLog">
    insert into sys_operation_log (id, userId, userName, 
      remoteIP, requestUri, operator_way, 
      module, class_name, func, 
      request_param, operator_result, description, 
      exception, operateTime, param1, 
      param2, param3)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{remoteip,jdbcType=VARCHAR}, #{requesturi,jdbcType=VARCHAR}, #{operatorWay,jdbcType=SMALLINT}, 
      #{module,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, #{func,jdbcType=VARCHAR}, 
      #{requestParam,jdbcType=VARCHAR}, #{operatorResult,jdbcType=SMALLINT}, #{description,jdbcType=VARCHAR}, 
      #{exception,jdbcType=VARCHAR}, #{operatetime,jdbcType=TIMESTAMP}, #{param1,jdbcType=VARCHAR}, 
      #{param2,jdbcType=VARCHAR}, #{param3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dayuan3.common.bean.SysOperationLog">
    insert into sys_operation_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="remoteip != null">
        remoteIP,
      </if>
      <if test="requesturi != null">
        requestUri,
      </if>
      <if test="operatorWay != null">
        operator_way,
      </if>
      <if test="module != null">
        module,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="func != null">
        func,
      </if>
      <if test="requestParam != null">
        request_param,
      </if>
      <if test="operatorResult != null">
        operator_result,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="exception != null">
        exception,
      </if>
      <if test="operatetime != null">
        operateTime,
      </if>
      <if test="param1 != null">
        param1,
      </if>
      <if test="param2 != null">
        param2,
      </if>
      <if test="param3 != null">
        param3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="remoteip != null">
        #{remoteip,jdbcType=VARCHAR},
      </if>
      <if test="requesturi != null">
        #{requesturi,jdbcType=VARCHAR},
      </if>
      <if test="operatorWay != null">
        #{operatorWay,jdbcType=SMALLINT},
      </if>
      <if test="module != null">
        #{module,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="func != null">
        #{func,jdbcType=VARCHAR},
      </if>
      <if test="requestParam != null">
        #{requestParam,jdbcType=VARCHAR},
      </if>
      <if test="operatorResult != null">
        #{operatorResult,jdbcType=SMALLINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="exception != null">
        #{exception,jdbcType=VARCHAR},
      </if>
      <if test="operatetime != null">
        #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="param1 != null">
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null">
        #{param3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dayuan3.common.bean.SysOperationLog">
    update sys_operation_log
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="remoteip != null">
        remoteIP = #{remoteip,jdbcType=VARCHAR},
      </if>
      <if test="requesturi != null">
        requestUri = #{requesturi,jdbcType=VARCHAR},
      </if>
      <if test="operatorWay != null">
        operator_way = #{operatorWay,jdbcType=SMALLINT},
      </if>
      <if test="module != null">
        module = #{module,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="func != null">
        func = #{func,jdbcType=VARCHAR},
      </if>
      <if test="requestParam != null">
        request_param = #{requestParam,jdbcType=VARCHAR},
      </if>
      <if test="operatorResult != null">
        operator_result = #{operatorResult,jdbcType=SMALLINT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="exception != null">
        exception = #{exception,jdbcType=VARCHAR},
      </if>
      <if test="operatetime != null">
        operateTime = #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="param1 != null">
        param1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        param2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null">
        param3 = #{param3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dayuan3.common.bean.SysOperationLog">
    update sys_operation_log
    set userId = #{userid,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      remoteIP = #{remoteip,jdbcType=VARCHAR},
      requestUri = #{requesturi,jdbcType=VARCHAR},
      operator_way = #{operatorWay,jdbcType=SMALLINT},
      module = #{module,jdbcType=VARCHAR},
      class_name = #{className,jdbcType=VARCHAR},
      func = #{func,jdbcType=VARCHAR},
      request_param = #{requestParam,jdbcType=VARCHAR},
      operator_result = #{operatorResult,jdbcType=SMALLINT},
      description = #{description,jdbcType=VARCHAR},
      exception = #{exception,jdbcType=VARCHAR},
      operateTime = #{operatetime,jdbcType=TIMESTAMP},
      param1 = #{param1,jdbcType=VARCHAR},
      param2 = #{param2,jdbcType=VARCHAR},
      param3 = #{param3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>