<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayuan3.common.mapper.TbSamplingRequesterMapper">
    <resultMap id="BaseResultMap" type="com.dayuan3.common.bean.TbSamplingRequester">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sampling_id" jdbcType="INTEGER" property="samplingId"/>
        <result column="request_id" jdbcType="INTEGER" property="requestId"/>
        <result column="request_name" jdbcType="VARCHAR" property="requestName"/>
        <result column="param1" jdbcType="VARCHAR" property="param1"/>
        <result column="param2" jdbcType="VARCHAR" property="param2"/>
        <result column="param3" jdbcType="VARCHAR" property="param3"/>
        <result column="delete_flag" jdbcType="SMALLINT" property="deleteFlag"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>

        <result column="printId" jdbcType="VARCHAR" property="printId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, sampling_id, request_id, request_name, param1, param2, param3, delete_flag, create_by,
        create_date, update_by, update_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_sampling_requester
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM tb_sampling_requester
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.dayuan3.common.bean.TbSamplingRequester">
        INSERT INTO tb_sampling_requester (id, sampling_id, request_id,
                                           request_name, param1, param2,
                                           param3, delete_flag, create_by,
                                           create_date, update_by, update_date
        )
        VALUES (#{id,jdbcType=INTEGER}, #{samplingId,jdbcType=INTEGER}, #{requestId,jdbcType=INTEGER},
                                        #{requestName,jdbcType=VARCHAR}, #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR},
                                        #{param3,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=SMALLINT}, #{createBy,jdbcType=VARCHAR},
                                        #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.dayuan3.common.bean.TbSamplingRequester">
        insert into tb_sampling_requester
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="samplingId != null">
                sampling_id,
            </if>
            <if test="requestId != null">
                request_id,
            </if>
            <if test="requestName != null">
                request_name,
            </if>
            <if test="param1 != null">
                param1,
            </if>
            <if test="param2 != null">
                param2,
            </if>
            <if test="param3 != null">
                param3,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="samplingId != null">
                #{samplingId,jdbcType=INTEGER},
            </if>
            <if test="requestId != null">
                #{requestId,jdbcType=INTEGER},
            </if>
            <if test="requestName != null">
                #{requestName,jdbcType=VARCHAR},
            </if>
            <if test="param1 != null">
                #{param1,jdbcType=VARCHAR},
            </if>
            <if test="param2 != null">
                #{param2,jdbcType=VARCHAR},
            </if>
            <if test="param3 != null">
                #{param3,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=SMALLINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dayuan3.common.bean.TbSamplingRequester">
        update tb_sampling_requester
        <set>
            <if test="samplingId != null">
                sampling_id = #{samplingId,jdbcType=INTEGER},
            </if>
            <if test="requestId != null">
                request_id = #{requestId,jdbcType=INTEGER},
            </if>
            <if test="requestName != null">
                request_name = #{requestName,jdbcType=VARCHAR},
            </if>
            <if test="param1 != null">
                param1 = #{param1,jdbcType=VARCHAR},
            </if>
            <if test="param2 != null">
                param2 = #{param2,jdbcType=VARCHAR},
            </if>
            <if test="param3 != null">
                param3 = #{param3,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=SMALLINT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dayuan3.common.bean.TbSamplingRequester">
        UPDATE tb_sampling_requester
        SET sampling_id  = #{samplingId,jdbcType=INTEGER},
            request_id   = #{requestId,jdbcType=INTEGER},
            request_name = #{requestName,jdbcType=VARCHAR},
            param1       = #{param1,jdbcType=VARCHAR},
            param2       = #{param2,jdbcType=VARCHAR},
            param3       = #{param3,jdbcType=VARCHAR},
            delete_flag  = #{deleteFlag,jdbcType=SMALLINT},
            create_by    = #{createBy,jdbcType=VARCHAR},
            create_date  = #{createDate,jdbcType=TIMESTAMP},
            update_by    = #{updateBy,jdbcType=VARCHAR},
            update_date  = #{updateDate,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="queryBySamplingId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_sampling_requester
        where sampling_id = #{samplingId,jdbcType=INTEGER} and delete_flag = 0
    </select>
    <!-- 根据订单ID和关键字查询委托单位信息 add by xiaoyl 2020/1/14 -->
    <select id="queryBySamplingIdAndKeys" parameterType="Object" resultMap="BaseResultMap">
        select request.*
        from tb_sampling_requester request
        left join requester_unit unit on request.request_id=unit.id
        where request.sampling_id = #{samplingId,jdbcType=INTEGER} and request.delete_flag = 0
        <if test="keyWords!=null and keyWords!=''">
            and (unit.requester_first_letter like CONCAT('%',#{keyWords},'%')
            or unit.requester_full_letter like CONCAT('%',#{keyWords},'%') or unit.requester_name like CONCAT('%',#{keyWords},'%') )
        </if>
    </select>

    <!-- 根据订单号、收样批次查询待打印/已打印委托单位列表  add by xiaoyl 2020/1/15 -->
    <select id="queryUnitsForPrint" parameterType="Object" resultMap="BaseResultMap">
        select req.* ,p.id printId from tb_sampling_requester req
        left join requester_unit unit on req.request_id=unit.id
        left join tb_sampling_report_printlog p on p.sampling_id=req.sampling_id and p.request_id=unit.id
        where req.sampling_id=#{samplingId} and req.delete_flag=0
        <choose>
            <when test="printType==0">
                and req.request_id not in (select request_id from tb_sampling_report_printlog where sampling_id=#{samplingId} and
                collect_code=#{collectCode})
            </when>
            <when test="printType==1">
                and req.request_id in (select request_id from tb_sampling_report_printlog where sampling_id=#{samplingId} and
                collect_code=#{collectCode})
            </when>
        </choose>
        <if test="keyWords!=null and keyWords!=''">
            and (unit.requester_first_letter like CONCAT('%',#{keyWords},'%')
            or unit.requester_full_letter like CONCAT('%',#{keyWords},'%') or unit.requester_name like CONCAT('%',#{keyWords},'%') )
        </if>
    </select>

    <insert id="saveBatch" parameterType="com.dayuan3.common.bean.TbSamplingRequester">
        insert into tb_sampling_requester (sampling_id, request_id,
        request_name, param1, param2,
        param3, delete_flag, create_by,
        create_date, update_by, update_date
        )
        values
        <foreach collection="list" item="requester" index="index" separator=",">
            ( #{requester.samplingId,jdbcType=INTEGER}, #{requester.requestId,jdbcType=INTEGER},
            #{requester.requestName,jdbcType=VARCHAR}, #{requester.param1,jdbcType=VARCHAR}, #{requester.param2,jdbcType=VARCHAR},
            #{requester.param3,jdbcType=VARCHAR}, #{requester.deleteFlag,jdbcType=SMALLINT}, #{requester.createBy,jdbcType=VARCHAR},
            #{requester.createDate,jdbcType=TIMESTAMP}, #{requester.updateBy,jdbcType=VARCHAR}, #{requester.updateDate,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>
    <!--shit 查询订单对应的委托单位列表 用于pdf文件生成-->
    <select id="queryRequestList" resultType="com.dayuan3.terminal.bean.RequesterUnit">
        SELECT tsr.request_id AS id, tsr.request_name requesterName,tsr.param1 linkPhone,tsr.param2 companyAddress
        FROM tb_sampling ts
        LEFT JOIN tb_sampling_requester tsr on ts.id=tsr.sampling_id
        where ts.id = #{simplingId}
        <if test="requestIds != null">
            AND tsr.request_id IN
            <foreach collection="requestIds" item="requestId" open="(" separator="," close=")">
                #{requestId}
            </foreach>
        </if>
    </select>

    <select id="queryCountBySamplingId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(1)
        FROM tb_sampling_requester
        WHERE sampling_id = #{samplingId,jdbcType=INTEGER} AND delete_flag = 0
    </select>
</mapper>