html,body{
    height:100%;
    font-size: 14px;
}
html{
    background:url(../img/inspection/foot-bg.png) no-repeat bottom center fixed;
    background-size: 100% auto;
}
body{
    background:url(../img/inspection/body-bg.png) no-repeat top center fixed;
    background-size: 100% auto ;
}

.ui-login-title,.ui-check-flow {
    /*height: 132px;*/
    width: 100%;
    padding:0 10px;
    
}
.ui-login-title{
    padding:10px;
}
.ui-login-title img,.ui-check-flow img{
    width:100%;
}
.ui-login-text{
    /* background:blue; */
    font-size: 18px;
    padding:0 15px;
}
.ui-login-text p{
    text-indent: 2rem;
}
.cs-title-h2{
    font-size: 16px;
    color:#005f3b;
    font-weight: bold;
    text-align: center;      
    background:url(../img/inspection/title-bg.png) no-repeat center center;
    background-size: 92% auto;
    margin-top: 10px;

}
.ui-check-food{
    clear: both;
}
.ui-check-food ul li img{
    width:90%;
}
.ui-check-food ul li{
    float: left;
    width:24%;
    text-align: center;

}
.ui-check-food ul li {
    font-weight: bold;
}
.ui-check-img{
    padding:0px 25px 5px;
}
.ui-moblie-id{
    
}
.ui-user-info{
    padding:0 20px 0px;
}
.ui-log-in{
    border:1px solid #14a60b;
    box-shadow: 0px 0px 4px #14a60b;
    padding:5px 10px;
    border-radius: 10px;
    padding-bottom: 24px;
    padding-top: 10px;
    background:#fff;
    position: relative;
}
.ui-log-row{
    padding:5px 0px 0 0;
}
.ui-log-row label{
    margin-bottom: 0px;
    font-weight: normal;
    margin-top: 6px;
    font-size: 13px;
    color: #f96565;
    margin-left: 20px;
    position: absolute;
    top: 8px;
    right: 0;
}
.form-control{
    box-shadow:inset 0 0 0 rgba(0,0,0,0);
    border-bottom:1px solid #ddd;
}
.form-control:focus{
    border-color:rgba(0,0,0,0);
    border-bottom:1px solid #ddd;
    box-shadow:inset 0 0 0 rgba(0,0,0,0);
}
.ui-log-in input{
    border:0;
    border-bottom: 1px solid #ddd;
    width:100%;
    height: 26px;
    margin-top: 6px;
    padding-left:20px;

}
.ui-close-btn{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 24px;
    height: 24px;
    z-index: 10;
}
.ui-username input{
    width: 75%;
    background:#fff url(../img/inspection/mobile.png) no-repeat left center;
    background-size: 14px auto;
}
.ui-password{
    position: relative;
}
.ui-password input{
    width:100%;
    background:#fff url(../img/inspection/code.png) no-repeat left center;
    background-size: 16px auto;
}
.ui-get-code{
    float:right;
    padding:0;
    margin-top: 2px;
}
.get-code-btn{
    position: absolute;
    right:0;
    top: 11px;
    line-height: 26px;
    color: #3591f5;
}
.ui-sure-btn{
    float:right;
}
.cs-table-cell{
    position:relative;
}
.ui-2dcode-box{
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
}
.ui-2dcode-box p{
    font-size: 22px;
    font-weight: bold;
    color:#278b45;
}
.ui-2dcode-box img{
    display:inline-block;
    width:110px;
}
.ui-map-ul{
    padding: 0;
}
.li_list{
    padding: 5px 10px 50px 10px;
}
.ui-map-ul{
    border:0;
    box-shadow:0 0 0 rgba(0,0,0,0);
}

.ui-container a,.ui-container a:link, .ui-container a:visited {
    color: #333;
}
.ui-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: table;
}
.ui-back .ui-modal {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.text-warm{
    text-align: center;
    margin: 10px 0;

}
.ui-second-info,.ui-third-info,.ui-first-info {
    margin-top: 0px;
}
.cs-left-side{
    border-left:4px solid #008ad4;
    padding-left: 4px;
}
.ui-code-add{
    padding-top:20px;
}
.ui-code-add img{
    width:100%;
}
.ui-data-select{
    margin-right: 10px;
    padding-bottom: 10px;
}
.ui-data-ul{
    display:inline-block;
    position:absolute;
    top: 28px;
    left: 14px;
    z-index: 100;
    border-radius: 4px;
    box-shadow: 0 1px 2px #000;
}
.ui-data-ul li{
    padding:5px 10px;
    cursor:pointer;
}
.ui-data-on{
    color:#008ad4;
}
.ui-data{
    width:38%;
    display:inline-block;
    text-align:left;
    position:relative;

}
.ui-data .icon-daka{
    color:#008ad4;
}
.ui-data .icon-xia1{
    color:#999;
}
.ui-data-btn{
    display: inline-block;
}
.cs-hide{
    display:none;
}
.text-danger {
    color: #ec0e09;
}
.ui-code-add{
    padding-top:20px;
    text-align: center;
}
.ui-code-add img{
    width:120px;
}
.ui-code-add p{
    color:#03a651;
    margin-bottom: 0px;
    font-size: 12px;
}
.ui-code-add .ui-tel-title{
    font-size: 16px;
    font-weight: bold;
    padding-top:5px;
    color:#1e7c89;
}
.ui-point-local{
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;
    background:#fff;
    z-index: 1001;
    border-top: 1px solid #ddd;
    padding:10px;
}
.ui-point-local h2,.ui-point-local2 h2{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #008ad4;
}
.ui-point-local .icon{
    margin-top:-5px;
}
.ui-point-local p{
    line-height: 20px;
}
.ui-search-time{
    font-size: 12px;
}
.ui-container{
    min-height: 400px;
}
.ui-map-ul li {
    padding: 0px 0 0 20px;
}
.logout-btn{
    border: 1px solid #ddd;
}
.ui-search-bg{
    background:#fff;
    position:fixed;
    overflow:hidden;
    left:0;
    right:0;
    bottom:0;
    padding-top: 40px;
    height:100vh;
    z-index: 10002;
    border-top: 1px solid #ddd;
}
.ui-search-content{
    height:100%;
    overflow-y: auto;
}
.ui-touch-btn{
    position:fixed;
    /*border:;*/
}
.ui-search-bg .ui-point-local2{
    border:0px;
    border-bottom: 1px solid #ddd;
}
.ui-point-local2{
    padding: 10px;
}
.ui-point-local2 h2{
    font-size: 15px;
}
.ui-search-bg .ui-point-local2 h2{
    margin-bottom: 8px;
    font-size: 15px;
}
.ui-search-bg .ui-point-local2 i{
    color:#006fce;
    padding-right: 5px;
}
.ui-seacrh-title{
    border-bottom: 1px solid #ddd;
    padding:0 10px;
}
.ui-seacrh-title,.ui-seacrh-title i,.ui-seacrh-title h4{
    height:30px;
    line-height: 30px;
}
.search-box{
    height:40px;
    width:100%;
    background:#fff;
    border-bottom:1px solid #ddd;
    position:fixed;
    top:0px;
    padding:5px;
    z-index: 10003;
    padding-bottom: 0;
}
.mui-table{
    padding:5px 0;
}
.ui-bg-white{
    padding: 0;
}
.ui-dtpicker {
    margin:0;
    padding-top: 7px;

}
.ui-third-info ul {
    padding-bottom: 0px;
    border-radius: 5px;
}
.ui-uncheck{
    paddinng:0px 0;
    text-align: center;
}
#over-btn,#over-btn2{
    cursor: pointer;
}