@charset "UTF-8";

ul, ol {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

html {
	width: 1280px;
	height: 1024px;
	/* width: 100%;
	height: 100%;  */
	margin: 0 auto;
	/* overflow: hidden; */
}

.zz-content {
	height: 100%;
	width: 100%;
}

body {
	background: url('../../img/terminal/bg.png') no-repeat center center;
	background-size: 100% 100%;
	height: 100%;
	font-size: 16px;
}

input:focus, input:active {
	border: 0;
	border: none;
}

input[type=text], input[type=password] {
	width: 100%;
	height: 40px;
	border-radius: 4px;
	outline: none;
	outline: 0;
	font-size: 16px;
	font-weight: normal;
	padding: 0px 10px;
	border: 0;
}

input[type=checkbox] {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

a:hover {
	text-decoration: none;
}

.zz-login {
	width: 400px;
	height: 350px;
	margin: 0 auto;
	text-align: center;
	background: #fff;
	border:1px solid #999;
	box-shadow: 0 0 2px #4887ef;
	margin-top: 5%;
	border-radius: 4px;
	position: relative;
	padding: 0 0px 50px 0px;
}

.zz-login2 {
	width: 490px;
	height: auto;
	padding: 0;
}

a.zz-back-top {
	position: absolute;
	right: 10px;
	top: 10px;
	font-weight: normal;
	font-size: 16px;
	width: 100px;
	height: 36px;
}

.zz-wx-login {
	padding-top: 40px;
	/* width: 40%; */
	margin: 0 auto;
}

.zz-wx-login p {
	font-size: 16px;
}

.login-tab {
	height: 54px;
	position: relative;
	border-bottom: 1px solid #f1f1f1;
}

.login-tab div {
	position: absolute;
	height: 52px;
	line-height: 52px;
	width: 50%;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
}

.login-tab .tab-r {
	left: 50%;
}

.tab-current {
	color: #025df7;
	font-weight: bold;
}

.userform {
	padding: 30px;
}

.userform p {
	/* float: left; */
	display: inline-block;
	margin-bottom: 4px;
	font-size: 16px;
}

.login-btn .btn {
	/* width: 100% */
	
}

.remenber {
	padding: 10px;
	position: absolute;
	bottom: 0;
	left: 0px;
	width: 100%;
	padding-left: 20px;
	border-top: 1px solid #f1f1f1;
}

.remenber span {
	color: #3982fb;
}

.remenber .icon {
	font-size: 14px;
}

.urgent-box {
	padding-left: 5px;
}

.urgent {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	border-radius: 4px;
	background: #f1f1f1;
	margin-right: 10px;
	border: 1px solid #ddd;
	color: #333
}

.urgent div.demo-list {
	margin-right: 0px;
	margin-top: 10px;
}

.zz-login2 {
	padding: 0 30px;
}

.login-btn2 {
	padding: 20px 0;
}

.login-btn2>a {
	margin: 0 10px;
}

.zz-course {
	position: absolute;
	left: 30px;
	top: 20px;
	color: #fff;
}

.login-out {
	position: absolute;
	right: 20px;
	top: 30px;
	color: #fff;
	z-index:999;
}

.login-out p {
	text-align: left;
	font-size: 18px;
	margin-bottom: 5px;
}

.login-out a {
	color: #fff;
	float: left;
}

.usernames {
	padding: 0 20px;
	font-size: 18px;
	margin-top: 6px;
}

.base-info {
	padding: 10px;
	position:relative;
}

.base-info p, .base-info input {
	float: left;
}

.base-info p {
	font-size: 16px;
	line-height: 38px;
	width: 110px;
	text-align: right;
	padding-right: 10px;
}

.base-info input {
	border:1px solid #999;
	width: 280px;
}

.zz-content {
	position: relative;
}

.zz-left {
	position: absolute;
	bottom: 0;
	left: 0
}

.zz-left img {
	width: 300px;
}

.zz-right, .zz-right2 {
	position: absolute;
	bottom: 0;
	right: 0
}

.zz-right2 {
	z-index: 2;
	bottom: 40px;
	right: 50px
}

.zz-right img {
	width: 200px;
}

.zz-title, .zz-li {
	text-align: center;
	padding-top: 3%;
}

.zz-li {
	padding-top: 2%
}

.zz-title img, .zz-li img {
	display: inline-block;
}
.zz-title img{
	height:60px;
}
.zz-btns .zz-btns1, .zz-btns .zz-btns2 {
	display: inline-block;
	height: 180px;
}

.zz-btns .zz-btns1 img, .zz-btns .zz-btns2 img {
	width: 300px;
}

.zz-btns .zz-btns2 {
	margin-left: 3%;
}

.zz-btns {
	margin-top: 19%;
	z-index: 2;
	text-align: center;
}

.zz-btns p {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	margin-top: -32px;
	color: #fff;
	margin-top: -95px;
	margin-left: 110px;
}

.zz-title2 {
	font-size: 28px;
	font-weight: bold;
	padding-left: 30px;
	padding-top: 20px;
	text-align: center;
	color: #fff;
}

.zz-title2 span {
	display: block;
	width: 160px;
	margin: 0 auto;
	/* margin-top: -3px; */
}

.zz-cont-box {
	position: absolute;
	top: 80px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	background: rgba(245, 245, 245, 0.9);
	z-index: 2;
	/* border-radius: 10px; */
	box-shadow: 0 0 10px #5483ac;
	padding-top: 0px;
}

.zz-name {
	font-size: 20px;
	/* font-weight: bold; */
	white-space: nowrap;
	text-align: right;
	line-height: 40px;
	color: #333;
}

.col-md-12 div {
	/* padding: 5px; */
	
}

.zz-select div {
	/* padding: 5px; */
	padding-bottom: 0;
}

.zz-select2 .zz-name, .zz-select2 .zz-input {
	line-height: 22px
}

.zz-select2 .zz-name {
	color: #333;
}

.zz-all-project {
	border: 1px solid #fff; 
	border-radius:4px;
	
}

.zz-input input, .zz-input select {
	width: 100%;
	height: 40px;
	border-radius: 4px;
	outline: none;
	outline: 0;
	font-size: 16px;
	/* font-weight: bold; */
	padding: 0 5px;
	border: 1px solid #999;
}
.cs-input-box .cs-down-input{
    background:#fff url(../../img/tab_arrow.png) no-repeat 98% center;
    padding-right:30px;
	}
.zz-name, .zz-input {
	padding: 5px;
}

.btn {
	border-radius: 4px;
	width: 160px;
	height: 40px;
	font-size: 20px;
}

.btn-primary {
	background: #4887ef;
	border-color: #4887ef;
}

.btn-primary:hover, .btn-primary:active {
	background: #3982fb;
}

div.zz-btn-head {
	text-align: center;
	padding: 10px;
}

.zz-table {
	padding: 0 20px;
}

div.zz-tb-bg {
	/* background: #fff; */
	/* height: 100%; */
	/* padding:10px 20px; */
	border-radius: 8px;
	overflow: auto;
	/* border: 1px solid #1566ec; */
	position: relative;
	/* padding-top: 15px; */
}

div.zz-tb-bg {
	border-radius: 8px 8px 0 0
}

.zz-tb-bg table th, .zz-tb-bg table td {
	text-align: center
}

.zz-tb-bg table td {
/* 	border-right: 1px solid #ddd; */
	border-right: 1px solid #999;
    border-left: 1px solid #999;
}

.zz-tb-bg3 tr {
	/* height: 60px; */
	
}

.zz-table table {
	width: 100%;
	table-layout: fixed;
	border: 1px solid #ddd;
	background: #fff
}

.zz-table table tr {
	border-bottom: 1px solid #ccc;
	height:50px;
}

.zz-table table td, .zz-table table th {
	font-size: 20px;
	/* font-weight: bold; */
	text-align: center;
	height: 48px;
}

.zz-first-btn {
	margin-left: 15px;
}

.tr-current {
	background: #a9caff;
}

i {
	font-style: normal;
}

.zz-tb-btns {
	padding: 15px 0 15px 0;
	text-align: center;
	/* margin-top: 50px; */
}

.zz-tb-btns .btn {
	margin-right: 10px
}

.cs-ul-form li {
	font-size: 18px;
	/* font-weight: bold; */
}

.cs-ul-form li.cs-name {
	text-align: right;
	line-height: 40px;
}

.cs-ul-form li.zz-lh {
	line-height: 24px;
}

.cs-ul-form li {
	padding: 10px;
}

.cs-ul-form li div {
	padding: 0
}

.cs-ul-form select {
	width: 100%;
	height: 40px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
	padding: 0 5px;
	border: 1px solid #ccc;
}

.password, .username {
	height: 50px;
	position:relative;
}

.username input, .password input {
	border:1px solid #999;
	width: 280px;
	padding-left: 30px;
}

.username p, .password p {
	margin-top: 8px;
	margin-right: 8px;
}

.password {
	margin-top: 20px;
}

.login-btn {
	margin-top: 20px
}
.login-pos{
	position:absolute;
	left:40px;
}

.zz-marginB {
	/* margin-bottom: 15px; */
	text-align: left;
	/* border: 1px solid #999; */
	margin-top: -1px;
	width: 402px
}

.zz-marginB .demo-list {
	line-height: 30px;
	height: 30px;
	margin-top: 4px;
}

.zz-marginB label {
	display: block;
	line-height: 48px;
	padding: 0px 10px;
	margin-bottom: 0;
	border-bottom: 1px solid #ddd;
}

.modal-footer {
	text-align: center
}

.modal-title {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}

.modal-header {
	background: #1566ec;
}

.cs-dis-tab div {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.zz-input {
	font-size: 20px;
	/* font-weight: bold; */
	white-space: nowrap;
	text-align: left;
	line-height: 40px;
	color: #555;
}

.zz-price {
	font-size: 24px;
}

.zz-code {
	/* padding: 10px; */
	padding-bottom: 0;
	/* height: 100px; */
	position: relative;
}

.zz-code table {
	width: 100%
}

.zz-code table td {
	font-size: 20px;
	font-weight: bold;
}

.zz-img-name {
	text-align: center;
}

.zz-code table div {
	text-align: center;
	display: inline-block;
}

div.zz-price-all {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding-top: 15px;
	/* padding-right: 10%; */
	background: #e5e5e5;
	border-radius: 0 0 8px 8px;
	/* border-top:1px solid #bbb; */
}

.zz-pay {
	display: inline-block;
	margin-right: 20px
}

.zz-pay2 {
	text-align: center;
	padding: 0;
	margin-top: 20px;
	background: #fff;
	box-shadow: 0 0 2px #ddd;
	padding-bottom: 30px
}

.zz-2dcode {
	display: inline-block;
	margin-right: 10px;
}

.zz-pay label {
	padding: 6px;
	padding-top: 10px;
	width: 90px;
	height: 80px;
	cursor: pointer;
}

.zz-pay .zz-current {
	/* border: 1px solid #cee1ff; */
	margin: 0px;
	border-radius: 5px;
	background: #fff;
	height: 78px;
	box-shadow: 0 0 4px #95bbf7;
}

.zz-iframe {
	width: 100%;
	background: #fff;
	border: 0;
}

.zz-pay input {
	margin-top: 16px;
}

.cs-lg-height {
	min-height: 400px
}

.cs-lg-width {
	width: 780px
}

div.editable-select-options {
	z-index: 9999
}

.editable-select-options li {
	font-size: 18px;
}

.cs-ul-form .editable-select {
	width: 330px;
}

.zz-paycode {
	/* height: 100px */
	display: inline-block;
	position: absolute;
	left: 50%;
	margin-left: -440px;
	margin-top: 55px;
	width: 380px;
}

.zz-bottom-copy {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	color: #fff;
}

.zz-fname {
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	padding-bottom: 10px;
	margin-top: -45px;
	margin-left: -90px;
	vertical-align: middle;
	display: inline-block
}

.zz-price-td p, .zz-price-td i {
	display: inline-block;
}

.zz-price-td i {
	margin-top: 10px
}

.zz-no-margin {
	margin: 0;
}

.zz-text-left {
	/* text-align: left; */
	
}

.zz-paint-page {
	/* margin: 0 auto; */
	/* width: 258px; */
	/* box-shadow: 0 0 6px #666; */
	border-radius: 4px;
	padding: 10px;
}

.zz-search {
	width: 300px;
	margin: 0 auto;
}

.zz-title2 img {
	/* height: 40px; */
	
}

.zz-btn {
	/* width: 80px; */
	font-size: 12px;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background: #fff;
	cursor: pointer;
}

.zz-hide {
	display: none;
}

.change-btn {
	position: absolute;
	top: 76%;
	left: 43%;
	margin-top: 108px;
}

.change-btn div {
	padding: 5px;
	display: inline-block;
	cursor: pointer;
}

.zz-ok img {
	/* float: left; */
}

.zz-ok-text {
	/* float: left; */
    margin-top: 2px;
    margin-left: 10px;
    /* font-size: 24px; */
    /* font-weight: bold; */
    font-size: 20px;
}

.zz-dis-tab2 {
	text-align: center;
}

div.zz-pay-fa {
	position: absolute;
	left: 50%;
	margin-left: -90px;
	background: #fff;
	padding: 10px;
	height: 178px;
	margin-top: 20px;
	/* padding-top: 55px; */
	text-align: center;
	width: 180px
}

.zz-fa-text {
	font-size: 16px;
	padding: 8px;
}

div.zz-text-wran {
	font-size: 16px;
	font-weight: normal;
	margin-top: 4px;
	line-height: 30px;
}

.zz-foodtypes {
	height:
}

.zz-tb-title {
	background: #4887ef;
	color: #fff;
}

.zz-stats {
	/* float: right; */
	/* position: absolute; */
	padding-right: 10px;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #4887ef;
	color: #fff;
	/* border: 1px solid #1566ec;
	border-top: 0;
	border-radius: 0 0 6px 6px ; */
	padding-left: 5px;
}

.zz-stats2 {
	
}

.zz-stats i, .zz-stats p {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
}

.zz-btn-head .icon {
	margin-right: 5px;
	font-size: 18px;
}

.text-danger {
	color: #dc3330;
}

.input-group-btn .icon {
	font-size: 18px;
	margin-right: 5px;
}

.input-group-btn .btn {
	width: 100px;
}

.zz-notice {
	/* height: 80px; */
	line-height: 80px;
	font-size: 18px;
}

.zz-notice2 {
	font-size: 18px;
	padding: 10px;
	text-align: center;
}

.zz-food-pic .zz-paint-page {
	/* float: left; */
	
}

.zz-choose1 {
	text-align: center;
}

.zz-choose1	img {
	margin: 100px 30px 0 60px;
}

.zz-choose1 h3 {
	color: #0964f7;
	text-align: left;
}

.zz-choose1 p {
	font-size: 16px;
	text-align: left;
}

.zz-choose {
	padding-top: 10px;
	padding-bottom:10px;
}

.zz-choose div {
	/* line-height: 30px */
	
}

.zz-pay-all p {
	margin: 0;
	font-weight: normal;
}

.zz-2dcode2 {
	position: relative;
	/* border: 1px solid #1566ec; */
	/* padding: 5px 20px; */
	/* background: #fff; */
	border-radius: 4px;
	width: 428px;
}

.wx-pay, .tb-pay {
	position: absolute;
	left: -129px;
	top: -1px;
	text-align: left;
	width: 128px;
	background: #fff;
	height: 50px;
	line-height: 50px;
	font-weight: normal;
	font-size: 16px;
	padding-left: 8px;
	cursor: pointer;
	border-radius: 4px 0 0 4px;
}

.tb-pay {
	top: 50px
}

.pay-current {
	/* background: #1566ec; */
	/* color: #fff; */
	width: 129px;
	border: 1px solid #1566ec;
	border-right: 0;
	border-radius: 4px 0 0 4px;
}

.modal-body {
	text-align: center
}

.zz-food-pic {
	height: 360px;
	overflow: auto;
	background: #f1f1f1;
}

.modal-content {
	/* height: 650px; */
	overflow: auto;
}

.editable-select {
	padding: 2px 8px 2px 12px
}

span.select2-selection {
	height: 40px;
}

.p-btn:hover, .p-btn:active {
	background: #4887ef;
	color: #fff;
}

.select-pay {
	padding: 0px;
	text-align: center;
	padding-left: 10px;
	border-bottom: 1px solid #ddd;
}

.select-pay span {
	/* display:block; */
	/* width: 200px; */
	line-height: 60px;
	/* margin-right: 10px; */
	font-size: 16px;
	/* border: 1px solid #1566ec; */
	padding: 0 25px;
	cursor: pointer;
	padding-right: 0;
	/* background: #4887ef; */
	/* border-radius: 4px; */
}

.select-pay .pay-current2 {
	background: #fff;
	/* color: #fff; */
}

.prints-choose {
	height: 50px;
	padding-left: 40px;
}

.prints-choose span {
	line-height: 42px;
	font-size: 18px;
	margin-top: 7px;
	display: inline-block;
	padding: 0 40px;
	/* border:1px solid #1566ec; */
	border-radius: 4px;
	cursor: pointer;
	background: #fff;
}

.prints-choose .zz-current {
	background: #4887ef;
	color: #fff;
}

.prints-choose {
	text-align: center
}
/* .prints-choose2{
	text-align: left;
} */
.zz-input span {
	/* margin-top: 3px; */
	border-radius: 4px;
}

table.zz-choose {
	width: 100%;
	/* background: #fff */
}

table.zz-choose td {
	/* border: 1px solid #0052da; */
	
}

table.zz-choose .zz-name {
	background:;
}

.zz-base-info {
	padding: 10px 20px;
}
.zz-base-info .zz-input{
	line-height:38px;
	height:38px;
}
table.zz-choose .zz-name, table.zz-choose .zz-input {
	line-height: 30px;
	min-width: 130px;
}

.select2-results__option {
	font-size: 16px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered
	{
	text-align: left
}

label {
	font-weight: normal;
	margin:0;
}

.text-price {
	text-align: right;
}

.nums {
	width: 100px;
}

.cons {
	width: 150px;
}

.cons2 {
	width: 250px;
}
.cons2 .zz-show-btn1{
	height:36px;
	line-height:36px;
}
input.line-nums {
	width: 60%;
	font-size: 20px;
	border: 1px solid #ddd;
}

.clear-btn {
	padding: 0 10px;
	float: left;
	margin-top: 5px;
}

.clear {
	font-size: 12px;
	position: absolute;
	right: 0px;
	top: 15px;
}

.scan {
	text-align: left;
	position: relative;
	padding: 0 15px;
}

.scan div {
	text-align: left;
}

.scan input {
	font-size: 20px;
}

.scan .btn {
	text-align: center
}

.line-nums {
	
}

.check-code {
	
}

.show-code {
	margin-left: 20px;
}

.code-wirite .btn {
	/* text-align: left; */
	
}

.show-modal-btn {
	cursor: pointer;
}

p {
	margin: 0 0 0px;
}

.zz-reports {
	position: relative;
	border: 1px solid #ddd;
	padding: 0;
	box-shadow: 0 0 2px #ddd;
	background: #fff;
	border-radius: 4px;
	/* margin-bottom: 10px; */
	margin-top: 5px;
	font-size: 16px;
}
.zz-reports b{
	font-weight:500;
}
.zz-reports .zz-reports2, .zz-reports .zz-reports3 {
	height: 34px;
	line-height: 34px;
}

.zz-reports .zz-reports2 {
	border-bottom: 1px solid #eaeaea;
}

.zz-side-btn {
	position: absolute;
	right: 10px;
	bottom: 2px;
}

.zz-side-btn .btn {
	width: 90px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	border-radius: 4px;
	font-size: 14px;
	border: 1px solid #1a91eb;
	color: #1a91eb;
	float:left;
	margin-left: 10px;
	background: #3982fb;
    color: #fff;
}

.zz-side-btn .btn:hover {
	background: #1a91eb;
	color: #fff;
}

/* .zz-reports .col-md-3 {
	padding: 0;
}
 */
.line-title {
	font-size: 16px;
	color: #1a91eb;
	text-align: left;
	/* margin-left: 5px; */
	display: inline-block;
	font-weight: 600;
	white-space: nowrap;
	overflow: auto;
}

.text-default {
	color: #666;
}

.zz-complete {
	margin-right: 40px;
}

.zz-circle {
	display: inline-block;
    border-radius: 50px;
    padding: 0 10px;
    height: 23px;
    line-height: 20px;
    text-align: center;
    border: 3px solid #1a91eb;
    margin-top: 5px;
    margin-right: 5px;
    background: #1a91eb;
    color: #fff;
}

.line-title span {
	float: left;
}

.text-default {
	padding: 0;
}
/* .btn-primary,.btn-primary:hover,.btn-primary:active{
	background: #fff;
    border-color: #4887ef;
    color: #4887ef;
} */
input.btn {
	border-radius: 4px;
	border: 1px solid #999;
	background: #f0f5ff;
}

.zz-list {
	line-height: 40px;
	background: #fff;
	margin-top: 10px;
	padding: 10px;
	box-shadow: 0 0 2px #999;
}

.zz-list div {
	font-size: 18px;
	text-align: left;
}

.text-success {
	color: #fff;
}

div.zz-pay-price {
	/* font-size: 28px; */
	font-weight: normal;
	/* color: #1566ec; */
	/* position: absolute; */
	float: right;
	right: 40px;
	top: 80px;
	/* font-size: 24px; */
}


.select-pay label {
	/* display: block; */
    /* width: 200px; */
    line-height: 60px;
    /* margin-right: 10px; */
    font-size: 16px;
    /* border: 1px solid #1566ec; */
    padding: 0 15px;
    cursor: pointer;
   
}
   .select-pay .active{
	background: #4887ef;
    color: #fff;
} 

div.demo-list {
	display: inline-block;
	float: left;
	margin-top: 17px;
	margin-right: 0px;
	height: 40px;
}

div.demo-list ul {
	padding: 0;
}

div.demo-list ul li {
	padding: 10px;
}

.mon-notice {
	float: right;
	color:;
}

.zz-cont-box .zz-title2 {
	color: #333;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.success-modal {
	width: 100%;
	height: 100%;
}

/* .success-modal .cs-alert-width{
	height: 100%;
	width: 100%;
} */
.zz-table2 {
	text-align: center;
	padding: 40px;
}

.zz-tb-btns {
	/* padding: 0; */
	
}

.zz-tb-btns2 a {
	display: block;
	/* margin: 0 auto; */
}

.zz-tb-btns2 .btn {
	margin: 10px auto 30px;
	/* width: 300px; */
}

.show-modal {
	position: absolute;
	/* width: 1280px;
	height: 1024px; */
	background: #fff;
	left: 10px;
	right: 10px;
	top: 80px;
	bottom: 10px;
	z-index: 100;
}

.font-big {
	font-size: 20px;
}

.zz-center-pay {
	width: 80%;
	margin: 0 auto;
}

.text-code {
	font-size: 24px;
	color: red;
}

.lt-btn {
	border-radius: 4px;
	padding: 3px;
	padding-right: 5px;
	width: auto;
	height: auto;
	/* background: rgba(255, 255, 255, 0.8); */
	/* margin: 10px 20px 20px 20px; */
}

.lt-btn a {
	width: 120px;
    height: 36px;
    line-height: 36px;
    background:#e80000;
    border-radius:4px;
}

.usernames i {
	font-size: 22px;
	display: inline-block;
    width: 30px;
}

.zz-btns .warn-text {
	font-size: 22px;
	color: red;
	margin-top: 40px;
}

.key-box {
	
}

.select2-container {
	/* width: 100%; */
	/* height: 100%; */
	
}

.select2-search--dropdown {
	position: relative;
}

.softkeys {
	position: fixed;
	left: 10px;
	right: 10px;
	bottom: 15px;
	z-index: 11111;
	/* width: 100%;
	height: 300px; */
	background: #b2d5ff;
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 10px 0;
	width: 500px;
}

.softkeys__btn {
	display: inline-block;
	height: 51px;
	text-align: center;
	font-size: 28px;
	line-height: 1.8em;
	min-width: 1em;
	padding: 0em;
	margin: 0 0.1em 0.3em 0.1em;
	border: 1px solid #999;
	border-radius: 5px;
	cursor: pointer;
	width: 66px;
	background: #fff;
	vertical-align: top;
	/* font-weight: 600; */
}

.softkeys__btn:nth-child(27) {
	/* width: auto; */
	/* padding: 0 20px; */
	
}

.softkeys {
	padding: 0;
    width: 950px;
    height: 295px;
}
.notice{
	height: 40px;
	line-height: 40px;
    margin-bottom: 5px;
    font-size:18px;
}
.btn-default {
	border-color: #000;
}

.softkeys__btn[data-type="close"] {
	border: 1px solid #93caf9;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	position: absolute;
	right: 5px;
	top: 5px;
	line-height: 28px;
    color: #999;
}

.softkeys__btn[data-type="delete"] {
	padding: 0 20px;
	width: 100px;
	height: 52px;
    font-size: 20px;
    line-height: 54px;
    background: #d9534f;
    color: #fff;
}

.cs-mred {
	color: red;
	padding: 0px 4px;
}

.zz-show-btn1, .zz-show-btn2 {
	width: 80px;
    background: #3982fb;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    height: 30px;
    line-height: 17px;
}

.zz-show-btn2 {
	border: 1px solid #f58c32;
	background: #f58c32;
}

.zz-show-btn1:hover, .zz-show-btn2:hover {
	color: #fff;
}

.select2-container {
	width: 100%;
	/* height: 100%; */
}
.zz-input-notice{
 	color: #dc3330;
 
}
.zz-sure-notice{
	padding: 20px 0;
	font-size: 20px;
}

.zz-sure-notice i,.zz-sure-notice b{
 	color: #dc8703;
}
.cs-all-ps .cs-check-down li, .cs-all-ps .cs-check-down2 li{
	font-size:16px;
	padding: 0 10px;
}
.cs-all-ps .cs-check-down li:hover{
	background: #4887ef;
    color: #fff;
}
.cs-all-ps{
	width:402px;
	position:relative;
}
.cs-all-ps .cs-input-box{
	width: 402px;
}
.cs-all-ps .cs-down-arrow{
	width: 40px;
    height: 38px;
}
.cs-all-ps .cs-check-down{
	width: 402px;
	top: 39px;
	text-align:left;
}
.cs-check-down,.cs-check-down2{
  /* width:200px; */
  border:2px solid #4887ef;
  top: 46px;
  height:400px;
  overflow:auto;
  z-index: 9999;
  position:absolute;
  background: #fff;
  margin-top: -1px;
  border-radius:0 0 3px 3px;
}
.cs-down-input:focus{
  border:2px solid #4887ef;
}
.print-btns,.print-btns2{
	background:#f1f1f1;
	border-bottom:1px solid #ddd;
	padding: 5px 15px;
	width:100%;
	padding-bottom: 0;
}
.print-btns{
	padding: 5px 1px;
}
.print-all{
	padding: 10px 70px;
    border-radius: 5px 5px 0 0;
    background: #ddd;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    height: 46px;
    line-height: 30px;
}
.print-current{
	background: #0964f7;
    color: #fff;
}
.zz-add-title{
	padding: 10px; 
    font-size: 22px;
    text-align: center;
    background: #ccc;
    margin-bottom: 20px;
}
.cs-ul-form .cs-name{
	padding-right:0;
}
.cs-ul-form .zz-input,.cs-ul-form .cs-in-style{
	padding-left:0;
}
.zz-clear-btn{
	position: absolute;
    left: 352px;
    top: 0;
    height: 40px;
    border: 1px solid #999;
    background: #fff;
    border-radius: 4px;
    width: 50px;
    /* font-size: 28px; */
    background: #4887ef;
    line-height: 20px;
}
.zz-clear-btn2{
	position: absolute;
    right: 30px;
    top: 3px;
    height: 36px;
    /* border: 1px solid #999; */
    background: #fff;
    /* border-radius: 0 4px 4px 0; */
    width: 40px;
    /* font-size: 28px; */
    /* background: rgba(255,255,255,0); */
    line-height: 20px;
    border:0;
}
.zz-clear-btn2 i{
	color: #999;
    font-size: 12px;
}
.zz-clear-btn2:active,.zz-clear-btn2:visited,.zz-clear-btn2:focus{
	border:0;
	outline:0;
}
.zz-clear-btn i{
	font-size: 24px;
    color: #fff;
}
.time-form{
	float: right;
    margin-left: 30px;
    overflow:hidden;
    position: relative;
}
.time-form i{
	font-size: 24px;
    float: left;
    margin-top: -4px;
    position: absolute;
    right: 2px;
    top: 6px;
    color: #0a64f7;
}
.time-form input{
	border:1px solid #1a91eb;
}
._inspection_fee{
	color:red;
}
a,a:hover{
	text-decoration: none;
}


.cs-pagination li {
    float: left;
    margin: 2px;
    line-height: 46px;
}

.cs-n-active{
	background: #0964f7;
    color: #fff;
}
.cs-distan {
    margin-left: 10px;
    background:#fff;
}
.cs-b-nav-btn {
    display: block;
    height: 46px;
    padding: 0 18px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 46px;
    border-radius: 2px;
}
.zz-tb-btns3 a.btn{
	display:inline-block;	
	margin:5px;
}
.zz-name2{
	margin-right:10px;
}
._item_name{
	font-size:16px;
}
.cs-hide {
    display: none;
}
.showTime{
	margin-top:-30px;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #fff;
	background: #fff;
    color: #0b65f7;
	position: absolute;
	right: 14px;
	top: 40px;
	z-index:1000;
}
.pay-password{
	padding: 20px 30px;
	background: #ddd;
}
.pay-input[type=password]{
	background: #fff;
	text-align: center;
	margin: 10px 0 5px 0;
	letter-spacing: 16px;
	border: 1px solid #999;
	width: 200px
}
.pay-btn{
	margin-top: 20px;
}
.text-warning{
	color:#ffa100;
}

.zz-show-btn{
    position: absolute;
    right: 15px;
    top: 10px;
    height:40px;
    width:40px;
    line-height:40px;
}
.zz-show-btn .icon{
	font-size:20px;
	color: #025df7
}
.zz-title-bg{
	width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    background:#007eea url('img/top.jpg') center center no-repeat;
    background-size: 100%;
    border-radius: 4px 4px 0 0;
}