<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration> 
<!-- 开启延迟加载  -->
 <settings>
    <!-- lazyLoadingEnabled:延迟加载启动，默认是false  -->
    <setting name="lazyLoadingEnabled" value="true"/>
    <!--  aggressiveLazyLoading：积极的懒加载，false的话按需加载，默认是true -->
    <setting name="aggressiveLazyLoading" value="false"/>
         
	<!-- 开启二级缓存，默认是false -->
    <setting name="cacheEnabled" value="true"/>
     <!-- 日志实现，这里使用STDOUT_LOGGING输出到控制台 -->
     <setting name="logImpl" value="STDOUT_LOGGING" />
     <!-- 显示SQL中的参数 -->
     <setting name="mapUnderscoreToCamelCase" value="true"/>
 </settings>

 <typeAliases>
	
 </typeAliases>

 <mappers>    
 <!--  
  <mapper resource="com/dayuan/mybatis/UserMapper.xml"/>
 -->
 </mappers>
</configuration>