
*{
    font-style: normal;
}
h4{
    padding:5px;
}
ul{
    padding-left:20px;
    background: #fff;
}
a{
    color:#000;
    font-size: 14px;
}
a:link{
    color:#009a44;
    text-decoration: none;
}
a:hover{
    color:#009a44;
    text-decoration: none;
}
a:active{
    color:#009a44;
    text-decoration: none;
}
body{
    background: #f5fff9;
}
li{
    list-style: none;
}
section{
    overflow:auto;
}
.ui-list-action{
    font-size: 14px;
    color:#666;
}
.ui-fl{
    float: left;
}
.ui-fr{
    float: right;
}
.ui-bg-white{
    background: #fff;
    line-height: 36px;
    margin: 0;
    border: 1px solid #ddd;
    padding-top: 4px;
    border-radius: 5px;
}
.ui-first-info,.ui-second-info,.ui-third-info{
    margin-bottom: 2px;
    border-radius: 5px;
    /*border:1px solid #ddd;*/

}
.ui-third-info{
    border-left:none;
    border-bottom: none;
}
.ui-third-info ul{
    padding-bottom: 5px;
}
.ui-third-info li{
}
.ui-state{
    padding-top:10px;
    padding-bottom: 5px;
}
.ui-border-t{
    border-top: 1px solid #eee;
}
.ui-border-b{
    border-bottom: 1px solid #eee;
}
.ui-title-b{
    border-bottom: 1px solid #5cb85c;
}
.ui-b-style{
    border:;
    width:100%;
}
.ui-mark-btn{
    width: 50px;
    height: 24px;
    display: inline-block;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    line-height: 2;
    border: 1px solid #ddd;
}
.ui-mark{
    border-radius: 6px;
    width: 50px;
    height: 24px;
    display: inline-block;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    border: 1px solid #ddd;
    padding-left:6px;

}

.ui-back-width{
    width: 128px;
}

.glyphicon-style{
    margin:4px 0 0 3px;
}

.ui-danger{
    color: #fff;
    background-color: #d9534f;
}
.ui-success{
    color: #fff;
    background-color: #5cb85c;
}
.ui-info {
    color: #fff;
    background-color: #5bc0de;
}
.ui-default {
    color: #000;
    background-color: #ddd;
}
.ui-warning{
    color: #f0ad4e;
}
.ui-blue{
    color:#337ab7;
}
.ui-red{
    color:#d9534f;
}
.ui-sampling{
    color:#bbb;
}

.ui-green{
    color:#5cb85c;
}
.cs-grey{
    color:#666;
}
.ui-info-font{
    font-size: 20px;
    font-weight: bold;
}
.ui-pos-re{
    position:relative;
}
.ui-pos-ab{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:20px;
    line-height: 50%;
}
.ui-ab-wh{
    left:0;
    top: 0;
    bottom:0;
    width:40px;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px 0 0 4px;
    font-size: 18px;
    font-weight: bold;
    height:100%;
}
/* .ui-ab-wh span{
    position:absolute;
    top: 49%;
    left:40%;
} */
.cs-dis-table{
    height: 100%;
    vertical-align: middle;
    display: table;
    width: 100%;
     	}
.ui-ab-wh span{
	vertical-align: middle;
	display:table-cell;
}
.ui-state-lis{
    padding:0;
    height:30px;
}
.ui-state-list span{
    text-align: left;
    font-size: 12px;
    float:left;
}
.ui-state-active{

}
.ui-active{
    color:#d9534f;
}
.ui-active-comp{
color:#5cb85c;
}

.ui-title{
    width:150px;
    height:36px;
    background: #5cb85c;
    line-height: 36px;
    text-align: center;
    color:#fff;
    margin:10px 0 10px 0 ;
    border-radius: 30px 30px 30px;
    border:1px solid #ddd;
}
.ui-col-1{
    width:36%;
    max-width:140px;   
    text-align: right;
    float:left;
    white-space: nowrap;
}
.ui-col-3{
    width:63.999%;
    text-align: left;
    float:left;
}
.ui-li-height{
    line-height: 28px;
}
/* .ui-li-height img{
    height: 24px;
} */
.page-header span{
    background: #009a44;
    float:left;
    width:6px;
    height:30px;

}
.ui-headed h4{
    background: #5cb85c;
    height:46px;
    line-height: 46px;
    text-align: center;
    color:#fff;
    padding: 0;
    margin:0;
    font-size: 16px;
}
.page-header h4{
   /* height:50px;*/
   font-size: 14px;
   font-weight: bold;
}

.ui-line{
    border-bottom:2px solid #009a44;
    margin-top:-10px;
}

.ui-back-btn{
    margin:0 10px;
}
.ui-border-left{
    border-left:1px solid #ddd;

}
.ui-padding{
    padding-left:30px;
    border-bottom:none;
}
.ui-b-none{
    border-bottom:none;
}
.ui-border-radius a{
        border-radius: 0 0 5px 5px;
}
.ui-back-info h5{
    font-weight: bold;
    padding:5px 10px 10px 0px;
    /*height:15px;*/
    background: #fff;
}
.ui-border-dotted{
    border-bottom: 1px dotted #ddd;
}
.ui-btn{
    display:inline-block;
    height:36px;
    width:100%;
    background: #ccc;
    text-align: center;
    line-height: 36px;

}
.ui-btn:hover{
    background: #ddd;
}

a:hover{
    text-decoration:none;
}
.ui-hide{
    display:none;
}
.ui-ul-pad{
    padding-left:10%;
}

.ui-vege-name{
    width:30px;
}
.ui-time{
    padding:10px;
    border:1px solid #ddd;
    background: #fff;
    margin: 5px 0;
    border-radius: 4px;
}
.ui-search{
    background: #5cb85c;
    color:#fff;
    display:inline-block;
    height:32px;
    width:60px;
    line-height: 32px;
    text-align: center;
    border-radius: 4px;
    margin-left: 10px;
}
.ui-search-time{
    width:160px;
    height:34px;
    border:1px solid #ddd;
    border-radius: 4px;
    padding:0 4px;
    text-align: center;
}
.ui-day-pre,.ui-day-next{
    padding:0 4px;
}
.ui-footer{
    padding:5px 0 0 0;
    text-align: center;
}

/*图片*/
.ui-img-box{
    display:block;
    overflow:hidden;
}
.ui-img-box img{
    height:50px;
}
.cs-shipin{
    border:1px solid #ddd;
    display:inline-block;
    border-radius: 4px;
}
.ui-list-header{
  background: #f1f1f1;
  font-weight: bold;
}
.ui-list-header,.ui-list-body{
  text-align: center;
}

.ui-reg-name{
  margin-bottom: 5px;
}
.ui-ul{
  padding:0 10px 0 10px;
}
.ui-text-bold{
  font-weight: bold;
}
.ui-ul-big{
  padding-left: 30px;
}
.ui-p{
  padding-top: 4px;
}
.ui-btn-height{
  height: 36px;
  line-height: 26px;
}
.ui-map-ul{
    box-shadow: 0 0 2px #ccc;
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 4px;
    padding: 10px;
    background: #fff;
}

.ui-map-ul li{
    padding:5px 0 0 10px;
}
.ui-map-ul p{
    margin-bottom: 5px;
}
.local-bg{
    display:inline-block;
    height:48px;
    line-height: 46px;
    width:34px;
    text-align: center;
    background:url(../img/local.png) no-repeat center center;
    color:#fff;
    /*font-weight: bold;*/
    position: absolute;
    left: 5px;
    top: 5px;
}
.ui-monitor-pointer{
    position:absolute;
    right:10px;
    bottom:10px;
    height: 28px;
    line-height: 15px;
}
a.sign-data{
    font-size: 20px;
    margin-top:8px;
    margin-right: 10px;
    margin-left: 10px;
    color:#fff;
}
.header-bg{
    background:blue;
    height:130px;
}
.header-info{
    margin:20px 0 0 0;
}
.header-info p{
    text-align: center;
    color:#fff;
}
.ui-head{
    text-align: center;
    line-height: 64px;
    background:red;
}
.login-out{
    position:absolute;
    bottom:20px;
}
.ui-navbar{
    
    overflow:hidden;
}
.ui-navbar{
    /* border:1px solid #ddd; */
    border-bottom:0;
    border-radius: 6px 6px 0 0;
}
.ui-navbar ul{
    padding:0;
    margin-bottom: 0;
}
.ui-navbar li{
    float:left;
    text-align: center;
    line-height: 26px;
    padding:5px 10px;
}    
.ui-navbar li:hover{
    background:#f1f1f1;
}
.ui-navbar li.active{
    background:#4b97f5;
    color:#fff;
    font-weight: bold;
}
.ui-dtpicker{
    padding:5px;
    height:43px;
    text-align: center;
}
.ui-border-b{
    border-bottom:1px solid #ddd;
}
.ui-unq-title{
    height:30px;
    line-height: 30px;
    padding-left:10px;
    
    font-weight: bold;
    text-align: left;
}
div.ui-div-title{
    color:#fff;
    line-height: 36px;
    height:36px;
    padding:0 10px;
    background:#5cb85c;
    border-top:1px solid #ddd;
    font-weight: bold;
    text-align: center;
    width:100%;
    position:relative;
}
.font-size-div{
    font-weight: normal;
}
.ui-nav-checked,.ui-nav-stock,.ui-nav-sale{
    background: #f1f1f1;
}
.ui-nav-top{
	background:#fff;
	border:1px solid #ddd;
}
.col-md-4,.col-xs-4{
    padding:0;
}

.ui-third-info:last-child .ui-bg-white{ 
    border-radius: 0 0 6px 6px;
}
.user-info{
    background:#fff;
    padding:20px;
    border:1px solid #ddd;
    border-top:0;
    margin-bottom: 10px;
    padding-bottom: 0px;
}
a.ui-pos-right{
    position:absolute;
    right:10px;
    color:#fff;
}

.ui-person-info{
    
    width:100%;
    /*height:80px;*/
    background:#fff;
    padding:10px;
     border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.ui-second-info{
    margin: 0;
}
.mui-segmented-control{
    background:#fff;
    box-shadow: 0 1px 2px #ddd;
}

.mui-tabcontent-box{
    display:none;
    padding:0 5px;
}
.mui-tabcontent-active{
    display:block;
}
.ui-sign-btns{
    text-align: center;
    /*padding-top:20px;*/   
    background:#fff;
}
.ui-person-name{
    font-size: 16px;
}

.gradient-blue {
    color:#fff;
  background: -webkit-linear-gradient(#4fa1e6, #337ab7); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#4fa1e6, #337ab7); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#4fa1e6, #337ab7); /* Firefox 3.6 - 15 */
  background: linear-gradient(#4fa1e6, #337ab7); /* 标准的语法 */
}
.gradient-red {
    color:#fff;
  background: -webkit-linear-gradient(#fb4e48,#ac2925); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#fb4e48,#ac2925); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#fb4e48,#ac2925); /* Firefox 3.6 - 15 */
  background: linear-gradient(#fb4e48,#ac2925); /* 标准的语法 */
}

.app-system{
    /* border-bottom: 1px solid #ddd; */
   /*  padding-bottom: 20px; */
}
.app-system div,.app-system a{
    text-align: center;
}

.system-icon{
    width:70px;
    height:70px;
    /*background:#ddd;*/
    margin-top:10px;
    display:inline-block;
    margin-bottom: 6px;
}
.system-icon img{
	width:100%;
}
.system-name{

}
.notice-box p {
    text-align: left;
    color: #333;
}
.notice-box .ui-person-state{
    color:#fff;
    margin: 12px 5px;
}
.notice-box i {
    text-align: right;
    color: #999;
}
.pad-ul{
    border:1px solid #ddd;
    border-radius: 5px;
}
.pad-ul .col-md-4,.pad-ul .col-xs-4{
    padding:0 10px;
}
.pad-ul li p{
    margin-bottom: 0;
}
.pad-ul li{
    line-height: 36px;
}
.pad-ul2{
    padding:5px 0;
}
.pad-ul2 li{
    line-height: 26px;
}
.ui-name{
    margin-top: 6px;
}
.pad-ul .ui-number{
    color: #fff;
    background: #337ab7;
    padding: 6px;
    border-radius: 50%;
    display: inline-block;
    line-height: 9px;
    margin:10px 10px 0 0;
}
.pad-ul2 .ui-number{
    margin: 8px 10px 0 0;
}
.pad-ul2 .ui-icon-right{
    margin-top:12px;
}

.ui-list-title{
    font-weight: bold;
    text-align: left;
    padding:0px 5px 0px 5px ;
    line-height: 28px;
    margin-bottom: 0;
    border-left: 5px solid #5bb85b;
    margin:5px 0 5px 0;
}
.ui-list-top,.ui-list-bottom{
    padding:0 10px;
}


.ui-sign-in{
    width:100%;
    height:60px;
    background:#fff;
    position:fixed;
    bottom:0;

}
.ui-sign-in2{
    width:92px;
    height:60px;
    /*background:#fff;*/
    position:absolute;
    right:14px;
    top: 43px;

}
.text-success{
    color:#5cb85c;
}
.ui-color-font{
    padding:4px;
    font-size: 16px;
    color:#fff;
    /*background:red;*/
    border-radius: 50%;
}
.ui-sign-person2{
    padding-top:4px;
    text-align: left;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
.cs-time {
    background: #fff url(../../img/time.png) no-repeat 96% center;
    padding-right: 18px;
}
.ui-bg-red{
    background:#ff5555;
}
.ui-bg-blue{
    background:#0bc0f4;
}
.ui-bg-green{
    background:#00da65;
}
.ui-bg-orange{
    background:#ffca6f;
}
.ui-bg-pink{
    background:#ff7e95;
}
.ui-bg-deblue{
    background:#3a9bff;
}
.ui-bg-purple{
    background:#9469fd;
}
.ui-sign-person{
    line-height: 30px;
    padding-left:10px;
}
.ui-dtpicker{
    background:#fff;
}
hr {
    margin-top: 0px;
    margin-bottom: 12px;
}
.ui-person-name{
    font-weight: bold;
    margin-bottom: 0px;
    height:28px;
}
.ui-person-name p{
    margin-bottom: 0px;
}
.ui-person-name .label{
    margin-top: 2px;
    margin-left: 10px;
}



.mui-segmented-control .mui-control-item{
    background:#fff;
    border:0;
    
    line-height: 40px;
}
.mui-segmented-control .mui-control-item.mui-active{
    background:#fff;
    color:#5cb85c;
    border-bottom: 3px solid #5cb85c;
}
.mui-segmented-control{
    border:0;
}
.mui-btn-blue, .mui-btn-primary, input[type=submit]{
    width:80%;
    border:1px solid #5cb85c;
    background:#5cb85c;
}
.mui-btn-blue.mui-active:enabled, .mui-btn-blue:enabled:active, .mui-btn-primary.mui-active:enabled, .mui-btn-primary:enabled:active, input[type=submit].mui-active:enabled, input[type=submit]:enabled:active{
    border:1px solid #5cb85c;
    background:#71da71;
}
.mui-ellipsis{
    color:#23a0f9;
}
.mui-content-padded{
    margin: 5px 0px;
}
.mui-input-group  .mui-input-row{
    height:38px;
}
.mui-input-row label{
    border-right: 1px solid #ddd;
    text-align: right;
    padding:10px 15px;
}
.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea{
    padding-left:10px;
}
.mui-bar .mui-icon{
    padding-top: 6px;
    padding-bottom: 6px;
}
.mui-bar{
    height:36px;
    line-height: 36px;
}
.mui-bar .mui-title{
    height:36px;
    line-height: 36px;
}
.mui-control-content{
    padding:0 10px;
}
.mui-table-view-cell{
    border:0;
    border-top:0;
    border-bottom:0;
    /*box-shadow: 0 0 3px #ddd;*/
    margin-bottom: 5px;
}
.search-none{
    text-align: center;
    padding:30px;
}
.search-none img{
    display:inline-block;
    width:80px;
    /*height:80px;*/
}
.mui-segmented-control{
    border-radius: 0;
}
.mui-segmented-control .mui-control-item{
    color:#333;
}
.mui-control-content.mui-active{
    height:auto;
    background:#fff;
}
.ui-content{
    position:fixed;
    top:0px;
    height:30px;
    z-index: 9;

}

.ui-history{
    padding:5px 10px;
}
.ui-history span{
    display:inline-block;
    margin-left:5px;
    padding:3px 10px;
    background:#ddd;
    border-radius: 50px;
    font-size: 14px;
    margin-top:5px;
}
.ui-history-list{
    padding:5px 0;
}
.ui-bg-green {
    background: #5cb85c;
}
.ui-crlce {
    padding: 4px;
    border-radius: 50%;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 2px;
}
.page-header {
    padding-bottom: 0;
    margin: 0;
}
.ui-name-width .ui-col-1{
	width:172px;
	
}
.ui-name-width .ui-col-3{
	width:auto;
	
}