<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayuan.mapper.regulatory.BaseRegulatoryPersonnelMapper" >
  <resultMap id="BaseResultMap" type="com.dayuan.bean.regulatory.BaseRegulatoryPersonnel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="reg_id" property="regId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="job_title" property="jobTitle" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="proof_code" property="proofCode" jdbcType="VARCHAR" />
    <result column="proof_sdate" property="proofSdate" jdbcType="TIMESTAMP" />
    <result column="proof_edate" property="proofEdate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="SMALLINT" />
    <result column="sorting" property="sorting" jdbcType="SMALLINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, reg_id, name, job_title, idcard, phone, proof_code, proof_sdate, proof_edate, 
    remark, delete_flag, sorting, create_by, create_date, update_by, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from base_regulatory_personnel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from base_regulatory_personnel
    where id = #{id,jdbcType=VARCHAR}
  </delete> -->
  <update id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update base_regulatory_personnel set delete_flag = 1,update_date=now()
    	where id in
		<foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
			#{ids}
		</foreach>
  </update>
  <insert id="insert" parameterType="com.dayuan.bean.regulatory.BaseRegulatoryPersonnel" >
    insert into base_regulatory_personnel (id, reg_id, name, 
      job_title, idcard, phone, 
      proof_code, proof_sdate, proof_edate, 
      remark, delete_flag, sorting, 
      create_by, create_date, update_by, 
      update_date)
    values (#{id,jdbcType=INTEGER}, #{regId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{jobTitle,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{proofCode,jdbcType=VARCHAR}, #{proofSdate,jdbcType=TIMESTAMP}, #{proofEdate,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=SMALLINT}, #{sorting,jdbcType=SMALLINT}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dayuan.bean.regulatory.BaseRegulatoryPersonnel" >
    insert into base_regulatory_personnel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="regId != null" >
        reg_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="jobTitle != null" >
        job_title,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="proofCode != null" >
        proof_code,
      </if>
      <if test="proofSdate != null" >
        proof_sdate,
      </if>
      <if test="proofEdate != null" >
        proof_edate,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="sorting != null" >
        sorting,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="regId != null" >
        #{regId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="jobTitle != null" >
        #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="proofCode != null" >
        #{proofCode,jdbcType=VARCHAR},
      </if>
      <if test="proofSdate != null" >
        #{proofSdate,jdbcType=TIMESTAMP},
      </if>
      <if test="proofEdate != null" >
        #{proofEdate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=SMALLINT},
      </if>
      <if test="sorting != null" >
        #{sorting,jdbcType=SMALLINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dayuan.bean.regulatory.BaseRegulatoryPersonnel" >
    update base_regulatory_personnel
    <set >
      <if test="regId != null" >
        reg_id = #{regId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="jobTitle != null" >
        job_title = #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="proofCode != null" >
        proof_code = #{proofCode,jdbcType=VARCHAR},
      </if>
      <if test="proofSdate != null" >
        proof_sdate = #{proofSdate,jdbcType=TIMESTAMP},
      </if>
      <if test="proofEdate != null" >
        proof_edate = #{proofEdate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=SMALLINT},
      </if>
      <if test="sorting != null" >
        sorting = #{sorting,jdbcType=SMALLINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dayuan.bean.regulatory.BaseRegulatoryPersonnel" >
    update base_regulatory_personnel
    set reg_id = #{regId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      job_title = #{jobTitle,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      proof_code = #{proofCode,jdbcType=VARCHAR},
      proof_sdate = #{proofSdate,jdbcType=TIMESTAMP},
      proof_edate = #{proofEdate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=SMALLINT},
      sorting = #{sorting,jdbcType=SMALLINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where delete_flag = 0 and reg_id is not null
		<trim suffixOverrides=",">
		<if test="obj.regulatoryObject != null">
			<if test="obj.regulatoryObject.id != null">
				and reg_id = #{obj.regulatoryObject.id}
			</if>
		</if>
		</trim>
	</sql>
  
  <!-- 分页查询  -->
  <select id="loadDatagrid" resultMap="BaseResultMap" parameterType="Object" >
    select <include refid="Base_Column_List" />
    from base_regulatory_personnel 
    <include refid="Example_Where_Clause" />
    order by create_date ${order} limit #{rowOffset}, #{pageSize}
  </select>
  
  <!-- 总数 -->
  <select id="getRowTotal" resultType="java.lang.Integer" parameterType="Object" >
    select count(1) as rowTotal
    from base_regulatory_personnel 
    <include refid="Example_Where_Clause" />
  </select>
</mapper>