<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayuan.mapper.regulatory.BaseRegulatoryTypeMapper" >
  <resultMap id="BaseResultMap" type="com.dayuan.bean.regulatory.BaseRegulatoryType" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="reg_type" property="regType" jdbcType="VARCHAR" />
    <result column="reg_type_code" property="regTypeCode" jdbcType="VARCHAR" />
    <result column="show_business" property="showBusiness" jdbcType="SMALLINT" />
    <result column="sorting" property="sorting" jdbcType="SMALLINT" />
    <result column="checked" property="checked" jdbcType="SMALLINT" />
    <result column="delete_flag" property="deleteFlag" jdbcType="SMALLINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />

    <result column="stock_type" property="stockType" jdbcType="SMALLINT" />
    <result column="reg_numbers" property="regNumbers" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, reg_type, reg_type_code, show_business, sorting, checked, delete_flag, create_by,
    create_date, update_by, update_date, stock_type
  </sql>
  <select id="selectByRegType" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select
    <include refid="Base_Column_List" />
    from base_regulatory_type
    where reg_type = #{regType,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from base_regulatory_type
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update base_regulatory_type set delete_flag = 1,update_date=now()
    	where id in
		<foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
			#{ids}
		</foreach>
  </update>
  <insert id="insert" parameterType="com.dayuan.bean.regulatory.BaseRegulatoryType" >
  insert into base_regulatory_type (id, reg_type, reg_type_code,
      show_business, sorting, checked,
      delete_flag, create_by, create_date,
      update_by, update_date, stock_type
      )
    values (#{id,jdbcType=VARCHAR}, #{regType,jdbcType=VARCHAR}, #{regTypeCode,jdbcType=VARCHAR},
      #{showBusiness,jdbcType=SMALLINT}, #{sorting,jdbcType=SMALLINT}, #{checked,jdbcType=SMALLINT},
      #{deleteFlag,jdbcType=SMALLINT}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{stockType,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dayuan.bean.regulatory.BaseRegulatoryType" >
     insert into base_regulatory_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="regType != null">
        reg_type,
      </if>
      <if test="regTypeCode != null">
        reg_type_code,
      </if>
      <if test="showBusiness != null">
        show_business,
      </if>
      <if test="sorting != null">
        sorting,
      </if>
      <if test="checked != null">
        checked,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="stockType != null">
        stock_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="regType != null">
        #{regType,jdbcType=VARCHAR},
      </if>
      <if test="regTypeCode != null">
        #{regTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="showBusiness != null">
        #{showBusiness,jdbcType=SMALLINT},
      </if>
      <if test="sorting != null">
        #{sorting,jdbcType=SMALLINT},
      </if>
      <if test="checked != null">
        #{checked,jdbcType=SMALLINT},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=SMALLINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stockType != null">
        #{stockType,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dayuan.bean.regulatory.BaseRegulatoryType" >
   update base_regulatory_type
    <set>
      <if test="regType != null">
        reg_type = #{regType,jdbcType=VARCHAR},
      </if>
      <if test="regTypeCode != null">
        reg_type_code = #{regTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="showBusiness != null">
        show_business = #{showBusiness,jdbcType=SMALLINT},
      </if>
      <if test="sorting != null">
        sorting = #{sorting,jdbcType=SMALLINT},
      </if>
      <if test="checked != null">
        checked = #{checked,jdbcType=SMALLINT},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=SMALLINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stockType != null">
        stock_type = #{stockType,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dayuan.bean.regulatory.BaseRegulatoryType" >
 update base_regulatory_type
    set reg_type = #{regType,jdbcType=VARCHAR},
      reg_type_code = #{regTypeCode,jdbcType=VARCHAR},
      show_business = #{showBusiness,jdbcType=SMALLINT},
      sorting = #{sorting,jdbcType=SMALLINT},
      checked = #{checked,jdbcType=SMALLINT},
      delete_flag = #{deleteFlag,jdbcType=SMALLINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      stock_type = #{stockType,jdbcType=SMALLINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where delete_flag = 0
		<trim suffixOverrides=",">
		<if test="obj.regulatoryType != null">
			<if test="obj.regulatoryType.regType != null and obj.regulatoryType.regType != ''">
				and reg_type like concat(concat('%',#{obj.regulatoryType.regType}),'%')
			</if>
			<if test="obj.regulatoryType.checked != null">
				and checked = #{obj.regulatoryType.checked}
			</if>
		</if>
		</trim>
	</sql>

  <!-- 分页查询  -->
  <select id="loadDatagrid" resultMap="BaseResultMap" parameterType="Object" >
    select <include refid="Base_Column_List" />
    from base_regulatory_type
    <include refid="Example_Where_Clause" />
    order by sorting asc,reg_type asc limit #{rowOffset}, #{pageSize}
  </select>

  <!-- 总数 -->
  <select id="getRowTotal" resultType="java.lang.Integer" parameterType="Object" >
    select count(1) as rowTotal
    from base_regulatory_type
    <include refid="Example_Where_Clause" />
  </select>

  <!-- 根据类型编码,查询监管对象类型 -->
  <select id="queryByRegTypeCode" resultMap="BaseResultMap" parameterType="Object" >
    select <include refid="Base_Column_List" />
    from base_regulatory_type where reg_type_code = #{regTypeCode}
  </select>

  <!-- 查询所有监管对象类型 -->
  <select id="queryAll" resultMap="BaseResultMap" parameterType="Object" >
    select <include refid="Base_Column_List" />
    from base_regulatory_type where delete_flag = 0 and checked = 1 order by sorting asc,reg_type_code asc
  </select>

  <!-- 通过类型名称查询监管对象类型 -->
  <select id="queryByTypeName" resultMap="BaseResultMap" parameterType="Object" >
    select <include refid="Base_Column_List" />
    from base_regulatory_type where delete_flag = 0 and reg_type = #{typeName}
  </select>

  <!-- 通过监管对象ID查询监管对象类型 -->
  <select id="queryByRegId" resultMap="BaseResultMap" parameterType="Object" >
    SELECT <include refid="Base_Column_List" />
    FROM base_regulatory_type WHERE delete_flag = 0
    	AND id = (SELECT reg_type FROM base_regulatory_object WHERE id = #{regId})
  </select>

  <!--查询一个默认的监管类型（最小的sorting参数）-->
  <select id="queryOneBySortAsc" resultType="com.dayuan.bean.regulatory.BaseRegulatoryType">
    SELECT
      id
    FROM
      base_regulatory_type
    WHERE
      delete_flag = 0
      AND checked = 1
    ORDER BY
      sorting ASC
      LIMIT 0,1
  </select>

  <!-- 根据机构ID查询监管对象接入情况并按照监管对象类型分组 -->
  <select id="queryRegTypeGroup" resultMap="BaseResultMap" parameterType="Object" >
   select rType.reg_type,count(*) reg_numbers from base_regulatory_object obj
    left join base_regulatory_type rType on obj.reg_type=rType.id
    INNER JOIN (SELECT id, depart_name, depart_code FROM t_s_depart WHERE delete_flag = 0 AND depart_code LIKE CONCAT((SELECT depart_code FROM t_s_depart WHERE id =#{departId}), '%')) tsd ON obj.depart_id = tsd.id
    where obj.delete_flag=0 and obj.checked=1 and rType.delete_flag=0  and rType.checked=1
    GROUP BY rType.id
    order by rType.sorting,rType.reg_type_code
  </select>
</mapper>