.myfile-list li {
    float: left;
    position: relative;
    margin-right: 4px;
}

.myfile-list li i {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: #f30909;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

input[type="file"] {
    display: none;
}

.img-upload {
    float: left;
    height: 70px;
    width: 70px;
    background: url(../img/add2.png) center center no-repeat;
    background-size: 100%;
    border: 1px solid #eee;
}

.myfile-list li {
    padding: 0;
}

label.files-upload {
    background: #0ab46a;
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 4px;
    cursor: pointer;
}

label.files-upload:hover {
    background: #18dd87;
}