@media screen and (min-width: 300px) {
	html,body{
		font-size: 14px !important;
	}
}

@media screen and (min-width: 720px) {
	html,body{
		font-size:24px !important;
	}
	.iconfont{
		font-size: 30px;
	}
	.icon-ceshi{
		font-size: 36px;
	}
	.statis-content{
		display: flex;
		background-color: #fff;
	}
	.stat-child{
		width: calc(100% - 0px) !important;
		padding-left: 0.9375rem;
		border: 0 !important;
	}
	.statis-all{
		flex-direction: column;
		width: 35%;
		border-right: 1px dashed #e4ecff;
	}
	.stat-child>div{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}
	.check-box{
		flex: 1;
	}
	.cs-type{
		margin: 0 0.3125rem;
		font-size: 0.875rem;
	}
}

a:hover {
	text-decoration: none;
}

a:active {
	color: #006fce;
	text-decoration: none;
}

a:hover {
	color: #006fce;
	text-decoration: none;
}

a:link {
	color: #006fce;
	text-decoration: none;
}

/* 頭部  s*/
.ui-headed h4 {
	background: #008ad4;
}

.mui-bar {
	background: #008ad4;
}

/* 頭部 e */

.ui-title-tr {
	background: #eee;
	color: #008ad4;

}

div.ui-title {
	padding: 0;
	margin: 0;

}

div.ui-title .ui-list-title {
	border: 0;
	margin: 0;
}

.ui-headed a {
	color: #fff;
}

.ui-container a,
.ui-container a:visited {
	color: #333;
}

.selected {
	color: #006fce;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
	color: #fff;
	background-color: #4fa3ff;
	border-color: #4fa3ff;
}

.btn-success:active:hover,
.btn-success.active:hover,
.open>.dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open>.dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open>.dropdown-toggle.btn-success.focus {
	color: #fff;
	background-color: #4fa3ff;
	border-color: #4fa3ff;
}

.ui-bg-green {
	background: #008ad4;
}

.record-local a {
	color: #008ad4;
}

.ui-success {
	background: #008ad4;
}

.ui-list-content,
.ui-list-content2 {
	background: rgba(0, 0, 0, 0);
	border: 0;
	padding: 0 5px;
}

span.infoTitle {
	color: #006fce;
}

input.user-name-bg {
	padding-left: 24px;
	background: #fff url(../login/img/username-blue.png) no-repeat 4px center;
}

input.password-bg {
	padding-left: 24px;
	background: #fff url(../login/img/password-blue.png) no-repeat 4px center;
}

#mb_btn_ok {
	background-color: #4fa3ff;
	border-radius: 4px;
}

#mb_tit {
	border-bottom: 3px solid #4fa3ff;
}

.mui-segmented-control .mui-control-item.mui-active {
	border-bottom: 3px solid #4fa3ff;
	color: #4fa3ff;
}

.mui-icon {
	color: #4fa3ff;
}

a:link {
	color: #4fa3ff;
}

.mui-btn-blue,
.mui-btn-primary,
input[type=submit] {
	background-color: #4fa3ff;
	border: #4fa3ff;
}

.mui-btn-blue.mui-active:enabled,
.mui-btn-blue:enabled:active,
.mui-btn-primary.mui-active:enabled,
.mui-btn-primary:enabled:active,
input[type=submit].mui-active:enabled,
input[type=submit]:enabled:active {
	background-color: #4fa3ff;
	border: #4fa3ff;
}

/*	border-bottom:3px solid #4fa3ff;
}*/
.ui-footer,
.ui-footer a:link {
	color: #999;
}

.ui-dz-title {
	font-size: 24px;
	display: inline-block;
	color: #003dc8;
}

.ui-check-count {
	height: 155px;
	background: -webkit-linear-gradient(#69aaff, #008ad4);
	background: -o-linear-gradient(#69aaff, #008ad4);
	background: -moz-linear-gradient(#69aaff, #008ad4);
	background: linear-gradient(#69aaff, #008ad4);

}

.ui-safe-sheild p {
	color: #008ad4;
}

.ui-headed h4 a {
	color: #fff;
}

.ui-green {
	color: #006fce;
}

.label-success {
	background: #008ad4;
}

a:link,
a:visited,
a:hover,
a:active {
	color: #006fce;
}


.pad-ul3 li i p {
	line-height: 1.75rem;
	margin-left: 0.75rem;

}

.pad-ul3 li {
	padding: 0 0 0.375rem 0.625rem;
}

p.label-style {
	float: left;
	margin-left: 0.25rem;
}

.ui-footer i {
	color: #999;
}

.statis-all {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.3125rem 0;
	background-color: #fff;
	border-bottom: 1px solid #e4ecff;
}

.check-box {
	/* border-radius: 5px; */
	height: 8.75rem;
	min-height: 130px;
}
.check-box>div{
	height: 100%;
}

.stat-child {
	border-right: 1px dashed #ddd;
	/* padding: 4px 0px 0 6px; */
	border-radius: 0.3125rem;
	color: #000;
	box-shadow: none;
	width: calc(33.33% - 0.3125rem );
	text-align: center;
}

.stat-child b {
	/* font-size: 16px; */
}

.stat-child:last-child {
	border-right: 0;
}

.check-box>div {
	flex: 1;
}

p {
	margin: 0;
}

.check-table {
	border-radius: 0.3125rem;
	overflow: hidden;
	margin-top: 0.3125rem;
}

.cs-table {
	margin: 0;
}

.flow-text {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.company-footer {
	padding: 0.3125rem;
	text-align: center;
	color: #fff;
}

.text-primary {
	color: #4f85ff;
}

.statis-content {
	border-radius: 0.3125rem;
	overflow: hidden;
}

.food-num {
	display: inline-block;
	background: #4f85ff;
	line-height: 1.4rem;
	height: 1.4rem;
	min-width: 1.4rem;
	text-align: center;
	border-radius: 0.25rem;
	font-size: 0.875rem;
	color: #fff;
}

.market-name {
	margin-top: 5px;
}

.ui-header h4 {
	background: #4f85ff;
	height: 4.25rem;
	line-height: 4.25rem;
	text-align: center;
	color: #fff;
	padding: 0;
	margin: 0;
	font-size: 1.625rem;
	position: relative;
}

.ui-header h4 a {
	position: absolute;
	color: #fff;
	left: 0.625rem;
	font-size: 1.25rem;
	width: 2.25rem;
	/* z-index: 1; */
}

.stock-name {
	padding: 0.0625rem 0.125rem 0.125rem 0.625rem;
	border: 0;
	color: #fff;
	background: #4f85ff;
}

.stock-name>div:first-child {
	align-items: center;
	font-weight: bold;
	flex: 1;
}

.stock-name .iconfont {
	color: #fff;
	margin-right: 0.25rem;
}
.stock-name .search-form input {
    width: 5rem;
	color: #333;
}

.ui-data-ul li{
	color: #333;
}
.ui-data{
	width: auto;
}
a{
	font-size: 0.875rem;
}
.cs-header,.cs-table td{
	line-height: 2.25rem;
	height: 2.25rem;
	font-size: 0.875rem;
}
.cs-table td{
	font-size: 0.875rem;
	line-height: 1rem;
}
h4, .h4{
	font-size: 1.525rem;
}
.text-center{
	padding: 0;
	padding-bottom: 15px;
}