.cs-tr-total{
    background: #e9fdea;
}
.cs-tr-total td{
    font-weight: bold;
}

a.cs-link{
    text-decoration: underline;
}

.cs-mechanism-list2{
    width:15%;
    min-width: 200px;
    height: 100%;
}
.cs-points-list2{
    width:45%;
    height: 100%;
}
.cs-secleted-list2{
    width:36%;
    height: 100%;
}
.cs-men-selcet{
    position:absolute;
    left:0;
    right:0;
    top: 40px;
    bottom:0;
    padding:10px;
}
.cs-mechanism-list-content2,.cs-mechanism-table-box2{
    height:100%;
}
.cs-important{
    font-weight: bold;
    color:#006fce;
}
.cs-mechanism-table-box{
    overflow:hidden;
}