<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayuan3.terminal.mapper.DataUnqualifiedPrintlogMapper">
  <resultMap id="BaseResultMap" type="com.dayuan3.terminal.bean.DataUnqualifiedPrintlog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="record_id" jdbcType="INTEGER" property="recordId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_username" jdbcType="VARCHAR" property="createUsername" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_username" jdbcType="VARCHAR" property="updateUsername" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, record_id, create_by, create_username, create_date, update_by, update_username, 
    update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from data_unqualified_printlog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from data_unqualified_printlog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dayuan3.terminal.bean.DataUnqualifiedPrintlog">
    insert into data_unqualified_printlog (id, record_id, create_by, 
      create_username, create_date, update_by, 
      update_username, update_date)
    values (#{id,jdbcType=INTEGER}, #{recordId,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, 
      #{createUsername,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateUsername,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dayuan3.terminal.bean.DataUnqualifiedPrintlog">
    insert into data_unqualified_printlog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="recordId != null">
        record_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createUsername != null">
        create_username,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateUsername != null">
        update_username,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="recordId != null">
        #{recordId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createUsername != null">
        #{createUsername,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateUsername != null">
        #{updateUsername,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dayuan3.terminal.bean.DataUnqualifiedPrintlog">
    update data_unqualified_printlog
    <set>
      <if test="recordId != null">
        record_id = #{recordId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createUsername != null">
        create_username = #{createUsername,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateUsername != null">
        update_username = #{updateUsername,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dayuan3.terminal.bean.DataUnqualifiedPrintlog">
    update data_unqualified_printlog
    set record_id = #{recordId,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_username = #{createUsername,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_username = #{updateUsername,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="saveBatch" parameterType="list">
  	 INSERT INTO data_unqualified_printlog(record_id, create_by, create_username, create_date, update_by, 
  	 update_username, update_date) VALUES
  	<foreach collection="list" item="log" index="index" separator=",">
		(#{log.recordId},#{log.createBy},#{log.createUsername},#{log.createDate},#{log.updateBy},
		#{log.updateUsername},#{log.updateDate})
	</foreach>
  </insert>
</mapper>