<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayuan3.terminal.mapper.InsUnitReqUnitMapper">
    <resultMap id="BaseResultMap" type="com.dayuan3.terminal.bean.InsUnitReqUnit">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="credit_code" jdbcType="VARCHAR" property="creditCode"/>
        <result column="requestId" jdbcType="INTEGER" property="requestId"/>
        <result column="requester_name" jdbcType="VARCHAR" property="requestName"/>
        <result column="unit_type" jdbcType="INTEGER" property="unitType"/>
        <result column="state" jdbcType="SMALLINT" property="state"/>
        <result column="delete_flag" jdbcType="SMALLINT" property="deleteFlag"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="link_phone" jdbcType="VARCHAR" property="linkPhone"/>
        <result column="company_address" jdbcType="VARCHAR" property="companyAddress"/>
    </resultMap>


    <!-- 分页基础查询 -->
    <select id="loadDatagrid" resultMap="BaseResultMap" parameterType="Object">
        SELECT
        iuru.id,iuru.create_by,iuru.create_date,iuru.update_by,iuru.update_date,
        ru.id AS requestId, ru.requester_name,ru.credit_code,ru.state,ru.create_date,ru.link_phone,ru.company_address,
        ( SELECT GROUP_CONCAT(request_id) FROM inspection_unit_requester_unit WHERE delete_flag = 0 AND inspection_id = #{obj.inspId})AS reqIdStr
        FROM inspection_unit_requester_unit iuru JOIN requester_unit ru ON iuru.request_id = ru.id
        WHERE iuru.delete_flag = 0 AND ru.delete_flag = 0 AND iuru.inspection_id = #{obj.inspId}
        <if test="obj.requestName!=null">
            and
            (
            requester_name like CONCAT('%',#{obj.requestName},'%')
            OR
            credit_code like CONCAT('%',#{obj.requestName},'%')
            )
        </if>
        ORDER BY ru.create_date DESC
        LIMIT #{rowOffset}, #{pageSize}
    </select>

    <select id="getRowTotal" resultType="java.lang.Integer" parameterType="Object">
        SELECT count(1) FROM inspection_unit_requester_unit iuru JOIN requester_unit ru ON iuru.request_id = ru.id
        WHERE iuru.delete_flag = 0 AND ru.delete_flag = 0 AND iuru.inspection_id = #{obj.inspId}
        <if test="obj.requestName!=null">
            and
            (
            requester_name like CONCAT('%',#{obj.requestName},'%')
            OR
            credit_code like CONCAT('%',#{obj.requestName},'%')
            )
        </if>
    </select>

    <insert id="insert" parameterType="com.dayuan3.terminal.bean.InsUnitReqUnit">
        INSERT INTO inspection_unit_requester_unit (
            inspection_id, request_id, create_by,
            create_date, update_by, update_date, param1, param2, param3)
        VALUES (#{inspectionId,jdbcType=INTEGER}, #{requestId,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR},
                #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
                #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}, #{param3,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        update inspection_unit_requester_unit set delete_flag=1,update_date=now()
        where id in
        <foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
            #{ids}
        </foreach>
    </delete>
    <!-- 根据送检单位和委托单位ID查询待选委托单位信息 add by xiaoyl 2020/1/9 -->
    <select id="loadInspectionUnit" resultMap="BaseResultMap" parameterType="Object">
        SELECT iuru.id,iuru.create_by,iuru.create_date,iuru.update_by,iuru.update_date,
        ru.id AS requestId, ru.requester_name, ru.link_phone,ru.credit_code,ru.state
        FROM inspection_unit_requester_unit iuru
        LEFT JOIN requester_unit ru ON iuru.request_id = ru.id
        WHERE iuru.delete_flag = 0 AND ru.delete_flag = 0
        AND iuru.inspection_id = #{inspectionId}
        <if test="keyWords!=null">
            and
            (
            ru.requester_first_letter like CONCAT('%',#{keyWords},'%')
            OR ru.requester_full_letter like CONCAT('%',#{keyWords},'%')
            OR ru.requester_name like CONCAT('%',#{keyWords},'%')
            )
        </if>
        <if test="labelId!=0">
            and ru.id not in (select request_id from inspection_unit_user_requester where label_id=#{labelId} and delete_flag=0)
        </if>
        ORDER BY iuru.update_date ASC
    </select>
    <select id="getDataByInspId" resultMap="BaseResultMap">
        SELECT
        iuru.id,iuru.create_by,iuru.create_date,iuru.update_by,iuru.update_date,
        ru.id AS requestId, ru.requester_name,ru.credit_code,ru.state,ru.create_date,
        ( SELECT GROUP_CONCAT(request_id) FROM inspection_unit_requester_unit WHERE delete_flag = 0 AND inspection_id = #{inspId})AS reqIdStr
        FROM inspection_unit_requester_unit iuru JOIN requester_unit ru ON iuru.request_id = ru.id
        WHERE iuru.delete_flag = 0 AND ru.delete_flag = 0 AND iuru.inspection_id = #{inspId}
        <if test="requestName!=null and requestName !=''">
            and requester_name like CONCAT('%',#{requestName},'%')
        </if>
        ORDER BY ru.create_date DESC
    </select>

    <!--
	 * 根据送检单位ID查询出未存在关联关系的委托单位集合
	 * @param inspId
	 * @return
	 *-->
    <select id="getReqByInspId" resultType="com.dayuan3.terminal.bean.RequesterUnit">
        SELECT
        id,
        requester_name AS requesterName,
        create_date
        FROM requester_unit
        WHERE delete_flag = 0 AND id NOT IN
        (
        SELECT request_id
        FROM inspection_unit_requester_unit
        WHERE delete_flag = 0 AND inspection_id = #{inspId}
        )
        <if test="reqName != null and reqName != ''">
            AND requester_name like CONCAT('%',#{reqName},'%')
        </if>
        ORDER BY create_date DESC
    </select>
</mapper>