<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayuan3.terminal.mapper.OrderStatisticDailyMapper">
    <resultMap id="BaseResultMap" type="com.dayuan3.terminal.bean.OrderStatisticDaily">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="date" jdbcType="DATE" property="date"/>
        <result column="income" jdbcType="DOUBLE" property="income"/>
        <result column="qty_order" jdbcType="INTEGER" property="qtyOrder"/>
        <result column="qty_wx_order" jdbcType="INTEGER" property="qtyWxOrder"/>
        <result column="qty_zd_order" jdbcType="INTEGER" property="qtyZdOrder"/>
        <result column="qty_wx_pay" jdbcType="INTEGER" property="qtyWxPay"/>
        <result column="qty_zfb_pay" jdbcType="INTEGER" property="qtyZfbPay"/>
        <result column="qty_food" jdbcType="INTEGER" property="qtyFood"/>
        <result column="food_statistic" jdbcType="VARCHAR" property="foodStatistic"/>
        <result column="qty_item" jdbcType="INTEGER" property="qtyItem"/>
        <result column="item_statistic" jdbcType="VARCHAR" property="itemStatistic"/>
        <result column="qty_req_unit" jdbcType="INTEGER" property="qtyReqUnit"/>
        <result column="req_unit_statistic" jdbcType="VARCHAR" property="reqUnitStatistic"/>
        <result column="qty_ins_unit" jdbcType="INTEGER" property="qtyInsUnit"/>
        <result column="ins_unit_statistic" jdbcType="VARCHAR" property="insUnitStatistic"/>
        <result column="param1" jdbcType="VARCHAR" property="param1"/>
        <result column="param2" jdbcType="VARCHAR" property="param2"/>
        <result column="param3" jdbcType="VARCHAR" property="param3"/>
        <result column="create_by" jdbcType="INTEGER" property="createBy"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_by" jdbcType="INTEGER" property="updateBy"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="delete_flag" jdbcType="SMALLINT" property="deleteFlag"/>
        <result column="qty_all_req_unit" jdbcType="INTEGER" property="qtyAllReqUnit"/>
        <result column="qty_all_ins_unit" jdbcType="INTEGER" property="qtyAllInsUnit"/>
        <result column="qty_ye_pay" jdbcType="INTEGER" property="qtyYePay"/>
        <result column="income_ye" jdbcType="DOUBLE" property="incomeYe"/>
        <result column="income_wx" jdbcType="DOUBLE" property="incomeWx"/>
        <result column="income_zfb" jdbcType="DOUBLE" property="incomeZfb"/>
        <result column="income_cz" jdbcType="DOUBLE" property="incomeCz"/>
        <result column="refund_wx_zfb" jdbcType="DOUBLE" property="refundWxZfb"/>
        <result column="refund_ye" jdbcType="DOUBLE" property="refundYe"/>
        <result column="refund_cz" jdbcType="DOUBLE" property="refundCz"/>
        <result column="qty_cz" jdbcType="INTEGER" property="qtyCz"/>
        <result column="qty_cz_user" jdbcType="INTEGER" property="qtyCzUser"/>
        <result column="income_order" jdbcType="DOUBLE" property="incomeOrder"/>
        <result column="fee_check" jdbcType="DOUBLE" property="feeCheck"/>
        <result column="fee_print" jdbcType="DOUBLE" property="feePrint"/>
        <result column="fee_report" jdbcType="DOUBLE" property="feeReport"/>
        <result column="fee_take_sampling" jdbcType="DOUBLE" property="feeTakeSampling"/>
        <result column="fee1" jdbcType="DOUBLE" property="fee1"/>
        <result column="fee2" jdbcType="DOUBLE" property="fee2"/>
        <result column="fee3" jdbcType="DOUBLE" property="fee3"/>
        <result column="qty_ins_user" jdbcType="INTEGER" property="qtyInsUser"/>
        <result column="ins_user_statistic" jdbcType="VARCHAR" property="insUserStatistic"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, date, income, qty_order, qty_wx_order, qty_zd_order, qty_wx_pay, qty_zfb_pay,
        qty_food, food_statistic, qty_item, item_statistic, qty_req_unit, req_unit_statistic,
        qty_ins_unit, ins_unit_statistic, param1, param2, param3, create_by, create_date,
        update_by, update_date, delete_flag, qty_all_req_unit, qty_all_ins_unit, qty_ye_pay,
        income_ye, income_wx, income_zfb, income_cz, refund_wx_zfb, refund_ye, refund_cz,
        qty_cz, qty_cz_user, income_order, fee_check, fee_print, fee_report, fee_take_sampling,
        fee1, fee2, fee3, qty_ins_user, ins_user_statistic
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_statistic_daily
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM order_statistic_daily
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.dayuan3.terminal.bean.OrderStatisticDaily">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into order_statistic_daily (date, income, qty_order,
        qty_wx_order, qty_zd_order, qty_wx_pay,
        qty_zfb_pay, qty_food, food_statistic,
        qty_item, item_statistic, qty_req_unit,
        req_unit_statistic, qty_ins_unit, ins_unit_statistic,
        param1, param2, param3,
        create_by, create_date, update_by,
        update_date, delete_flag, qty_all_req_unit,
        qty_all_ins_unit, qty_ye_pay, income_ye,
        income_wx, income_zfb, income_cz,
        refund_wx_zfb, refund_ye, refund_cz,
        qty_cz, qty_cz_user, income_order,
        fee_check, fee_print, fee_report, fee_take_sampling,
        fee1, fee2, fee3, qty_ins_user, ins_user_statistic
        )
        values (#{date,jdbcType=DATE}, #{income,jdbcType=DOUBLE}, #{qtyOrder,jdbcType=INTEGER},
        #{qtyWxOrder,jdbcType=INTEGER}, #{qtyZdOrder,jdbcType=INTEGER}, #{qtyWxPay,jdbcType=INTEGER},
        #{qtyZfbPay,jdbcType=INTEGER}, #{qtyFood,jdbcType=INTEGER}, #{foodStatistic,jdbcType=VARCHAR},
        #{qtyItem,jdbcType=INTEGER}, #{itemStatistic,jdbcType=VARCHAR}, #{qtyReqUnit,jdbcType=INTEGER},
        #{reqUnitStatistic,jdbcType=VARCHAR}, #{qtyInsUnit,jdbcType=INTEGER}, #{insUnitStatistic,jdbcType=VARCHAR},
        #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}, #{param3,jdbcType=VARCHAR},
        #{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER},
        #{updateDate,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=SMALLINT}, #{qtyAllReqUnit,jdbcType=INTEGER},
        #{qtyAllInsUnit,jdbcType=INTEGER}, #{qtyYePay,jdbcType=INTEGER}, #{incomeYe,jdbcType=DOUBLE},
        #{incomeWx,jdbcType=DOUBLE}, #{incomeZfb,jdbcType=DOUBLE}, #{incomeCz,jdbcType=DOUBLE},
        #{refundWxZfb,jdbcType=DOUBLE}, #{refundYe,jdbcType=DOUBLE}, #{refundCz,jdbcType=DOUBLE},
        #{qtyCz,jdbcType=INTEGER}, #{qtyCzUser,jdbcType=INTEGER}, #{incomeOrder,jdbcType=DOUBLE},
        #{feeCheck,jdbcType=DOUBLE}, #{feePrint,jdbcType=DOUBLE}, #{feeReport,jdbcType=DOUBLE},
        #{feeTakeSampling,jdbcType=DOUBLE}, #{fee1,jdbcType=DOUBLE}, #{fee2,jdbcType=DOUBLE}, #{fee3,jdbcType=DOUBLE},
        #{qtyInsUser,jdbcType=INTEGER}, #{insUserStatistic,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.dayuan3.terminal.bean.OrderStatisticDaily">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into order_statistic_daily
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="date != null">
                date,
            </if>
            <if test="income != null">
                income,
            </if>
            <if test="qtyOrder != null">
                qty_order,
            </if>
            <if test="qtyWxOrder != null">
                qty_wx_order,
            </if>
            <if test="qtyZdOrder != null">
                qty_zd_order,
            </if>
            <if test="qtyWxPay != null">
                qty_wx_pay,
            </if>
            <if test="qtyZfbPay != null">
                qty_zfb_pay,
            </if>
            <if test="qtyFood != null">
                qty_food,
            </if>
            <if test="foodStatistic != null">
                food_statistic,
            </if>
            <if test="qtyItem != null">
                qty_item,
            </if>
            <if test="itemStatistic != null">
                item_statistic,
            </if>
            <if test="qtyReqUnit != null">
                qty_req_unit,
            </if>
            <if test="reqUnitStatistic != null">
                req_unit_statistic,
            </if>
            <if test="qtyInsUnit != null">
                qty_ins_unit,
            </if>
            <if test="insUnitStatistic != null">
                ins_unit_statistic,
            </if>
            <if test="param1 != null">
                param1,
            </if>
            <if test="param2 != null">
                param2,
            </if>
            <if test="param3 != null">
                param3,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="qtyAllReqUnit != null">
                qty_all_req_unit,
            </if>
            <if test="qtyAllInsUnit != null">
                qty_all_ins_unit,
            </if>
            <if test="qtyYePay != null">
                qty_ye_pay,
            </if>
            <if test="incomeYe != null">
                income_ye,
            </if>
            <if test="incomeWx != null">
                income_wx,
            </if>
            <if test="incomeZfb != null">
                income_zfb,
            </if>
            <if test="incomeCz != null">
                income_cz,
            </if>
            <if test="refundWxZfb != null">
                refund_wx_zfb,
            </if>
            <if test="refundYe != null">
                refund_ye,
            </if>
            <if test="refundCz != null">
                refund_cz,
            </if>
            <if test="qtyCz != null">
                qty_cz,
            </if>
            <if test="qtyCzUser != null">
                qty_cz_user,
            </if>
            <if test="incomeOrder != null">
                income_order,
            </if>
            <if test="feeCheck != null">
                fee_check,
            </if>
            <if test="feePrint != null">
                fee_print,
            </if>
            <if test="feeReport != null">
                fee_report,
            </if>
            <if test="feeTakeSampling != null">
                fee_take_sampling,
            </if>
            <if test="fee1 != null">
                fee1,
            </if>
            <if test="fee2 != null">
                fee2,
            </if>
            <if test="fee3 != null">
                fee3,
            </if>
            <if test="qtyInsUser != null">
                qty_ins_user,
            </if>
            <if test="insUserStatistic != null">
                ins_user_statistic,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="date != null">
                #{date,jdbcType=DATE},
            </if>
            <if test="income != null">
                #{income,jdbcType=DOUBLE},
            </if>
            <if test="qtyOrder != null">
                #{qtyOrder,jdbcType=INTEGER},
            </if>
            <if test="qtyWxOrder != null">
                #{qtyWxOrder,jdbcType=INTEGER},
            </if>
            <if test="qtyZdOrder != null">
                #{qtyZdOrder,jdbcType=INTEGER},
            </if>
            <if test="qtyWxPay != null">
                #{qtyWxPay,jdbcType=INTEGER},
            </if>
            <if test="qtyZfbPay != null">
                #{qtyZfbPay,jdbcType=INTEGER},
            </if>
            <if test="qtyFood != null">
                #{qtyFood,jdbcType=INTEGER},
            </if>
            <if test="foodStatistic != null">
                #{foodStatistic,jdbcType=VARCHAR},
            </if>
            <if test="qtyItem != null">
                #{qtyItem,jdbcType=INTEGER},
            </if>
            <if test="itemStatistic != null">
                #{itemStatistic,jdbcType=VARCHAR},
            </if>
            <if test="qtyReqUnit != null">
                #{qtyReqUnit,jdbcType=INTEGER},
            </if>
            <if test="reqUnitStatistic != null">
                #{reqUnitStatistic,jdbcType=VARCHAR},
            </if>
            <if test="qtyInsUnit != null">
                #{qtyInsUnit,jdbcType=INTEGER},
            </if>
            <if test="insUnitStatistic != null">
                #{insUnitStatistic,jdbcType=VARCHAR},
            </if>
            <if test="param1 != null">
                #{param1,jdbcType=VARCHAR},
            </if>
            <if test="param2 != null">
                #{param2,jdbcType=VARCHAR},
            </if>
            <if test="param3 != null">
                #{param3,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=SMALLINT},
            </if>
            <if test="qtyAllReqUnit != null">
                #{qtyAllReqUnit,jdbcType=INTEGER},
            </if>
            <if test="qtyAllInsUnit != null">
                #{qtyAllInsUnit,jdbcType=INTEGER},
            </if>
            <if test="qtyYePay != null">
                #{qtyYePay,jdbcType=INTEGER},
            </if>
            <if test="incomeYe != null">
                #{incomeYe,jdbcType=DOUBLE},
            </if>
            <if test="incomeWx != null">
                #{incomeWx,jdbcType=DOUBLE},
            </if>
            <if test="incomeZfb != null">
                #{incomeZfb,jdbcType=DOUBLE},
            </if>
            <if test="incomeCz != null">
                #{incomeCz,jdbcType=DOUBLE},
            </if>
            <if test="refundWxZfb != null">
                #{refundWxZfb,jdbcType=DOUBLE},
            </if>
            <if test="refundYe != null">
                #{refundYe,jdbcType=DOUBLE},
            </if>
            <if test="refundCz != null">
                #{refundCz,jdbcType=DOUBLE},
            </if>
            <if test="qtyCz != null">
                #{qtyCz,jdbcType=INTEGER},
            </if>
            <if test="qtyCzUser != null">
                #{qtyCzUser,jdbcType=INTEGER},
            </if>
            <if test="incomeOrder != null">
                #{incomeOrder,jdbcType=DOUBLE},
            </if>
            <if test="feeCheck != null">
                #{feeCheck,jdbcType=DOUBLE},
            </if>
            <if test="feePrint != null">
                #{feePrint,jdbcType=DOUBLE},
            </if>
            <if test="feeReport != null">
                #{feeReport,jdbcType=DOUBLE},
            </if>
            <if test="feeTakeSampling != null">
                #{feeTakeSampling,jdbcType=DOUBLE},
            </if>
            <if test="fee1 != null">
                #{fee1,jdbcType=DOUBLE},
            </if>
            <if test="fee2 != null">
                #{fee2,jdbcType=DOUBLE},
            </if>
            <if test="fee3 != null">
                #{fee3,jdbcType=DOUBLE},
            </if>
            <if test="qtyInsUser != null">
                #{qtyInsUser,jdbcType=INTEGER},
            </if>
            <if test="insUserStatistic != null">
                #{insUserStatistic,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dayuan3.terminal.bean.OrderStatisticDaily">
        update order_statistic_daily
        <set>
            <if test="date != null">
                date = #{date,jdbcType=DATE},
            </if>
            <if test="income != null">
                income = #{income,jdbcType=DOUBLE},
            </if>
            <if test="qtyOrder != null">
                qty_order = #{qtyOrder,jdbcType=INTEGER},
            </if>
            <if test="qtyWxOrder != null">
                qty_wx_order = #{qtyWxOrder,jdbcType=INTEGER},
            </if>
            <if test="qtyZdOrder != null">
                qty_zd_order = #{qtyZdOrder,jdbcType=INTEGER},
            </if>
            <if test="qtyWxPay != null">
                qty_wx_pay = #{qtyWxPay,jdbcType=INTEGER},
            </if>
            <if test="qtyZfbPay != null">
                qty_zfb_pay = #{qtyZfbPay,jdbcType=INTEGER},
            </if>
            <if test="qtyFood != null">
                qty_food = #{qtyFood,jdbcType=INTEGER},
            </if>
            <if test="foodStatistic != null">
                food_statistic = #{foodStatistic,jdbcType=VARCHAR},
            </if>
            <if test="qtyItem != null">
                qty_item = #{qtyItem,jdbcType=INTEGER},
            </if>
            <if test="itemStatistic != null">
                item_statistic = #{itemStatistic,jdbcType=VARCHAR},
            </if>
            <if test="qtyReqUnit != null">
                qty_req_unit = #{qtyReqUnit,jdbcType=INTEGER},
            </if>
            <if test="reqUnitStatistic != null">
                req_unit_statistic = #{reqUnitStatistic,jdbcType=VARCHAR},
            </if>
            <if test="qtyInsUnit != null">
                qty_ins_unit = #{qtyInsUnit,jdbcType=INTEGER},
            </if>
            <if test="insUnitStatistic != null">
                ins_unit_statistic = #{insUnitStatistic,jdbcType=VARCHAR},
            </if>
            <if test="param1 != null">
                param1 = #{param1,jdbcType=VARCHAR},
            </if>
            <if test="param2 != null">
                param2 = #{param2,jdbcType=VARCHAR},
            </if>
            <if test="param3 != null">
                param3 = #{param3,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=SMALLINT},
            </if>
            <if test="qtyAllReqUnit != null">
                qty_all_req_unit = #{qtyAllReqUnit,jdbcType=INTEGER},
            </if>
            <if test="qtyAllInsUnit != null">
                qty_all_ins_unit = #{qtyAllInsUnit,jdbcType=INTEGER},
            </if>
            <if test="qtyYePay != null">
                qty_ye_pay = #{qtyYePay,jdbcType=INTEGER},
            </if>
            <if test="incomeYe != null">
                income_ye = #{incomeYe,jdbcType=DOUBLE},
            </if>
            <if test="incomeWx != null">
                income_wx = #{incomeWx,jdbcType=DOUBLE},
            </if>
            <if test="incomeZfb != null">
                income_zfb = #{incomeZfb,jdbcType=DOUBLE},
            </if>
            <if test="incomeCz != null">
                income_cz = #{incomeCz,jdbcType=DOUBLE},
            </if>
            <if test="refundWxZfb != null">
                refund_wx_zfb = #{refundWxZfb,jdbcType=DOUBLE},
            </if>
            <if test="refundYe != null">
                refund_ye = #{refundYe,jdbcType=DOUBLE},
            </if>
            <if test="refundCz != null">
                refund_cz = #{refundCz,jdbcType=DOUBLE},
            </if>
            <if test="qtyCz != null">
                qty_cz = #{qtyCz,jdbcType=INTEGER},
            </if>
            <if test="qtyCzUser != null">
                qty_cz_user = #{qtyCzUser,jdbcType=INTEGER},
            </if>
            <if test="incomeOrder != null">
                income_order = #{incomeOrder,jdbcType=DOUBLE},
            </if>
            <if test="feeCheck != null">
                fee_check = #{feeCheck,jdbcType=DOUBLE},
            </if>
            <if test="feePrint != null">
                fee_print = #{feePrint,jdbcType=DOUBLE},
            </if>
            <if test="feeReport != null">
                fee_report = #{feeReport,jdbcType=DOUBLE},
            </if>
            <if test="feeTakeSampling != null">
                fee_take_sampling = #{feeTakeSampling,jdbcType=DOUBLE},
            </if>
            <if test="fee1 != null">
                fee1 = #{fee1,jdbcType=DOUBLE},
            </if>
            <if test="fee2 != null">
                fee2 = #{fee2,jdbcType=DOUBLE},
            </if>
            <if test="fee3 != null">
                fee3 = #{fee3,jdbcType=DOUBLE},
            </if>
            <if test="qtyInsUser != null">
                qty_ins_user = #{qtyInsUser,jdbcType=INTEGER},
            </if>
            <if test="insUserStatistic != null">
                ins_user_statistic = #{insUserStatistic,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dayuan3.terminal.bean.OrderStatisticDaily">
        UPDATE order_statistic_daily
        SET date               = #{date,jdbcType=DATE},
            income             = #{income,jdbcType=DOUBLE},
            qty_order          = #{qtyOrder,jdbcType=INTEGER},
            qty_wx_order       = #{qtyWxOrder,jdbcType=INTEGER},
            qty_zd_order       = #{qtyZdOrder,jdbcType=INTEGER},
            qty_wx_pay         = #{qtyWxPay,jdbcType=INTEGER},
            qty_zfb_pay        = #{qtyZfbPay,jdbcType=INTEGER},
            qty_food           = #{qtyFood,jdbcType=INTEGER},
            food_statistic     = #{foodStatistic,jdbcType=VARCHAR},
            qty_item           = #{qtyItem,jdbcType=INTEGER},
            item_statistic     = #{itemStatistic,jdbcType=VARCHAR},
            qty_req_unit       = #{qtyReqUnit,jdbcType=INTEGER},
            req_unit_statistic = #{reqUnitStatistic,jdbcType=VARCHAR},
            qty_ins_unit       = #{qtyInsUnit,jdbcType=INTEGER},
            ins_unit_statistic = #{insUnitStatistic,jdbcType=VARCHAR},
            param1             = #{param1,jdbcType=VARCHAR},
            param2             = #{param2,jdbcType=VARCHAR},
            param3             = #{param3,jdbcType=VARCHAR},
            create_by          = #{createBy,jdbcType=INTEGER},
            create_date        = #{createDate,jdbcType=TIMESTAMP},
            update_by          = #{updateBy,jdbcType=INTEGER},
            update_date        = #{updateDate,jdbcType=TIMESTAMP},
            delete_flag        = #{deleteFlag,jdbcType=SMALLINT},
            qty_all_req_unit   = #{qtyAllReqUnit,jdbcType=INTEGER},
            qty_all_ins_unit   = #{qtyAllInsUnit,jdbcType=INTEGER},
            qty_ye_pay         = #{qtyYePay,jdbcType=INTEGER},
            income_ye          = #{incomeYe,jdbcType=DOUBLE},
            income_wx          = #{incomeWx,jdbcType=DOUBLE},
            income_zfb         = #{incomeZfb,jdbcType=DOUBLE},
            income_cz          = #{incomeCz,jdbcType=DOUBLE},
            refund_wx_zfb      = #{refundWxZfb,jdbcType=DOUBLE},
            refund_ye          = #{refundYe,jdbcType=DOUBLE},
            refund_cz          = #{refundCz,jdbcType=DOUBLE},
            qty_cz             = #{qtyCz,jdbcType=INTEGER},
            qty_cz_user        = #{qtyCzUser,jdbcType=INTEGER},
            income_order       = #{incomeOrder,jdbcType=DOUBLE},
            fee_check          = #{feeCheck,jdbcType=DOUBLE},
            fee_print          = #{feePrint,jdbcType=DOUBLE},
            fee_report         = #{feeReport,jdbcType=DOUBLE},
            fee_take_sampling  = #{feeTakeSampling,jdbcType=DOUBLE},
            fee1               = #{fee1,jdbcType=DOUBLE},
            fee2               = #{fee2,jdbcType=DOUBLE},
            fee3               = #{fee3,jdbcType=DOUBLE},
            qty_ins_user       = #{qtyInsUser,jdbcType=INTEGER},
            ins_user_statistic = #{insUserStatistic,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByDate" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_statistic_daily
        where date = #{date,jdbcType=DATE}
        order by date asc
    </select>

    <select id="selectByDate2" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM order_statistic_daily
        WHERE date &gt;= #{start,jdbcType=DATE} AND date &lt;= #{end,jdbcType=DATE}
        order by date asc
    </select>

    <select id="getRequesterList" parameterType="java.lang.String" resultType="com.dayuan3.terminal.bean.RequesterUnit">
        select tsr.request_id AS id, tsr.request_name requesterName,tsr.param1 linkPhone,tsr.param2 companyAddress from tb_sampling ts
        left join tb_sampling_requester tsr on ts.id=tsr.sampling_id
        where ts.sampling_no = #{orderNo}
        <if test="requestIds != null">
            AND request_id IN
            <foreach collection="requestIds" item="reqIds" index="index" open="(" close=")" separator=",">
                #{reqIds}
            </foreach>
        </if>
    </select>

    <select id="getRequesterLists" parameterType="java.lang.String" resultType="com.dayuan3.terminal.bean.RequesterUnit">

        select ts.id , tsr.request_name requesterName,tsr.param1 linkPhone,tsr.param2 companyAddress from tb_sampling ts
        left join tb_sampling_requester tsr on ts.id=tsr.sampling_id
        where ts.sampling_no = #{obj.samplingNo}
        <if test="obj.requesterName !=null and obj.requesterName !=''">
            AND tsr.request_name LIKE '%${obj.requesterName}%'
        </if>
        LIMIT #{rowOffset}, #{pageSize}

    </select>

    <select id="getRowTotal" resultType="java.lang.Integer" parameterType="Object">
        select count(1) as rowTotal
        from (
        select ts.id , tsr.request_name requesterName,tsr.param1 param1 from tb_sampling ts
        left join tb_sampling_requester tsr on ts.id=tsr.sampling_id
        where ts.sampling_no = #{obj.samplingNo}
        <if test="obj.requesterName !=null and obj.requesterName !=''">
            AND tsr.request_name LIKE '%${obj.requesterName}%'
        </if>
        ) a
        <!--       <include refid="Example_Where_Clause"/> -->
    </select>

</mapper>