<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayuan3.terminal.mapper.ReqUnitStatisticMonthlyMapper">
  <resultMap id="BaseResultMap" type="com.dayuan3.terminal.bean.ReqUnitStatisticMonthly">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="ins_uint_id" jdbcType="INTEGER" property="insUintId" />
    <result column="ins_uint_name" jdbcType="VARCHAR" property="insUintName" />
    <result column="check_number" jdbcType="INTEGER" property="checkNumber" />
    <result column="unqualified_number" jdbcType="INTEGER" property="unqualifiedNumber" />
    <result column="unqualified_statistic" jdbcType="VARCHAR" property="unqualifiedStatistic" />
    <result column="param1" jdbcType="VARCHAR" property="param1" />
    <result column="param2" jdbcType="VARCHAR" property="param2" />
    <result column="param3" jdbcType="VARCHAR" property="param3" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="delete_flag" jdbcType="SMALLINT" property="deleteFlag" />
    <result column="check_number_monthly" jdbcType="INTEGER" property="checkNumberMonthly" />
  </resultMap>
  <sql id="Base_Column_List">
    id, date, ins_uint_id, ins_uint_name, check_number, unqualified_number, unqualified_statistic, 
    param1, param2, param3, create_by, create_date, update_by, update_date, delete_flag,
    check_number_monthly
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from req_unit_statistic_monthly
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from req_unit_statistic_monthly
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dayuan3.terminal.bean.ReqUnitStatisticMonthly">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into req_unit_statistic_monthly (date, ins_uint_id, ins_uint_name,
    check_number, unqualified_number, unqualified_statistic,
    param1, param2, param3,
    create_by, create_date, update_by,
    update_date, delete_flag, check_number_monthly
    )
    values (#{date,jdbcType=DATE}, #{insUintId,jdbcType=INTEGER}, #{insUintName,jdbcType=VARCHAR},
    #{checkNumber,jdbcType=INTEGER}, #{unqualifiedNumber,jdbcType=INTEGER}, #{unqualifiedStatistic,jdbcType=VARCHAR},
    #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}, #{param3,jdbcType=VARCHAR},
    #{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER},
    #{updateDate,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=SMALLINT}, #{checkNumberMonthly,jdbcType=INTEGER}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.dayuan3.terminal.bean.ReqUnitStatisticMonthly">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into req_unit_statistic_monthly
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="date != null">
        date,
      </if>
      <if test="insUintId != null">
        ins_uint_id,
      </if>
      <if test="insUintName != null">
        ins_uint_name,
      </if>
      <if test="checkNumber != null">
        check_number,
      </if>
      <if test="unqualifiedNumber != null">
        unqualified_number,
      </if>
      <if test="unqualifiedStatistic != null">
        unqualified_statistic,
      </if>
      <if test="param1 != null">
        param1,
      </if>
      <if test="param2 != null">
        param2,
      </if>
      <if test="param3 != null">
        param3,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="checkNumberMonthly != null">
        check_number_monthly,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="insUintId != null">
        #{insUintId,jdbcType=INTEGER},
      </if>
      <if test="insUintName != null">
        #{insUintName,jdbcType=VARCHAR},
      </if>
      <if test="checkNumber != null">
        #{checkNumber,jdbcType=INTEGER},
      </if>
      <if test="unqualifiedNumber != null">
        #{unqualifiedNumber,jdbcType=INTEGER},
      </if>
      <if test="unqualifiedStatistic != null">
        #{unqualifiedStatistic,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null">
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null">
        #{param3,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=SMALLINT},
      </if>
      <if test="checkNumberMonthly != null">
        #{checkNumberMonthly,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dayuan3.terminal.bean.ReqUnitStatisticMonthly">
    update req_unit_statistic_monthly
    <set>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="insUintId != null">
        ins_uint_id = #{insUintId,jdbcType=INTEGER},
      </if>
      <if test="insUintName != null">
        ins_uint_name = #{insUintName,jdbcType=VARCHAR},
      </if>
      <if test="checkNumber != null">
        check_number = #{checkNumber,jdbcType=INTEGER},
      </if>
      <if test="unqualifiedNumber != null">
        unqualified_number = #{unqualifiedNumber,jdbcType=INTEGER},
      </if>
      <if test="unqualifiedStatistic != null">
        unqualified_statistic = #{unqualifiedStatistic,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null">
        param1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        param2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null">
        param3 = #{param3,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=SMALLINT},
      </if>
      <if test="checkNumberMonthly != null">
        check_number_monthly = #{checkNumberMonthly,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dayuan3.terminal.bean.ReqUnitStatisticMonthly">
    update req_unit_statistic_monthly
    set date = #{date,jdbcType=DATE},
      ins_uint_id = #{insUintId,jdbcType=INTEGER},
      ins_uint_name = #{insUintName,jdbcType=VARCHAR},
      check_number = #{checkNumber,jdbcType=INTEGER},
      unqualified_number = #{unqualifiedNumber,jdbcType=INTEGER},
      unqualified_statistic = #{unqualifiedStatistic,jdbcType=VARCHAR},
      param1 = #{param1,jdbcType=VARCHAR},
      param2 = #{param2,jdbcType=VARCHAR},
      param3 = #{param3,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=SMALLINT},
      check_number_monthly = #{checkNumberMonthly,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByDate" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM req_unit_statistic_monthly
    WHERE date = #{date,jdbcType=DATE}
    <if test="unitId != null">
      AND ins_uint_id = #{unitId,jdbcType=INTEGER}
    </if>
  </select>

  <select id="selectByDate2" parameterType="java.lang.Object" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM req_unit_statistic_monthly
    WHERE date &gt;= #{start,jdbcType=DATE}
    AND date &lt;= #{end,jdbcType=DATE}
    <if test="unitId != null">
      AND ins_uint_id = #{unitId,jdbcType=INTEGER}
    </if>
  </select>

</mapper>