<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayuan3.terminal.mapper.RequesterUnitTypeMapper">
    <resultMap id="BaseResultMap" type="com.dayuan3.terminal.bean.RequesterUnitType">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="unit_type" jdbcType="VARCHAR" property="unitType"/>
        <result column="sorting" jdbcType="SMALLINT" property="sorting"/>
        <result column="checked" jdbcType="SMALLINT" property="checked"/>
        <result column="coverage_type" jdbcType="SMALLINT" property="coverageType"/>
        <result column="delete_flag" jdbcType="SMALLINT" property="deleteFlag"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
         <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, unit_type, sorting, checked, coverage_type,remark,delete_flag, create_by, create_date, update_by,
        update_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from requester_unit_type
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        update requester_unit_type set delete_flag=1,update_date=now()
        where id in
        <foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
            #{ids}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.dayuan3.terminal.bean.RequesterUnitType">
        INSERT INTO requester_unit_type (id, unit_type, sorting,
                                         checked, coverage_type,delete_flag,remark, create_by,
                                         create_date, update_by, update_date
        )
        VALUES (#{id,jdbcType=INTEGER}, #{unitType,jdbcType=VARCHAR}, #{sorting,jdbcType=SMALLINT},
                #{checked,jdbcType=SMALLINT},#{coverageType,jdbcType=SMALLINT}, #{deleteFlag,jdbcType=SMALLINT}, #{remark,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
                #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.dayuan3.terminal.bean.RequesterUnitType">
        insert into requester_unit_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="unitType != null">
                unit_type,
            </if>
            <if test="sorting != null">
                sorting,
            </if>
            <if test="checked != null">
                checked,
            </if>
             <if test="coverageType != null">
                coverage_type,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
             <if test="remark != null">
                remark,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="unitType != null">
                #{unitType,jdbcType=VARCHAR},
            </if>
            <if test="sorting != null">
                #{sorting,jdbcType=SMALLINT},
            </if>
            <if test="checked != null">
                #{checked,jdbcType=SMALLINT},
            </if>
            <if test="coverageType != null">
                #{coverageType,jdbcType=SMALLINT},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=SMALLINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dayuan3.terminal.bean.RequesterUnitType">
        update requester_unit_type
        <set>
            <if test="unitType != null">
                unit_type = #{unitType,jdbcType=VARCHAR},
            </if>
            <if test="sorting != null">
                sorting = #{sorting,jdbcType=SMALLINT},
            </if>
            <if test="checked != null">
                checked = #{checked,jdbcType=SMALLINT},
            </if>
            <if test="coverageType != null">
                coverage_type = #{coverageType,jdbcType=SMALLINT},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=SMALLINT},
            </if>
             <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dayuan3.terminal.bean.RequesterUnitType">
        UPDATE requester_unit_type
        SET unit_type   = #{unitType,jdbcType=VARCHAR},
            sorting     = #{sorting,jdbcType=SMALLINT},
            checked     = #{checked,jdbcType=SMALLINT},
            coverage_type     = #{coverageType,jdbcType=SMALLINT},
            delete_flag = #{deleteFlag,jdbcType=SMALLINT},
            remark = #{remark,jdbcType=VARCHAR},
            create_by   = #{createBy,jdbcType=VARCHAR},
            create_date = #{createDate,jdbcType=TIMESTAMP},
            update_by   = #{updateBy,jdbcType=VARCHAR},
            update_date = #{updateDate,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <sql id="Example_Where_Clause">
        where delete_flag = 0
        <trim suffixOverrides=",">
			<if test="obj.keyWords!=null and obj.keyWords!=''">
				and unit_type like  CONCAT('%', #{obj.keyWords}, '%') 
			</if>
        </trim>
    </sql>
    <!-- 分页基础查询 -->
    <select id="loadDatagrid" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from requester_unit_type
        <include refid="Example_Where_Clause"/>
        order by sorting ${order} limit #{rowOffset}, #{pageSize}
    </select>

    <select id="getRowTotal" resultType="java.lang.Integer" parameterType="Object">
        select count(1) as rowTotal
        from requester_unit_type
        <include refid="Example_Where_Clause"/>
    </select>
    <select id="queryAllType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from requester_unit_type
        where delete_flag=0 and checked=1
        ORDER BY sorting asc
    </select>
    <select id="selectByIds" resultType="com.dayuan3.terminal.bean.RequesterUnitType">
        SELECT id,unit_type AS unitType,sorting,coverage_type as coverageType FROM requester_unit_type WHERE id IN
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
        and delete_flag=0 and checked=1
        ORDER BY sorting asc
    </select>
    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from requester_unit_type
        where delete_flag=0 and unit_type=#{unitType}
    </select>
</mapper>