<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayuan3.terminal.mapper.RequesterUnitMapper">
    <resultMap id="BaseResultMap" type="com.dayuan3.terminal.bean.RequesterUnit">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="depart_id" jdbcType="INTEGER" property="departId"/>
        <result column="reg_number" jdbcType="VARCHAR" property="regNumber"/>
        <result column="credit_code" jdbcType="VARCHAR" property="creditCode"/>
        <result column="requester_name" jdbcType="VARCHAR" property="requesterName"/>
        <result column="requester_other_name" jdbcType="VARCHAR" property="requesterOtherName"/>
        <result column="unit_type" jdbcType="INTEGER" property="unitType"/>
        <result column="company_address" jdbcType="VARCHAR" property="companyAddress"/>
        <result column="legal_person" jdbcType="VARCHAR" property="legalPerson"/>
        <result column="legal_phone" jdbcType="VARCHAR" property="legalPhone"/>
        <result column="business_cope" jdbcType="VARCHAR" property="businessCope"/>
        <result column="state" jdbcType="SMALLINT" property="state"/>
        <result column="qrcode" jdbcType="VARCHAR" property="qrcode"/>
        <result column="scope" jdbcType="VARCHAR" property="scope"/>
        <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="file_path" jdbcType="VARCHAR" property="filePath"/>
        <result column="link_user" jdbcType="VARCHAR" property="linkUser"/>
        <result column="link_phone" jdbcType="VARCHAR" property="linkPhone"/>
        <result column="longitude" jdbcType="VARCHAR" property="longitude"/>
        <result column="latitude" jdbcType="VARCHAR" property="latitude"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="delete_flag" jdbcType="SMALLINT" property="deleteFlag"/>
        <result column="sorting" jdbcType="SMALLINT" property="sorting"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="param1" jdbcType="VARCHAR" property="param1"/>
        <result column="param2" jdbcType="VARCHAR" property="param2"/>
        <result column="param3" jdbcType="VARCHAR" property="param3"/>
        <result column="requester_first_letter" jdbcType="VARCHAR" property="requesterFirstLetter"/>
        <result column="requester_full_letter" jdbcType="VARCHAR" property="requesterFullLetter"/>
        <result column="scan_num" jdbcType="SMALLINT" property="scanNum"/>
        <result column="service_license" jdbcType="VARCHAR" property="serviceLicense"/>
        <result column="check_num" jdbcType="INTEGER" property="checkNum"/>
        <result column="checked" jdbcType="INTEGER" property="checked"/>
        <result column="weekend_work" jdbcType="SMALLINT" property="weekendWork"/>
        <result column="depart_name" jdbcType="VARCHAR" property="departNameForList"/>
        <result column="unit_type_name" jdbcType="VARCHAR" property="unitTypeName"/>
        
    </resultMap>

    <resultMap id="BaseResultMap2" type="com.dayuan3.terminal.bean.RequesterUnit">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="depart_id" jdbcType="INTEGER" property="departId"/>
        <result column="depart_name" jdbcType="VARCHAR" property="departName"/>
        <result column="reg_number" jdbcType="VARCHAR" property="regNumber"/>
        <result column="credit_code" jdbcType="VARCHAR" property="creditCode"/>
        <result column="requester_name" jdbcType="VARCHAR" property="requesterName"/>
        <result column="requester_other_name" jdbcType="VARCHAR" property="requesterOtherName"/>
        <result column="unit_type" jdbcType="INTEGER" property="unitType"/>
        <result column="company_address" jdbcType="VARCHAR" property="companyAddress"/>
        <result column="legal_person" jdbcType="VARCHAR" property="legalPerson"/>
        <result column="legal_phone" jdbcType="VARCHAR" property="legalPhone"/>
        <result column="business_cope" jdbcType="VARCHAR" property="businessCope"/>
        <result column="state" jdbcType="SMALLINT" property="state"/>
        <result column="qrcode" jdbcType="VARCHAR" property="qrcode"/>
        <result column="scope" jdbcType="VARCHAR" property="scope"/>
        <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="file_path" jdbcType="VARCHAR" property="filePath"/>
        <result column="link_user" jdbcType="VARCHAR" property="linkUser"/>
        <result column="link_phone" jdbcType="VARCHAR" property="linkPhone"/>
        <result column="longitude" jdbcType="VARCHAR" property="longitude"/>
        <result column="latitude" jdbcType="VARCHAR" property="latitude"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="delete_flag" jdbcType="SMALLINT" property="deleteFlag"/>
        <result column="sorting" jdbcType="SMALLINT" property="sorting"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="param1" jdbcType="VARCHAR" property="param1"/>
        <result column="param2" jdbcType="VARCHAR" property="param2"/>
        <result column="param3" jdbcType="VARCHAR" property="param3"/>
        <result column="requester_first_letter" jdbcType="VARCHAR" property="requesterFirstLetter"/>
        <result column="requester_full_letter" jdbcType="VARCHAR" property="requesterFullLetter"/>
        <result column="scan_num" jdbcType="SMALLINT" property="scanNum"/>
        <result column="service_license" jdbcType="VARCHAR" property="serviceLicense"/>
        <result column="check_num" jdbcType="INTEGER" property="checkNum"/>
        <result column="have_service_license" jdbcType="INTEGER" property="haveServiceLicense"/>
        <result column="employees_number" jdbcType="INTEGER" property="employeesNumber"/>
        <result column="have_health_certificate" jdbcType="INTEGER" property="haveHealthCertificate"/>
        <result column="checked" jdbcType="INTEGER" property="checked"/>
        <result column="weekend_work" jdbcType="SMALLINT" property="weekendWork"/>
        <collection property="tbFiles" ofType="com.dayuan.bean.data.TbFile" columnPrefix="f_">
            <id column="id" property="id" jdbcType="INTEGER"/>
            <result column="file_name" property="fileName" jdbcType="VARCHAR"/>
            <result column="source_id" property="sourceId" jdbcType="INTEGER"/>
            <result column="file_path" property="filePath" jdbcType="SMALLINT"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        id, depart_id, reg_number, credit_code, requester_name, requester_other_name, unit_type,
        company_address, legal_person, legal_phone, business_cope, state, qrcode, scope,
        file_name, file_path, link_user, link_phone, longitude, latitude, remark, delete_flag,
        sorting, create_by, create_date, update_by, update_date, param1, param2, param3,
        requester_first_letter, requester_full_letter, scan_num, service_license, check_num,
        have_service_license,employees_number,have_health_certificate,checked,weekend_work
    </sql>
    
     <sql id="Base_Column_List2">
        a.id, a.depart_id, a.reg_number, a.credit_code, a.requester_name, a.requester_other_name, a.unit_type,
        a.company_address, a.legal_person, a.legal_phone, a.business_cope, a.state, a.qrcode, a.scope,
        a.file_name, a.file_path, a.link_user, a.link_phone, a.longitude, a.latitude, a.remark, a.delete_flag,
        a.sorting, a.create_by, a.create_date, a.update_by, a.update_date, a.param1, a.param2, a.param3,
        a.requester_first_letter, a.requester_full_letter, a.scan_num, a.service_license, a.check_num,a.weekend_work
    </sql>
    <!--委托单位：编辑回显数据查询-->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap2">
        SELECT
            ru.id,
            ru.depart_id,
            ru.reg_number,
            ru.credit_code,
            ru.requester_name,
            ru.requester_other_name,
            ru.unit_type,
            ru.company_address,
            ru.legal_person,
            ru.legal_phone,
            ru.business_cope,
            ru.state,
            ru.qrcode,
            ru.scope,
            ru.file_name,
            ru.file_path,
            ru.link_user,
            ru.link_phone,
            ru.longitude,
            ru.latitude,
            ru.remark,
            ru.delete_flag,
            ru.sorting,
            ru.create_by,
            ru.create_date,
            ru.update_by,
            ru.update_date,
            ru.param1,
            ru.param2,
            ru.param3,
            ru.requester_first_letter,
            ru.requester_full_letter,
            ru.scan_num,
            ru.service_license,
            ru.check_num,
            ru.checked,
            ru.weekend_work,
            ru.depart_id,
            tsd.depart_name,
            tf.id        AS f_id,
            tf.source_id AS f_source_id,
            tf.file_name AS f_file_name,
            tf.file_path AS f_file_path
        FROM requester_unit ru
            LEFT JOIN
            (SELECT *
             FROM tb_file
             WHERE delete_flag = 0 AND source_type = 'reUnit'
            ) tf ON tf.source_id = ru.id
            LEFT JOIN t_s_depart tsd ON ru.depart_id = tsd.id
        WHERE ru.id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        update requester_unit set delete_flag=1,update_date=now()
        where id in
        <foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
            #{ids}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.dayuan3.terminal.bean.RequesterUnit">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Aug 15 15:29:08 CST 2019.
        -->
        INSERT INTO requester_unit (id, depart_id, reg_number,
        credit_code, requester_name, requester_other_name,
        unit_type, company_address, legal_person,
        legal_phone, business_cope, state,
        qrcode, scope, file_name,
        file_path, link_user, link_phone,
        longitude, latitude, remark,
        delete_flag, sorting, create_by,
        create_date, update_by, update_date,
        param1, param2, param3,
        requester_first_letter, requester_full_letter,
        scan_num,service_license,check_num,have_service_license,employees_number,have_health_certificate,checked,weekend_work)
        VALUES (#{id,jdbcType=INTEGER}, #{departId,jdbcType=INTEGER}, #{regNumber,jdbcType=VARCHAR},
        #{creditCode,jdbcType=VARCHAR}, #{requesterName,jdbcType=VARCHAR}, #{requesterOtherName,jdbcType=VARCHAR},
        #{unitType,jdbcType=INTEGER}, #{companyAddress,jdbcType=VARCHAR}, #{legalPerson,jdbcType=VARCHAR},
        #{legalPhone,jdbcType=VARCHAR}, #{businessCope,jdbcType=VARCHAR}, #{state,jdbcType=SMALLINT},
        #{qrcode,jdbcType=VARCHAR}, #{scope,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR},
        #{filePath,jdbcType=VARCHAR}, #{linkUser,jdbcType=VARCHAR}, #{linkPhone,jdbcType=VARCHAR},
        #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
        #{deleteFlag,jdbcType=SMALLINT}, #{sorting,jdbcType=SMALLINT}, #{createBy,jdbcType=VARCHAR},
        #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
        #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}, #{param3,jdbcType=VARCHAR},
        #{requesterFirstLetter,jdbcType=VARCHAR}, #{requesterFullLetter,jdbcType=VARCHAR},
        #{scanNum,jdbcType=SMALLINT},#{serviceLicense,jdbcType=VARCHAR},#{checkNum,jdbcType=INTEGER}
        ,#{haveServiceLicense,jdbcType=INTEGER},#{employeesNumber,jdbcType=INTEGER},#{haveHealthCertificate,jdbcType=INTEGER}
        ,#{checked,jdbcType=INTEGER},#{weekendWork,jdbcType=SMALLINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.dayuan3.terminal.bean.RequesterUnit" useGeneratedKeys="true" keyProperty="id">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Aug 15 15:29:08 CST 2019.
        -->
        insert into requester_unit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="departId != null">
                depart_id,
            </if>
            <if test="regNumber != null">
                reg_number,
            </if>
            <if test="creditCode != null">
                credit_code,
            </if>
            <if test="requesterName != null">
                requester_name,
            </if>
            <if test="requesterOtherName != null">
                requester_other_name,
            </if>
            <if test="unitType != null">
                unit_type,
            </if>
            <if test="companyAddress != null">
                company_address,
            </if>
            <if test="legalPerson != null">
                legal_person,
            </if>
            <if test="legalPhone != null">
                legal_phone,
            </if>
            <if test="businessCope != null">
                business_cope,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="qrcode != null">
                qrcode,
            </if>
            <if test="scope != null">
                scope,
            </if>
            <if test="fileName != null">
                file_name,
            </if>
            <if test="filePath != null">
                file_path,
            </if>
            <if test="linkUser != null">
                link_user,
            </if>
            <if test="linkPhone != null">
                link_phone,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="sorting != null">
                sorting,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="param1 != null">
                param1,
            </if>
            <if test="param2 != null">
                param2,
            </if>
            <if test="param3 != null">
                param3,
            </if>
            <if test="requesterFirstLetter != null">
                requester_first_letter,
            </if>
            <if test="requesterFullLetter != null">
                requester_full_letter,
            </if>
            <if test="scanNum != null">
                scan_num,
            </if>
            <if test="serviceLicense != null">
                service_license,
            </if>
            <if test="checkNum != null">
                check_num,
            </if>
            <if test="haveServiceLicense !=null">
            have_service_license,
            </if>
            <if test="employeesNumber !=null">
            employees_number,
            </if>
            <if test="haveHealthCertificate !=null">
            have_health_certificate,
            </if>
            <if test="checked != null">
            checked,
            </if>
            <if test="weekendWork != null">
                weekend_work,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="departId != null">
                #{departId,jdbcType=INTEGER},
            </if>
            <if test="regNumber != null">
                #{regNumber,jdbcType=VARCHAR},
            </if>
            <if test="creditCode != null">
                #{creditCode,jdbcType=VARCHAR},
            </if>
            <if test="requesterName != null">
                #{requesterName,jdbcType=VARCHAR},
            </if>
            <if test="requesterOtherName != null">
                #{requesterOtherName,jdbcType=VARCHAR},
            </if>
            <if test="unitType != null">
                #{unitType,jdbcType=INTEGER},
            </if>
            <if test="companyAddress != null">
                #{companyAddress,jdbcType=VARCHAR},
            </if>
            <if test="legalPerson != null">
                #{legalPerson,jdbcType=VARCHAR},
            </if>
            <if test="legalPhone != null">
                #{legalPhone,jdbcType=VARCHAR},
            </if>
            <if test="businessCope != null">
                #{businessCope,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=SMALLINT},
            </if>
            <if test="qrcode != null">
                #{qrcode,jdbcType=VARCHAR},
            </if>
            <if test="scope != null">
                #{scope,jdbcType=VARCHAR},
            </if>
            <if test="fileName != null">
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null">
                #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="linkUser != null">
                #{linkUser,jdbcType=VARCHAR},
            </if>
            <if test="linkPhone != null">
                #{linkPhone,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=SMALLINT},
            </if>
            <if test="sorting != null">
                #{sorting,jdbcType=SMALLINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="param1 != null">
                #{param1,jdbcType=VARCHAR},
            </if>
            <if test="param2 != null">
                #{param2,jdbcType=VARCHAR},
            </if>
            <if test="param3 != null">
                #{param3,jdbcType=VARCHAR},
            </if>
            <if test="requesterFirstLetter != null">
                #{requesterFirstLetter,jdbcType=VARCHAR},
            </if>
            <if test="requesterFullLetter != null">
                #{requesterFullLetter,jdbcType=VARCHAR},
            </if>
            <if test="scanNum != null">
                #{scanNum,jdbcType=SMALLINT},
            </if>
            <if test="serviceLicense != null">
                #{serviceLicense,jdbcType=VARCHAR},
            </if>
            <if test="checkNum != null">
                #{checkNum,jdbcType=INTEGER},
            </if>
             <if test="haveServiceLicense !=null">
             #{haveServiceLicense},
            </if>
            <if test="employeesNumber !=null">
             #{employeesNumber},
            </if>
            <if test="haveHealthCertificate !=null">
            #{haveHealthCertificate},
            </if>
            <if test="checked != null">
            #{checked},
            </if>
            <if test="weekendWork != null">
                #{weekendWork},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dayuan3.terminal.bean.RequesterUnit">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Aug 15 15:29:08 CST 2019.
        -->
        update requester_unit
        <set>
            <if test="departId != null">
                depart_id = #{departId,jdbcType=INTEGER},
            </if>
            <if test="regNumber != null">
                reg_number = #{regNumber,jdbcType=VARCHAR},
            </if>
            <if test="creditCode != null">
                credit_code = #{creditCode,jdbcType=VARCHAR},
            </if>
            <if test="requesterName != null">
                requester_name = #{requesterName,jdbcType=VARCHAR},
            </if>
            <if test="requesterOtherName != null">
                requester_other_name = #{requesterOtherName,jdbcType=VARCHAR},
            </if>
            <if test="unitType != null">
                unit_type = #{unitType,jdbcType=INTEGER},
            </if>
            <if test="companyAddress != null">
                company_address = #{companyAddress,jdbcType=VARCHAR},
            </if>
            <if test="legalPerson != null">
                legal_person = #{legalPerson,jdbcType=VARCHAR},
            </if>
            <if test="legalPhone != null">
                legal_phone = #{legalPhone,jdbcType=VARCHAR},
            </if>
            <if test="businessCope != null">
                business_cope = #{businessCope,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=SMALLINT},
            </if>
            <if test="qrcode != null">
                qrcode = #{qrcode,jdbcType=VARCHAR},
            </if>
            <if test="scope != null">
                scope = #{scope,jdbcType=VARCHAR},
            </if>
            <if test="fileName != null">
                file_name = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null">
                file_path = #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="linkUser != null">
                link_user = #{linkUser,jdbcType=VARCHAR},
            </if>
            <if test="linkPhone != null">
                link_phone = #{linkPhone,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=SMALLINT},
            </if>
            <if test="sorting != null">
                sorting = #{sorting,jdbcType=SMALLINT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="param1 != null">
                param1 = #{param1,jdbcType=VARCHAR},
            </if>
            <if test="param2 != null">
                param2 = #{param2,jdbcType=VARCHAR},
            </if>
            <if test="param3 != null">
                param3 = #{param3,jdbcType=VARCHAR},
            </if>
            <if test="requesterFirstLetter != null">
                requester_first_letter = #{requesterFirstLetter,jdbcType=VARCHAR},
            </if>
            <if test="requesterFullLetter != null">
                requester_full_letter = #{requesterFullLetter,jdbcType=VARCHAR},
            </if>
            <if test="scanNum != null">
                scan_num = #{scanNum,jdbcType=SMALLINT},
            </if>
            <if test="serviceLicense != null">
                service_license = #{serviceLicense,jdbcType=VARCHAR},
            </if>
            <if test="checkNum != null">
                check_num = #{checkNum,jdbcType=INTEGER},
            </if>
            <if test="haveServiceLicense !=null">
              have_service_license = #{haveServiceLicense},
            </if>
            <if test="employeesNumber !=null">
             employees_number = #{employeesNumber},
            </if>
            <if test="haveHealthCertificate !=null">
            have_health_certificate = #{haveHealthCertificate},
            </if>
            <if test="checked !=null">
            checked =#{checked},
            </if>
            <if test="weekendWork !=null">
                weekend_work =#{weekendWork},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dayuan3.terminal.bean.RequesterUnit">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Aug 15 15:29:08 CST 2019.
        -->
        UPDATE requester_unit
        SET depart_id = #{departId,jdbcType=INTEGER},
        reg_number = #{regNumber,jdbcType=VARCHAR},
        credit_code = #{creditCode,jdbcType=VARCHAR},
        requester_name = #{requesterName,jdbcType=VARCHAR},
        requester_other_name = #{requesterOtherName,jdbcType=VARCHAR},
        unit_type = #{unitType,jdbcType=INTEGER},
        company_address = #{companyAddress,jdbcType=VARCHAR},
        legal_person = #{legalPerson,jdbcType=VARCHAR},
        legal_phone = #{legalPhone,jdbcType=VARCHAR},
        business_cope = #{businessCope,jdbcType=VARCHAR},
        state = #{state,jdbcType=SMALLINT},
        qrcode = #{qrcode,jdbcType=VARCHAR},
        scope = #{scope,jdbcType=VARCHAR},
        file_name = #{fileName,jdbcType=VARCHAR},
        file_path = #{filePath,jdbcType=VARCHAR},
        link_user = #{linkUser,jdbcType=VARCHAR},
        link_phone = #{linkPhone,jdbcType=VARCHAR},
        longitude = #{longitude,jdbcType=VARCHAR},
        latitude = #{latitude,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR},
        delete_flag = #{deleteFlag,jdbcType=SMALLINT},
        sorting = #{sorting,jdbcType=SMALLINT},
        create_by = #{createBy,jdbcType=VARCHAR},
        create_date = #{createDate,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=VARCHAR},
        update_date = #{updateDate,jdbcType=TIMESTAMP},
        param1 = #{param1,jdbcType=VARCHAR},
        param2 = #{param2,jdbcType=VARCHAR},
        param3 = #{param3,jdbcType=VARCHAR},
        requester_first_letter = #{requesterFirstLetter,jdbcType=VARCHAR},
        requester_full_letter = #{requesterFullLetter,jdbcType=VARCHAR},
        scan_num = #{scanNum,jdbcType=SMALLINT},
        service_license = #{serviceLicense,jdbcType=VARCHAR},
        check_num = #{checkNum,jdbcType=INTEGER},
        have_service_license = #{haveServiceLicense},
        employees_number = #{employeesNumber},
        have_health_certificate = #{haveHealthCertificate},
        checked = #{checked},
        weekend_work = #{weekendWork}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <sql id="Example_Where_Clause2">
        where 1=1
        <if test="obj.filterDelete==0">
            AND  a.delete_flag = 0
        </if>
        <if test="obj.samplingId!=null and obj.samplingId !=''">
            AND b.sampling_id = #{obj.samplingId}
        </if>
        <trim suffixOverrides=",">
            <if test="obj.requesterName!=null">
                and a.requester_name like CONCAT('%',#{obj.requesterName},'%')
                or a.credit_code like CONCAT('%',#{obj.requesterName},'%')
            </if>
        </trim>
    </sql>

    <sql id="Example_Where_Clause">
        where unit.delete_flag = 0
        <trim suffixOverrides=",">
        	<if test="obj.checked != null">
					and unit.checked = #{obj.checked}
			</if>
            <if test="obj.requesterName!=null">
                and unit.requester_name like CONCAT('%',#{obj.requesterName},'%')
                or unit.credit_code like CONCAT('%',#{obj.requesterName},'%')
            </if>
        </trim>
    </sql>
    <!-- 分页基础查询 -->
    <select id="loadDatagrid" resultMap="BaseResultMap" parameterType="Object">
        select
        unit.*,d.depart_name,reqType.unit_type as unit_type_name
        from requester_unit unit
       left join requester_unit_type reqType on unit.unit_type=reqType.id
        left join t_s_depart d on unit.depart_id=d.id
        <include refid="Example_Where_Clause"/>
        
        order by d.depart_code asc,unit.update_date ${order} limit #{rowOffset}, #{pageSize}
    </select>
    
        <!-- 分页基础查询 -->
    <select id="loadDatagrid2" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List2"/>
        from requester_unit a 
        left join tb_sampling_requester b on a.id = b.request_id
        <include refid="Example_Where_Clause2"/>
        order by create_date ${order} limit #{rowOffset}, #{pageSize}
    </select>
    
   <select id="getRowTotal2" resultType="java.lang.Integer" parameterType="Object">
        select count(1) as rowTotal
        from requester_unit a 
        left join tb_sampling_requester b on a.id = b.request_id
        <include refid="Example_Where_Clause2"/>

    </select>

    <select id="getRowTotal" resultType="java.lang.Integer" parameterType="Object">
        select count(1) as rowTotal
        from requester_unit unit
       left join requester_unit_type reqType on unit.unit_type=reqType.id
        left join t_s_depart d on unit.depart_id=d.id
        <include refid="Example_Where_Clause"/>
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from requester_unit
        where delete_flag = 0
        <if test="lastUpdateTime!=null">
            and update_date&gt;=#{lastUpdateTime}
        </if>
    </select>


    <!-- 委托单位查询 2019-8-13 huht  -->
    <resultMap id="BaseCheckResultMap" type="com.dayuan3.terminal.bean.sampleDetail">
        <id column="samplingId" jdbcType="INTEGER" property="samplingId"/>
        <result column="samplingDetailId" jdbcType="INTEGER" property="samplingDetailId"/>
        <result column="samplingNo" jdbcType="VARCHAR" property="samplingNo"/>
        <result column="samplingDate" jdbcType="TIMESTAMP" property="samplingDate"/>
        <result column="payDate" jdbcType="TIMESTAMP" property="payDate"/>
        <result column="foodName" jdbcType="VARCHAR" property="foodName"/>
        <result column="itemName" jdbcType="VARCHAR" property="itemName"/>
        <result column="supplier" jdbcType="VARCHAR" property="supplier"/>
        <result column="opeName" jdbcType="VARCHAR" property="opeName"/>
        <result column="conclusion" jdbcType="VARCHAR" property="conclusion"/>
        <result column="checkDate" jdbcType="TIMESTAMP" property="checkDate"/>
        <result column="collectCode" jdbcType="VARCHAR" property="collectCode"/>
    </resultMap>

    <!--
        @discription 根据委托单位id 查询送检样品检测结果
        @autho shit
        @date 2020-01-07
        抽检单表:tb_sampling  委托单位表:requester_unit 抽检单表和委托单位中间表:tb_sampling_requester
        抽检单明细表:tb_sampling_detail 检测数据表:data_check_recording
      -->
    <select id="queryDataCheckById" resultMap="BaseCheckResultMap">
        SELECT
            ts.id,ts.sampling_no as samplingNo, ts.pay_date as payDate,
            tsd.sampling_id as samplingId,tsd.id as samplingDetailId,
            tsd.food_name as foodName,tsd.item_name as itemName,
            tsd.collect_code collectCode,tsd.ope_shop_name as opeName,
            CASE
            WHEN dcr.conclusion = '合格' THEN '合格'
            WHEN dcr.conclusion = '不合格' AND dcr.reload_flag &gt;= #{checkNumber} THEN '不合格'
            ELSE '' END conclusion,dcr.check_date as checkDate
        FROM tb_sampling_requester tsr
            JOIN tb_sampling ts ON tsr.sampling_id = ts.id
            JOIN tb_sampling_detail tsd ON tsd.sampling_id=ts.id
            LEFT JOIN data_check_recording dcr ON tsd.id=dcr.sampling_detail_id
        WHERE ts.delete_flag  =0 AND tsr.request_id=#{id} AND tsr.delete_flag =0
        <if test="start != null and start != ''">
            AND tsd.sample_tube_time &gt;= #{start}
        </if>
        <if test="end != null and end != ''">
            AND tsd.sample_tube_time &lt;= CONCAT(#{end},' 23:59:59')
        </if>
        ORDER BY dcr.check_date DESC
        <if test="rowStart !=null and rowEnd!=null">
            LIMIT #{rowStart}, #{rowEnd}
        </if>
      <!--
      #保留之前的sql
      SELECT
        s.sampling_no as samplingNo,
        s.pay_date as payDate,
        d.sampling_id as samplingId,
        d.id as samplingDetailId,
        d.food_name as foodName,
        d.item_name as itemName,
        d.supplier as supplier,
        d.collect_code collectCode,
        d.ope_shop_name as opeName,
        CASE
        WHEN c.conclusion = '合格' THEN '合格'
        WHEN c.conclusion = '不合格' AND c.reload_flag >= #{checkNumber} THEN '不合格'
        ELSE ''
        END conclusion,
        c.check_date as checkDate
        FROM tb_sampling_detail d
        LEFT JOIN tb_sampling s ON d.sampling_id=s.id
        LEFT JOIN data_check_recording c ON d.id=c.sampling_detail_id
        WHERE s.delete_flag=0 AND s.reg_id=#{id}
        <if test="start != null and start != ''">
            and d.sample_tube_time &gt;= #{start}
        </if>
        <if test="end != null and end != ''">
            and d.sample_tube_time &lt;= CONCAT(#{end},' 23:59:59')
        </if>
        ORDER BY c.check_date DESC
        <if test="rowStart !=null and rowEnd!=null">
            limit #{rowStart}, #{rowEnd}
        </if>-->
    </select>

    <!-- 查询委托单位名称 或 社会统一编码是否存在 -->
    <select id="queryIsExist" resultType="java.lang.Integer" parameterType="Object">
        SELECT count(1) from requester_unit WHERE delete_flag=0
        <if test="requesterName!=null and requesterName!=''">
            and requester_name= #{requesterName}
        </if>
        <if test="creditCode!=null and creditCode!=''">
            and credit_code= #{creditCode}
        </if>
    </select>
    <select id="selectByName" resultMap="BaseResultMap">
        SELECT id,requester_name,company_address,link_phone FROM requester_unit WHERE requester_name = #{requesterName} AND delete_flag = 0 AND checked = 1
        <if test="id != null">
            AND id != #{id}
        </if>
        LIMIT 0,1
    </select>

    <!--委托单位查询检测数据 shit-->
    <select id="queryDataCheckById2" resultType="com.dayuan3.terminal.bean.sampleDetail">
        SELECT
        ts.id,ts.sampling_no as samplingNo, ts.pay_date as payDate,ts.sampling_date AS samplingDate,
        tsd.sampling_id as samplingId,tsd.id as samplingDetailId,
        tsd.food_name as foodName,tsd.item_name as itemName,
        tsd.collect_code collectCode,tsd.ope_shop_name as opeName,
        tsd.sample_tube_time AS sampleTubeTime,
        tsd.purchase_amount AS purchaseAmount,
        CASE
        WHEN dcr.conclusion = '合格' THEN '合格'
        WHEN dcr.conclusion = '不合格' AND dcr.reload_flag &gt;= #{checkNumber} THEN '不合格'
        ELSE '' END conclusion,dcr.check_date as checkDate
        FROM tb_sampling_requester tsr
        JOIN tb_sampling ts ON tsr.sampling_id = ts.id
        JOIN tb_sampling_detail tsd ON tsd.sampling_id=ts.id
        LEFT JOIN data_check_recording dcr ON tsd.id=dcr.sampling_detail_id
        WHERE ts.delete_flag  =0 AND ts.order_status =2 AND tsr.request_id=#{id} AND tsr.delete_flag =0
        AND tsd.collect_code!=''
        <if test="start != null and start != ''">
            AND tsd.sample_tube_time &gt;= #{start}
        </if>
        <if test="end != null and end != ''">
            AND tsd.sample_tube_time &lt;= CONCAT(#{end},' 23:59:59')
        </if>
        ORDER BY dcr.check_date DESC
        <if test="rowStart !=null and rowEnd!=null">
            LIMIT #{rowStart}, #{rowEnd}
        </if>
    </select>
</mapper>