<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="食安科技">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>经营户</title>
    <link rel="stylesheet" type="text/css" href="../iconfont/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../css/instrument.css"/>
</head>
<body>
<div class="top-bar is-flex">
    <div class="top-back text-left">
        <a href="javascript:window.history.back();"><img src="../img/new.png" alt=""></a>
        <span id="regName"></span>
    </div>
    <div class="top-btn text-right select-type">
        <div class="cs-search-box cs-fr">
            <div class="cs-search-filter clearfix cs-fl">
                <input class="cs-input-cont cs-fl" type="text" id="keywords" placeholder="请输入内容">
                <input type="submit" class="cs-search-btn cs-fl" onclick="search()" value="搜索">
            </div>
        </div>
        <!--<a id="add_bus_href"><img src="../img/add.png"></a>-->
        <input type="button" class="cs-search-btn cs-fl" style="border-radius: 0.25rem" onclick="addBus()" value="新增">
    </div>
</div>
<div class="content">
    <table class="table-style">
        <thead>
        <tr>
            <th style="width: 3.75rem">序号</th>
            <th class="cs-header" style="width: 10rem;">摊位编号</th>
            <th class="cs-header">摊位名称</th>
            <th class="cs-header" style="width: 8.25rem;">经营者</th>
            <th class="cs-header" style="width: 8.25rem;">联系方式</th>
            <th class="cs-header" style="width: 6.25rem;">状态</th>
            <th class="cs-header" style="width: 6.25rem;">操作</th>
        </tr>
        </thead>
        <tbody id="tableData"></tbody>
    </table>
</div>
<div id="noData" class="no-data cs-hide">
    <img src="../img/logo.png" alt="" style="width: 60px">
    <p style="font-size:16px;margin-top: 5px;">暂无数据</p>
</div>
<div id="my-message"></div>
<!-- 内容主体 结束 -->
<!-- JavaScript -->
<script src="../js/jquery.min1.11.3.js"></script>
<script src="../common/js/common.js"></script>
<script>$("#my-message").load("message.html");</script>
<script type="text/javascript">
    let regId = GetQueryString('id');
    let regName = GetQueryString('regName');
    $("#regName").text("经营户（" + regName + "）");

    //$("#add_bus_href").attr("onclick", "reg_bus_add.html?regId=" + regId + "&regName=" + encodeURI(regName));
    function addBus() {
        window.location.href = "reg_bus_add.html?regId=" + regId + "&regName=" + encodeURI(regName);
    }

    const pageConfig = {
        pageSize: 10000,
        pageNo: 1,
        rowTotal: 0,
        pageCount: 0,
    };
    let $tableData = $("#tableData");
    let $noData = $("#noData");

    $(function () {
        loadData();
    });

    function loadData() {
        $.ajax({
            type: "GET",
            url: "../../iRegulatory/Object/bus",
            data: {
                pageSize: pageConfig.pageSize,
                pageNo: pageConfig.pageNo,
                opeShopName: $("#keywords").val(),
                regId: regId,
                userToken
            },
            dataType: "json",
            success: ({success, msg, obj}) => {
                if (success) {
                    let html = ``;
                    for (let i = 0; i < obj.results.length; i++) {
                        let item = obj.results[i];
                        html += `
                                <tr>
                                    <td>${i + 1}</td>
                                    <td>${item.opeShopCode}</td>
                                    <td>${item.opeShopName}</td>
                                    <td>${item.opeName}</td>
                                    <td>${item.opePhone}</td>
                                     <td>${item.checked === 1 ? '<span>已审核</span>' : '<span class="text-danger">未审核</span>'}</td>
                                    <td><a href="reg_bus_add.html?id=${item.id}&regId=${regId}&regName=${encodeURI(regName)}" class="icon iconfont icon-xiugai  icon-xiugai"></a></td>
                                </tr>`;
                    }
                    $tableData.html(html);
                    html ? $noData.addClass("cs-hide") : $noData.removeClass("cs-hide");
                } else {
                    message(msg)
                }
            }
        });
    }

    function search() {
        // pageConfig.pageSize = 10;
        // pageConfig.pageNo = 1;
        loadData();
    }

</script>
<script type="text/javascript">
    /* 返回上个页面-强制页面刷新  解决方案2参考：https://www.cnblogs.com/wangmaoling/p/8022561.html*/
    window.addEventListener('pageshow', function (event) {
        //event.persisted属性为true时，表示当前文档是从往返缓存中获取
        //window.performance.navigation.type === 2: 网页通过“前进”或“后退”按钮加载
        if (event.persisted || window.performance && window.performance.navigation.type === 2) {
            setTimeout(function () {
                loadData();//当网页是从缓存中获取时需要重新加载数据
            }, 200)
        }
    }, false);
</script>
</body>
</html>
