<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="食安科技">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>被检单位</title>
    <link rel="stylesheet" type="text/css" href="../iconfont/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../css/instrument.css"/>
    <style type="text/css">

    </style>
</head>
<body>
<div class="top-bar is-flex">
    <div class="top-back text-left">
        <a href="javascript:window.history.back();"><img src="../img/new.png" alt=""></a>
        <span id="pageTitle">新增</span>被检单位
    </div>
    <div class="top-btn text-right">
    </div>
</div>
<div class="content">
    <form id="regForm" autocomplete="off">
        <input type="hidden" name="id">
        <div class="form-group">
            <div class="group-row">
                <label>
                    <span class="move-name"><i class="text-danger">*</i>被检单位：</span>
                    <input type="text" name="regName" maxlength="100">
                </label>
            </div>
            <div class="group-row group-row2">
                <label>
                    <span class="move-name"><i class="text-danger">*</i>单位类型：</span>
                    <select id="regTypes" name="regType">
                    </select>
                </label>
            </div>
            <!--<div class="group-row group-row2">
                <label>
                    <span class="move-name">市场类型：</span>
                    <select name="managementType">
                        <option value="1">农贸市场</option>
                        <option value="0">批发市场</option>
                    </select>
                </label>
            </div>-->
            <div class="group-row">
                <label>
                    <span class="move-name">法人名称：</span>
                    <input type="text" name="legalPerson" maxlength="12">
                </label>
            </div>
            <div class="group-row">
                <label>
                    <span class="move-name">统一社会信用代码：</span>
                    <input type="text" name="creditCode" maxlength="100">
                </label>
            </div>
            <div class="group-row">
                <label>
                    <span class="move-name">联系人名称：</span>
                    <input type="text" name="linkUser" maxlength="20">
                </label>
            </div>
            <div class="group-row">
                <label>
                    <span class="move-name">联系人电话：</span>
                    <input type="text" name="linkPhone" maxlength="20">
                </label>
            </div>
            <div class="group-row">
                <label>
                    <span class="move-name">联系人身份证：</span>
                    <input type="text" name="linkIdcard" maxlength="20">
                </label>
            </div>
            <div class="group-row group-row2">
                <label>
                    <span class="move-name">状态：</span>
                    <select name="checked">
                        <option value="1">已审核</option>
                        <option value="0">未审核</option>
                    </select>
                </label>
            </div>
            <div class="btn-list">
                <a href="javascript:window.history.back();" class="btn">取消</a>
                <a class="btn" id="btnSave">确定</a>
            </div>
        </div>
    </form>
</div>
<div id="my-message"></div>
<!-- 内容主体 结束 -->
<!-- JavaScript -->
<script src="../js/jquery.min1.11.3.js"></script>
<script src="../common/js/common.js"></script>
<!--表单校验和中文化-->
<script src="../plug-in/validate/validate-1.14.0.min.js"></script>
<script src="../plug-in/validate/messages_zh.js"></script>
<!--用于表单回显-->
<script src="../plug-in/easyui/jquery.easyui.min.js"></script>
<script>$("#my-message").load("message.html");</script>
<script>
    let regId = GetQueryString('id');
    $("#pageTitle").text(regId ? '编辑' : '新增');
    let $btnSave = $("#btnSave");

    $(function () {
        //查询单位类型
        getRegTypes();
        if (regId) {
            queryById();
        }
    });

    //============================表单的校验和提交_start========================

    // 表单校验规则
    $("#regForm").validate({
        rules: {
            regName: {
                required: true,
                //reqName: true,
            }
        },
        messages: {　　　　//验证错误信息
            regName: {
                required: '请填写被检单位',
                reqName: '该单位已被注册',
            },
        },
        submitHandler: function (form) { //校验通过之后回调
            submitForm();//提交表单
        },
        /* 重写错误显示消息方法,以message方式弹出错误消息 */
        showErrors: function (errorMap, errorList) {
            if (errorList && errorList.length > 0) {
                message(errorList[0].message);
                $btnSave.removeClass("notclick");
            }
        },
        /* 失去焦点时不验证 */
        onfocusout: false,
        /*敲击键盘时不验证*/
        onkeyup: false
    });

    //单位名称校验是否重复
    $.validator.addMethod('reqName', function (value, element) {
        let isOk = false;
        $.ajax({
            type: "GET",
            url: '../../iRegulatory/Object/reqName',
            data: {name: value, id: regId, type: $("#regTypes").val(), userToken},
            async: false,
            dataType: "json",
            success: function (data) {
                isOk = data;
            }
        });
        return this.optional(element) || isOk;
    }, "该单位已被注册");

    $btnSave.click(function () {
        $btnSave.addClass("notclick");
        $("#regForm").submit();
    });

    //提交表单
    function submitForm() {
        let formData = new FormData($('#regForm')[0]);
        formData.append("userToken", userToken);
        formData.append("serialNumber", serialNumber);
        $.ajax({
            type: "POST",
            url: "../../iRegulatory/Object/",
            contentType: false,
            processData: false,
            data: formData,
            dataType: "json",
            success: ({success, msg, obj}) => {
                if (success) {
                    message({message: msg, type: "success"});
                    setTimeout(function () {
                        window.history.back();
                    }, 600);
                } else {
                    message(msg);
                }
            }
        });

    }

    //============================表单的校验和提交_end========================

    //根据ID查询数据回显
    function queryById() {
        $.ajax({
            type: "GET",
            url: `../../iRegulatory/Object/${regId}?userToken=${userToken}`,
            dataType: "json",
            success: ({success, msg, obj}) => {
                if (success) {
                    $('#regForm').form('load', obj);
                } else {
                    message(msg)
                }
            }
        });
    }

    //查询单位类型
    function getRegTypes() {
        $.ajax({
            type: "GET",
            url: "../../iRegulatory/Object/regTypes",
            async: false,
            data: {userToken},
            dataType: "json",
            success: ({success, msg, obj}) => {
                if (success) {
                    let html = ``;
                    for (let i = 0; i < obj.length; i++) {
                        html += `<option value="${obj[i].id}">${obj[i].regType}</option>`
                    }
                    $("#regTypes").html(html);
                } else {
                    message(msg)
                }
            }
        });
    }
</script>
</body>
</html>
