<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayuan.mapper.detect.DetectCarLocationMapper" >
  <resultMap id="BaseResultMap" type="com.dayuan.bean.detect.DetectCarLocation" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="car_imei" property="carImei" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="speed" property="speed" jdbcType="INTEGER" />
    <result column="direction" property="direction" jdbcType="VARCHAR" />
    <result column="positioning_type" property="positioningType" jdbcType="VARCHAR" />
    <result column="mobile_cc" property="mobileCc" jdbcType="VARCHAR" />
    <result column="mobile_nc" property="mobileNc" jdbcType="VARCHAR" />
    <result column="location_ac" property="locationAc" jdbcType="VARCHAR" />
    <result column="cell_id" property="cellId" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="param1" property="param1" jdbcType="VARCHAR" />
    <result column="param2" property="param2" jdbcType="VARCHAR" />
    <result column="param3" property="param3" jdbcType="VARCHAR" />
     <result column="pointName" property="pointName" jdbcType="VARCHAR" />
    <result column="licensePlate" property="licensePlate" jdbcType="VARCHAR" />
    <result column="showDate" property="showDate" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, car_imei, longitude, latitude, speed, direction, positioning_type, mobile_cc, 
    mobile_nc, location_ac, cell_id, update_date, param1, param2, param3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from detect_car_location
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from detect_car_location
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dayuan.bean.detect.DetectCarLocation" >
    insert into detect_car_location (car_imei, longitude, 
      latitude, speed, direction, 
      positioning_type, mobile_cc, mobile_nc, 
      location_ac, cell_id, update_date, 
      param1, param2, param3
      )
    values (#{carImei,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR}, #{speed,jdbcType=INTEGER}, #{direction,jdbcType=VARCHAR}, 
      #{positioningType,jdbcType=VARCHAR}, #{mobileCc,jdbcType=VARCHAR}, #{mobileNc,jdbcType=VARCHAR}, 
      #{locationAc,jdbcType=VARCHAR}, #{cellId,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}, #{param3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dayuan.bean.detect.DetectCarLocation" >
    insert into detect_car_location
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carImei != null" >
        car_imei,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="speed != null" >
        speed,
      </if>
      <if test="direction != null" >
        direction,
      </if>
      <if test="positioningType != null" >
        positioning_type,
      </if>
      <if test="mobileCc != null" >
        mobile_cc,
      </if>
      <if test="mobileNc != null" >
        mobile_nc,
      </if>
      <if test="locationAc != null" >
        location_ac,
      </if>
      <if test="cellId != null" >
        cell_id,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="param1 != null" >
        param1,
      </if>
      <if test="param2 != null" >
        param2,
      </if>
      <if test="param3 != null" >
        param3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="carImei != null" >
        #{carImei,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="speed != null" >
        #{speed,jdbcType=INTEGER},
      </if>
      <if test="direction != null" >
        #{direction,jdbcType=VARCHAR},
      </if>
      <if test="positioningType != null" >
        #{positioningType,jdbcType=VARCHAR},
      </if>
      <if test="mobileCc != null" >
        #{mobileCc,jdbcType=VARCHAR},
      </if>
      <if test="mobileNc != null" >
        #{mobileNc,jdbcType=VARCHAR},
      </if>
      <if test="locationAc != null" >
        #{locationAc,jdbcType=VARCHAR},
      </if>
      <if test="cellId != null" >
        #{cellId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="param1 != null" >
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null" >
        #{param3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dayuan.bean.detect.DetectCarLocation" >
    update detect_car_location
    <set >
      <if test="carImei != null" >
        car_imei = #{carImei,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="speed != null" >
        speed = #{speed,jdbcType=INTEGER},
      </if>
      <if test="direction != null" >
        direction = #{direction,jdbcType=VARCHAR},
      </if>
      <if test="positioningType != null" >
        positioning_type = #{positioningType,jdbcType=VARCHAR},
      </if>
      <if test="mobileCc != null" >
        mobile_cc = #{mobileCc,jdbcType=VARCHAR},
      </if>
      <if test="mobileNc != null" >
        mobile_nc = #{mobileNc,jdbcType=VARCHAR},
      </if>
      <if test="locationAc != null" >
        location_ac = #{locationAc,jdbcType=VARCHAR},
      </if>
      <if test="cellId != null" >
        cell_id = #{cellId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="param1 != null" >
        param1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        param2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null" >
        param3 = #{param3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dayuan.bean.detect.DetectCarLocation" >
    update detect_car_location
    set car_imei = #{carImei,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      speed = #{speed,jdbcType=INTEGER},
      direction = #{direction,jdbcType=VARCHAR},
      positioning_type = #{positioningType,jdbcType=VARCHAR},
      mobile_cc = #{mobileCc,jdbcType=VARCHAR},
      mobile_nc = #{mobileNc,jdbcType=VARCHAR},
      location_ac = #{locationAc,jdbcType=VARCHAR},
      cell_id = #{cellId,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      param1 = #{param1,jdbcType=VARCHAR},
      param2 = #{param2,jdbcType=VARCHAR},
      param3 = #{param3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
<!-- 根据设备imei和时间查询定位数据 -->
 <select id="queryByImeiAndDate" resultMap="BaseResultMap" parameterType="Object" >
    select 
    <include refid="Base_Column_List" />
    from detect_car_location
    where car_imei=#{imei} and update_date=#{updateDate}
  </select>
  <!-- 根据检测车Id查询车辆最后位置 -->
   <select id="queryLastLocationByPointId" resultMap="BaseResultMap" parameterType="Object" >
   	SELECT car.car_imei,car.longitude,car.latitude, car.speed,car.id,car.update_date,point.point_name as pointName,
	point.license_plate as licensePlate
	FROM detect_car_location car 
	inner JOIN base_point point on car.car_imei=point.IMEI 
	where car.car_imei =(SELECT IMEI from base_point  WHERE id=#{id} )
 	ORDER BY car.update_date desc
	LIMIT 0,1
  </select>
  
  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.dayuan.model.detect.DetectCarLocationModel" >
    select 
    <include refid="Base_Column_List" />
    from detect_car_location
    where car_imei=#{carImei}
    <if test="showStop">
    	and speed=0
    </if>
	and update_date &gt;= #{startTime}
	and update_date &lt;=#{endTime}
 	order by update_date
  </select>
  
    <select id="queryGroupDateByCarImei" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT DATE_FORMAT(update_date,'%Y-%m-%d') id,DATE_FORMAT(update_date,'%Y-%m-%d') showDate from detect_car_location 
	where car_imei=#{carImei}
	GROUP BY showDate
	ORDER BY showDate desc LIMIT 0,10;
  </select>
</mapper>