<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayuan3.admin.mapper.SplitAmountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dayuan3.admin.bean.SplitAmount">
        <id column="id" property="id" />
        <result column="number" property="number" />
        <result column="income_number" property="incomeNumber" />
        <result column="split_money" property="splitMoney" />
        <result column="split_json" property="splitJson" />
        <result column="status" property="status" />
        <result column="split_date" property="splitDate" />
        <result column="receive_number" property="receiveNumber" />
        <result column="receive_status" property="receiveStatus" />
        <result column="receive_date" property="receiveDate" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
        <result column="param1" property="param1" />
        <result column="param2" property="param2" />
        <result column="param3" property="param3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, number, income_number, split_money, split_json, status, split_date,receive_number, receive_status, receive_date, remark, delete_flag, create_by, create_date, update_by, update_date, param1, param2, param3
    </sql>

</mapper>
