<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>微信公众号-服务升级提醒</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<!-- <meta name="format-detection" content="telephone=no"> -->
		<style type="text/css">
			body,html{
				width: 100%;
				height: 100%;
			}
			*{
				margin: 0;
				padding: 0;
			}
			i{
				font-style: normal;
			}
			.line-height p{
				line-height: 36px;
				
			}
		</style>
	</head>
	<body>
		<div style="background: linear-gradient(to right,#059cf5, #4d42fd); text-align: center;line-height: 60px; font-size: 18px; font-weight: 600;color: #fff;">
			服务升级提醒
		</div>
		<div class="line-height" style="font-size: 16px;width: auto; padding: 20px;">
		<p>尊敬的用户：</p>
		 <p style="text-indent: 2em;">您好！为了向您提供更好的服务，兹定于<i style="color:red;font-weight: bold;"> 2021-12-01 15:00 至 2021-12-01 17:00 </i>对服务号进行升级维护，系统维护期间，服务号将暂停使用。给您带来不便，敬请谅解！
		 </p>		
		 <p style="text-align: right; margin-top: 20px;">广东达元绿洲食品安全科技股份有限公司</p>
		
		 <p style="text-align: right;margin-top: 0px;">2021年12月01日</p>
		 </div>
	</body>
</html>
