<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayuan3.statistics.mapper.ConsumptionStatisticDailyMapper">
  <resultMap id="BaseResultMap" type="com.dayuan3.statistics.bean.ConsumptionStatisticDaily">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="qty_order" jdbcType="INTEGER" property="qtyOrder" />
    <result column="qty_order_details" jdbcType="INTEGER" property="qtyOrderDetails" />
    <result column="fee_order" jdbcType="DOUBLE" property="feeOrder" />
    <result column="fee1" jdbcType="DOUBLE" property="fee1" />
    <result column="fee2" jdbcType="DOUBLE" property="fee2" />
    <result column="fee3" jdbcType="DOUBLE" property="fee3" />
    <result column="param1" jdbcType="VARCHAR" property="param1" />
    <result column="param2" jdbcType="VARCHAR" property="param2" />
    <result column="param3" jdbcType="VARCHAR" property="param3" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="delete_flag" jdbcType="SMALLINT" property="deleteFlag" />
  </resultMap>
  <resultMap id="ConsumptionModel" type="com.dayuan3.statistics.model.ConsumptionModel"></resultMap>
  <sql id="Base_Column_List">
    id, date, user_id, user_name, user_phone, qty_order, qty_order_details, fee_order, 
    fee1, fee2, fee3, param1, param2, param3, create_by, create_date, update_by, update_date, 
    delete_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from consumption_statistic_daily
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from consumption_statistic_daily
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dayuan3.statistics.bean.ConsumptionStatisticDaily">
    insert into consumption_statistic_daily (id, date, user_id, 
      user_name, user_phone, qty_order, 
      qty_order_details, fee_order, fee1, 
      fee2, fee3, param1, param2, 
      param3, create_by, create_date, 
      update_by, update_date, delete_flag
      )
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=DATE}, #{userId,jdbcType=INTEGER}, 
      #{userName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{qtyOrder,jdbcType=INTEGER}, 
      #{qtyOrderDetails,jdbcType=INTEGER}, #{feeOrder,jdbcType=DOUBLE}, #{fee1,jdbcType=DOUBLE}, 
      #{fee2,jdbcType=DOUBLE}, #{fee3,jdbcType=DOUBLE}, #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}, 
      #{param3,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dayuan3.statistics.bean.ConsumptionStatisticDaily">
    insert into consumption_statistic_daily
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="qtyOrder != null">
        qty_order,
      </if>
      <if test="qtyOrderDetails != null">
        qty_order_details,
      </if>
      <if test="feeOrder != null">
        fee_order,
      </if>
      <if test="fee1 != null">
        fee1,
      </if>
      <if test="fee2 != null">
        fee2,
      </if>
      <if test="fee3 != null">
        fee3,
      </if>
      <if test="param1 != null">
        param1,
      </if>
      <if test="param2 != null">
        param2,
      </if>
      <if test="param3 != null">
        param3,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="qtyOrder != null">
        #{qtyOrder,jdbcType=INTEGER},
      </if>
      <if test="qtyOrderDetails != null">
        #{qtyOrderDetails,jdbcType=INTEGER},
      </if>
      <if test="feeOrder != null">
        #{feeOrder,jdbcType=DOUBLE},
      </if>
      <if test="fee1 != null">
        #{fee1,jdbcType=DOUBLE},
      </if>
      <if test="fee2 != null">
        #{fee2,jdbcType=DOUBLE},
      </if>
      <if test="fee3 != null">
        #{fee3,jdbcType=DOUBLE},
      </if>
      <if test="param1 != null">
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null">
        #{param3,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dayuan3.statistics.bean.ConsumptionStatisticDaily">
    update consumption_statistic_daily
    <set>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="qtyOrder != null">
        qty_order = #{qtyOrder,jdbcType=INTEGER},
      </if>
      <if test="qtyOrderDetails != null">
        qty_order_details = #{qtyOrderDetails,jdbcType=INTEGER},
      </if>
      <if test="feeOrder != null">
        fee_order = #{feeOrder,jdbcType=DOUBLE},
      </if>
      <if test="fee1 != null">
        fee1 = #{fee1,jdbcType=DOUBLE},
      </if>
      <if test="fee2 != null">
        fee2 = #{fee2,jdbcType=DOUBLE},
      </if>
      <if test="fee3 != null">
        fee3 = #{fee3,jdbcType=DOUBLE},
      </if>
      <if test="param1 != null">
        param1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        param2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null">
        param3 = #{param3,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dayuan3.statistics.bean.ConsumptionStatisticDaily">
    update consumption_statistic_daily
    set date = #{date,jdbcType=DATE},
      user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      qty_order = #{qtyOrder,jdbcType=INTEGER},
      qty_order_details = #{qtyOrderDetails,jdbcType=INTEGER},
      fee_order = #{feeOrder,jdbcType=DOUBLE},
      fee1 = #{fee1,jdbcType=DOUBLE},
      fee2 = #{fee2,jdbcType=DOUBLE},
      fee3 = #{fee3,jdbcType=DOUBLE},
      param1 = #{param1,jdbcType=VARCHAR},
      param2 = #{param2,jdbcType=VARCHAR},
      param3 = #{param3,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="loadDatagrid" resultMap="ConsumptionModel" parameterType="Object">
    select csd.id, csd.date, csd.user_id userId, csd.user_name userName, csd.user_phone userPhone,
        SUM(csd.qty_order) qtyOrder, SUM(csd.qty_order_details) qtyOrderDetails, SUM(csd.fee_order) feeOrder,
    IFNULL( iuu.user_type, 0 )  AS userType,
    iuu.identified_number AS identifiedNumber,
    iu.company_name AS companyName,
    IFNULL( iu.supplier, 0 ) AS supplier
    from consumption_statistic_daily csd
    LEFT JOIN inspection_unit_user iuu ON iuu.id = csd.user_id
    LEFT JOIN inspection_unit iu ON iu.id = iuu.inspection_id
    where <include refid="SQL_WHERE"/>
    GROUP BY csd.user_id
    ORDER BY feeOrder DESC
    LIMIT #{rowOffset}, #{pageSize}
  </select>
  <select id="getRowTotal" resultType="java.lang.Integer" parameterType="Object">
    select count(DISTINCT csd.user_id) as rowTotal
    from consumption_statistic_daily csd
    where <include refid="SQL_WHERE"/>
  </select>
  <sql id="SQL_WHERE">
    1=1
    <if test="obj.keyWords != null and obj.keyWords != ''">
      AND (
        csd.user_phone LIKE CONCAT('%',#{obj.keyWords},'%')
        OR csd.user_name LIKE CONCAT('%',#{obj.keyWords},'%')
      )
    </if>
    <if test="obj.startDateStr != null and obj.startDateStr != ''">
      AND csd.date &gt;= #{obj.startDateStr}
    </if>
    <if test="obj.endDateStr != null and obj.endDateStr != ''">
      AND csd.date &lt;= #{obj.endDateStr}
    </if>
  </sql>

  <select id="selectByDate" parameterType="java.lang.Object" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from consumption_statistic_daily
    where date = #{date,jdbcType=DATE}
      <if test="userId != null">
        AND user_id = #{userId,jdbcType=INTEGER}
      </if>
    order by date asc
  </select>

  <select id="selectByDate2" parameterType="java.lang.Object" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM consumption_statistic_daily
    WHERE date &gt;= #{start,jdbcType=DATE} AND date &lt;= #{end,jdbcType=DATE}
      <if test="userId != null">
        AND user_id = #{userId,jdbcType=INTEGER}
      </if>
    order by date asc
  </select>
</mapper>