<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayuan.mapper.dataCheck.DataUnqualifiedDisposeMapper" >
  <resultMap id="BaseResultMap" type="com.dayuan.bean.dataCheck.DataUnqualifiedDispose" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="unid" property="unid" jdbcType="INTEGER" />
    <result column="check_recording_id" property="checkRecordingId" jdbcType="INTEGER" />
    <result column="dispose_id" property="disposeId" jdbcType="INTEGER" />
    <result column="dispose_value" property="disposeValue" jdbcType="VARCHAR" />
    <result column="dispose_value1" property="disposeValue1" jdbcType="DOUBLE" />
    <result column="dispose_type" property="disposeType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, unid, check_recording_id, dispose_id, dispose_value, dispose_value1, dispose_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from data_unqualified_dispose
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUnid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from data_unqualified_dispose
    where id = #{unid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM data_unqualified_dispose WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByUnid" parameterType="java.lang.Integer" >
    DELETE FROM data_unqualified_dispose WHERE unid = #{unid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dayuan.bean.dataCheck.DataUnqualifiedDispose" >
    insert into data_unqualified_dispose (id, unid, check_recording_id, dispose_id,
      dispose_value, dispose_value1, dispose_type)
    values (#{id,jdbcType=INTEGER}, #{unid,jdbcType=INTEGER}, #{checkRecordingId,jdbcType=INTEGER}, #{disposeId,jdbcType=INTEGER},
      #{disposeValue,jdbcType=VARCHAR}, #{disposeValue1,jdbcType=DOUBLE}, #{disposeType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dayuan.bean.dataCheck.DataUnqualifiedDispose" >
    insert into data_unqualified_dispose
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="unid != null" >
        unid,
      </if>
      <if test="checkRecordingId != null" >
        check_recording_id,
      </if>
      <if test="disposeId != null" >
        dispose_id,
      </if>
      <if test="disposeValue != null" >
        dispose_value,
      </if>
      <if test="disposeValue1 != null" >
        dispose_value1,
      </if>
      <if test="disposeType != null" >
        dispose_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="unid != null" >
        #{unid,jdbcType=INTEGER},
      </if>
      <if test="checkRecordingId != null" >
        #{checkRecordingId,jdbcType=INTEGER},
      </if>
      <if test="disposeId != null" >
        #{disposeId,jdbcType=INTEGER},
      </if>
      <if test="disposeValue != null" >
        #{disposeValue,jdbcType=VARCHAR},
      </if>
      <if test="disposeValue1 != null" >
        #{disposeValue1,jdbcType=DOUBLE},
      </if>
      <if test="disposeType != null" >
        #{disposeType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dayuan.bean.dataCheck.DataUnqualifiedDispose" >
    update data_unqualified_dispose
    <set >
      <if test="unid != null" >
        unid = #{unid,jdbcType=INTEGER},
      </if>
      <if test="checkRecordingId != null" >
        check_recording_id = #{checkRecordingId,jdbcType=INTEGER},
      </if>
      <if test="disposeId != null" >
        dispose_id = #{disposeId,jdbcType=INTEGER},
      </if>
      <if test="disposeValue != null" >
        dispose_value = #{disposeValue,jdbcType=VARCHAR},
      </if>
      <if test="disposeValue1 != null" >
        dispose_value1 = #{disposeValue1,jdbcType=DOUBLE},
      </if>
      <if test="disposeType != null" >
        dispose_type = #{disposeType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dayuan.bean.dataCheck.DataUnqualifiedDispose" >
    update data_unqualified_dispose
    set unid = #{unid,jdbcType=INTEGER},
      check_recording_id = #{checkRecordingId,jdbcType=INTEGER},
      dispose_id = #{disposeId,jdbcType=INTEGER},
      dispose_value = #{disposeValue,jdbcType=VARCHAR},
      dispose_value1 = #{disposeValue1,jdbcType=DOUBLE},
      dispose_type = #{disposeType,jdbcType=VARCHAR} 
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>