<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayuan.mapper.dataCheck.DataCheckHistoryRecordingMapper">
    <resultMap id="BaseResultMap" type="com.dayuan.bean.dataCheck.DataCheckHistoryRecording">
        <id property="id" column="id" />
        <result property="checkRecordingId" column="check_recording_id" />
        <result property="uid" column="uid" />
        <result property="checkCode" column="check_code" />
        <result property="foodId" column="food_id" />
        <result property="foodName" column="food_name" />
        <result property="itemId" column="item_id" />
        <result property="itemName" column="item_name" />
        <result property="regId" column="reg_id" />
        <result property="regName" column="reg_name" />
        <result property="regUserId" column="reg_user_id" />
        <result property="regUserName" column="reg_user_name" />
        <result property="samplingId" column="sampling_id" />
        <result property="samplingDetailId" column="sampling_detail_id" />
        <result property="departId" column="depart_id" />
        <result property="departName" column="depart_name" />
        <result property="pointId" column="point_id" />
        <result property="pointName" column="point_name" />
        <result property="checkUserid" column="check_userid" />
        <result property="checkUsername" column="check_username" />
        <result property="checkUserSignature" column="check_user_signature" />
        <result property="checkDate" column="check_date" />
        <result property="uploadDate" column="upload_date" />
        <result property="checkAccordId" column="check_accord_id" />
        <result property="checkAccord" column="check_accord" />
        <result property="limitValue" column="limit_value" />
        <result property="checkResult" column="check_result" />
        <result property="checkUnit" column="check_unit" />
        <result property="conclusion" column="conclusion" />
        <result property="deviceId" column="device_id" />
        <result property="deviceName" column="device_name" />
        <result property="deviceModel" column="device_model" />
        <result property="deviceMethod" column="device_method" />
        <result property="deviceCompany" column="device_company" />
        <result property="reloadFlag" column="reload_flag" />
        <result property="dataSource" column="data_source" />
        <result property="statusFalg" column="status_falg" />
        <result property="deleteFlag" column="delete_flag" />
        <result property="createBy" column="create_by" />
        <result property="createDate" column="create_date" />
        <result property="updateBy" column="update_by" />
        <result property="updateDate" column="update_date" />
        <result property="remark" column="remark" />
    </resultMap>
    <sql id="Base_Column_List">
        id,check_recording_id,uid,check_code,food_id,food_name,
        item_id,item_name,reg_id,reg_name,reg_user_id,
        reg_user_name,sampling_id,sampling_detail_id,depart_id,depart_name,
        point_id,point_name,check_userid,check_username,check_user_signature,
        check_date,upload_date,check_accord_id,check_accord,limit_value,
        check_result,check_unit,conclusion,device_id,device_name,
        device_model,device_method,device_company,reload_flag,data_source,
        status_falg,delete_flag,create_by,create_date,update_by,
        update_date,remark
    </sql>

    <!-- shit 根据检测数据ID去查询检测历史数据 -->
    <select id="selectCheckHistoryByRid" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM data_check_history_recording
        WHERE delete_flag = 0 AND rid = #{rid}
        ORDER BY check_date
    </select>

    <select id="loadDatagrid" resultMap="BaseResultMap" parameterType="Object">
        SELECT id, check_recording_id AS checkRecordingId, reg_name, reg_user_name, food_name, item_name, check_result,check_unit,conclusion,
        depart_name, point_name, check_date, check_username, upload_date
        FROM data_check_history_recording
        WHERE rid = CONCAT('',#{obj.id},'')
        <if test="obj.keyWords != null and obj.keyWords != ''">
            AND (
            item_name LIKE CONCAT('%',#{obj.keyWords},'%')
            OR
            food_name LIKE CONCAT('%',#{obj.keyWords},'%')
            )
        </if>
        ORDER BY check_date DESC,upload_date DESC
        LIMIT #{rowOffset}, #{pageSize}
    </select>
    <select id="getRowTotal" resultType="java.lang.Integer" parameterType="Object">
        SELECT count(1) AS rowTotal
        FROM data_check_history_recording
        WHERE rid = CONCAT('',#{obj.id},'')
        <if test="obj.keyWords != null and obj.keyWords != ''">
            AND (
            item_name LIKE CONCAT('%',#{obj.keyWords},'%')
            OR
            food_name LIKE CONCAT('%',#{obj.keyWords},'%')
            )
        </if>
    </select>
    <select id="selectCheckHistory" resultMap="BaseResultMap" parameterType="Object">
        SELECT
        <include refid="Base_Column_List"/>
        FROM data_check_history_recording
        WHERE rid = #{rid,jdbcType=INTEGER}
            AND check_recording_id = #{checkRecordingId,jdbcType=VARCHAR}
            AND check_date = #{checkDate,jdbcType=VARCHAR}
            AND check_result = #{checkResult,jdbcType=VARCHAR}
            AND conclusion = #{conclusion,jdbcType=VARCHAR}
    </select>
</mapper>