<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayuan.mapper.dataCheck.DataUnqualifiedConfigMapper" >
  <resultMap id="BaseResultMap" type="com.dayuan.bean.dataCheck.DataUnqualifiedConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="handle_name" property="handleName" jdbcType="VARCHAR" />
    <result column="handle_type" property="handleType" jdbcType="SMALLINT" />
    <result column="value_type" property="valueType" jdbcType="VARCHAR" />
    <result column="sorting" property="sorting" jdbcType="SMALLINT" />
    <result column="checked" property="checked" jdbcType="SMALLINT" />
    <result column="delete_flag" property="deleteFlag" jdbcType="SMALLINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, handle_name, handle_type, value_type, sorting, checked, delete_flag, create_date, 
    create_by, update_date, update_by, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from data_unqualified_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update data_unqualified_config set delete_flag=1,update_date=now()
    where id in
	<foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
		#{ids}
	</foreach>
  </delete>
  <insert id="insert" parameterType="com.dayuan.bean.dataCheck.DataUnqualifiedConfig" >
    insert into data_unqualified_config (id, handle_name, handle_type, 
      value_type, sorting, checked, 
      delete_flag, create_date, create_by, 
      update_date, update_by, remark
      )
    values (#{id,jdbcType=INTEGER}, #{handleName,jdbcType=VARCHAR}, #{handleType,jdbcType=SMALLINT}, 
      #{valueType,jdbcType=VARCHAR}, #{sorting,jdbcType=SMALLINT}, #{checked,jdbcType=SMALLINT}, 
      #{deleteFlag,jdbcType=SMALLINT}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dayuan.bean.dataCheck.DataUnqualifiedConfig" >
    insert into data_unqualified_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="handleName != null" >
        handle_name,
      </if>
      <if test="handleType != null" >
        handle_type,
      </if>
      <if test="valueType != null" >
        value_type,
      </if>
      <if test="sorting != null" >
        sorting,
      </if>
      <if test="checked != null" >
        checked,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="handleName != null" >
        #{handleName,jdbcType=VARCHAR},
      </if>
      <if test="handleType != null" >
        #{handleType,jdbcType=SMALLINT},
      </if>
      <if test="valueType != null" >
        #{valueType,jdbcType=VARCHAR},
      </if>
      <if test="sorting != null" >
        #{sorting,jdbcType=SMALLINT},
      </if>
      <if test="checked != null" >
        #{checked,jdbcType=SMALLINT},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=SMALLINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dayuan.bean.dataCheck.DataUnqualifiedConfig" >
    update data_unqualified_config
    <set >
      <if test="handleName != null" >
        handle_name = #{handleName,jdbcType=VARCHAR},
      </if>
      <if test="handleType != null" >
        handle_type = #{handleType,jdbcType=SMALLINT},
      </if>
      <if test="valueType != null" >
        value_type = #{valueType,jdbcType=VARCHAR},
      </if>
      <if test="sorting != null" >
        sorting = #{sorting,jdbcType=SMALLINT},
      </if>
      <if test="checked != null" >
        checked = #{checked,jdbcType=SMALLINT},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=SMALLINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dayuan.bean.dataCheck.DataUnqualifiedConfig" >
    update data_unqualified_config
    set handle_name = #{handleName,jdbcType=VARCHAR},
      handle_type = #{handleType,jdbcType=SMALLINT},
      value_type = #{valueType,jdbcType=VARCHAR},
      sorting = #{sorting,jdbcType=SMALLINT},
      checked = #{checked,jdbcType=SMALLINT},
      delete_flag = #{deleteFlag,jdbcType=SMALLINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where delete_flag = 0
		<trim suffixOverrides=",">
			<if test="obj.baseBean != null">
				<if test="obj.baseBean.handleName != null and obj.baseBean.handleName != ''">
					and handle_name like CONCAT('%', #{obj.baseBean.handleName}, '%')
				</if>
			</if>
		</trim>
	</sql>
  	<!-- 分页基础查询 -->
	<select id="loadDatagrid" resultMap="BaseResultMap" parameterType="Object">
		select 
		<include refid="Base_Column_List" />
		from data_unqualified_config
		<include refid="Example_Where_Clause" />
		order by sorting ,create_date ${order} limit #{rowOffset}, #{pageSize}
	</select>
	
	<select id="getRowTotal" resultType="java.lang.Integer" parameterType="Object">
		select count(1) as rowTotal
		from data_unqualified_config
		<include refid="Example_Where_Clause" />
	</select>
	
	<select id="getList" resultMap="BaseResultMap" parameterType="Object">
		SELECT <include refid="Base_Column_List" />
		FROM data_unqualified_config
		WHERE delete_flag = 0 AND checked = 1
        ORDER BY sorting ASC
	</select>
	
</mapper>