<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayuan.mapper.system.TSFunctionMapper">
    <resultMap id="BaseResultMap2" type="com.dayuan.bean.system.TSFunction">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="function_frame" property="functionFrame" jdbcType="SMALLINT"/>
        <result column="function_level" property="functionLevel" jdbcType="SMALLINT"/>
        <result column="function_name" property="functionName" jdbcType="VARCHAR"/>
        <result column="function_icon" property="functionIcon" jdbcType="VARCHAR"/>
        <result column="sorting" property="sorting" jdbcType="SMALLINT"/>
        <result column="function_url" property="functionUrl" jdbcType="VARCHAR"/>
        <result column="function_type" property="functionType" jdbcType="SMALLINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="SMALLINT"/>
    </resultMap>
    <resultMap id="BaseResultMap" type="com.dayuan.bean.system.TSFunction" extends="BaseResultMap2">
        <collection column="id" property="subMenu" ofType="com.dayuan.bean.system.TSFunction"
                    select="getSubMenus"></collection>
        <collection column="id" property="operationList" ofType="com.dayuan.bean.system.TSOperation"
                    select="getOperationList"></collection>
    </resultMap>
    <resultMap id="JoinResultMap" type="com.dayuan.bean.system.TSFunction" extends="BaseResultMap">
        <result column="subTotal" property="subTotal" jdbcType="SMALLINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, parent_id, function_frame, function_level, function_name, function_icon, sorting,
        function_url, function_type, remark, create_by, create_date, update_by, update_date, delete_flag
    </sql>
    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where tb1.delete_flag = 0 AND tb1.function_type = #{obj.baseBean.functionType}
        <trim suffixOverrides=",">
            <if test="obj.baseBean != null">
                <if test="obj.baseBean.functionName != null and obj.baseBean.functionName != ''">
                    and tb1.function_name like CONCAT('%', #{obj.baseBean.functionName}, '%')
                </if>
            </if>
        </trim>
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        ,
        (SELECT tb2.function_name FROM t_s_function tb2 WHERE tb1.parent_id=tb2.id) AS parentStr FROM t_s_function tb1
        WHERE tb1.id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="queryByRoleId" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_s_function
        WHERE id IN (SELECT function_id FROM t_s_role_function WHERE role_id=#{roleId} AND mark=0) AND delete_flag=0
    </select>

    <select id="queryByFunctionUrl" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_s_function
        WHERE function_url=#{functionUrl} LIMIT 0,1
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        UPDATE t_s_function SET delete_flag=1,update_date=now()
        WHERE id IN
        <foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
            #{ids}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.dayuan.bean.system.TSFunction">
        INSERT INTO t_s_function (id, parent_id, function_frame,
                                  function_level, function_name, function_icon,
                                  sorting, function_url, function_type, remark,
                                  create_by, create_date, update_by, update_date, delete_flag
        )
        VALUES (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{functionFrame,jdbcType=SMALLINT},
                                        #{functionLevel,jdbcType=SMALLINT}, #{functionName,jdbcType=VARCHAR},
                                        #{functionIcon,jdbcType=VARCHAR},
                                        #{sorting,jdbcType=SMALLINT}, #{functionUrl,jdbcType=VARCHAR},
                                        #{functionType,jdbcType=SMALLINT}, #{remark,jdbcType=VARCHAR},
                    #{createBy,jdbcType=VARCHAR}, now(), #{updateBy,jdbcType=VARCHAR}, now(),
                #{deleteFlag,jdbcType=SMALLINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.dayuan.bean.system.TSFunction">
        INSERT INTO t_s_function
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="functionFrame != null">
                function_frame,
            </if>
            <if test="functionLevel != null">
                function_level,
            </if>
            <if test="functionName != null">
                function_name,
            </if>
            <if test="functionIcon != null">
                function_icon,
            </if>
            <if test="sorting != null">
                sorting,
            </if>
            <if test="functionUrl != null">
                function_url,
            </if>
            <if test="functionType != null">
                function_type,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            create_date,
            <if test="updateBy != null">
                update_by,
            </if>
            update_date,
            <if test="deleteFlag !=null">
                delete_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="functionFrame != null">
                #{functionFrame,jdbcType=SMALLINT},
            </if>
            <if test="functionLevel != null">
                #{functionLevel,jdbcType=SMALLINT},
            </if>
            <if test="functionName != null">
                #{functionName,jdbcType=VARCHAR},
            </if>
            <if test="functionIcon != null">
                #{functionIcon,jdbcType=VARCHAR},
            </if>
            <if test="sorting != null">
                #{sorting,jdbcType=SMALLINT},
            </if>
            <if test="functionUrl != null">
                #{functionUrl,jdbcType=VARCHAR},
            </if>
            <if test="functionType != null">
                #{functionType,jdbcType=SMALLINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            now(),
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            now(),
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=SMALLINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dayuan.bean.system.TSFunction">
        UPDATE t_s_function
        <set>
            parent_id = #{parentId,jdbcType=VARCHAR},
            <if test="functionFrame != null">
                function_frame = #{functionFrame,jdbcType=SMALLINT},
            </if>
            <if test="functionLevel != null">
                function_level = #{functionLevel,jdbcType=SMALLINT},
            </if>
            <if test="functionName != null">
                function_name = #{functionName,jdbcType=VARCHAR},
            </if>
            <if test="functionIcon != null">
                function_icon = #{functionIcon,jdbcType=VARCHAR},
            </if>
            <if test="sorting != null">
                sorting = #{sorting,jdbcType=SMALLINT},
            </if>
            <if test="functionUrl != null">
                function_url = #{functionUrl,jdbcType=VARCHAR},
            </if>
            <if test="functionType != null">
                function_type = #{functionType,jdbcType=SMALLINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            update_date = now(),
            <if test="deleteFlag !=null">
                delete_flag=#{deleteFlag,jdbcType=SMALLINT},
            </if>
        </set>
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dayuan.bean.system.TSFunction">
        UPDATE t_s_function
        SET parent_id      = #{parentId,jdbcType=VARCHAR},
            function_frame = #{functionFrame,jdbcType=SMALLINT},
            function_level = #{functionLevel,jdbcType=SMALLINT},
            function_name  = #{functionName,jdbcType=VARCHAR},
            function_icon  = #{functionIcon,jdbcType=VARCHAR},
            sorting        = #{sorting,jdbcType=SMALLINT},
            function_url   = #{functionUrl,jdbcType=VARCHAR},
            function_type  = #{functionType,jdbcType=SMALLINT},
            remark         = #{remark,jdbcType=VARCHAR},
            create_by      = #{createBy,jdbcType=VARCHAR},
            create_date    = #{createDate,jdbcType=TIMESTAMP},
            update_by      = #{updateBy,jdbcType=VARCHAR},
            update_date    = #{updateDate,jdbcType=TIMESTAMP},
            delete_flag    = #{deleteFlag,jdbcType=SMALLINT}
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="enableStart">
        UPDATE t_s_function
        SET
            delete_flag = 0
        WHERE id = #{id}
    </update>

    <!-- 获取一级菜单 -->
    <select id="getMenus" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_s_function WHERE parent_id IS NULL AND delete_flag = 0 ORDER BY sorting ASC
    </select>
    <!-- 获取子菜单2,3 -->
    <select id="getSubMenus" resultMap="JoinResultMap">
        SELECT
        <include refid="Base_Column_List"/>,(SELECT COUNT(1) FROM t_s_function tb2 WHERE tb2.parent_id=tb1.id AND
        tb2.delete_flag=0) AS subTotal
        FROM t_s_function tb1 WHERE tb1.parent_id = #{id} AND tb1.delete_flag = 0 ORDER BY tb1.sorting ASC
    </select>
    <select id="getOperationList" resultMap="com.dayuan.mapper.system.TSOperationMapper.BaseResultMap">
        SELECT *
        FROM t_s_operation
        WHERE function_id = #{id} AND delete_flag = 0
        ORDER BY sorting ASC
    </select>
    <!-- *************************************角色权限************************************* -->
    <!-- 角色获取主菜单 -->
    <select id="getRoleMenus" resultMap="RoleMenuMap" parameterType="java.lang.String">
        SELECT
        <include refid="RoleMenu_Column_List"/>
        FROM t_s_role_function rf
        LEFT JOIN t_s_function sf ON sf.id = rf.function_id
        WHERE rf.role_id = #{roleId} AND sf.delete_flag = 0 AND sf.parent_id IS NULL AND sf.function_type = 0
        AND rf.mark=0
        ORDER BY sorting ASC
    </select>
    <!-- 子菜单 -->
    <select id="getSubordination" resultMap="RoleMenuMap">
        SELECT
        <include refid="RoleMenu_Column_List"/>
        FROM t_s_role_function rf
        LEFT JOIN t_s_function sf ON sf.id = rf.function_id
        WHERE sf.delete_flag = 0 AND sf.parent_id = #{functionId} AND rf.role_id = #{roleId} AND rf.mark = 0
        ORDER BY sorting ASC
    </select>

    <sql id="RoleMenu_Column_List">
        sf.id id, sf.parent_id parentId, sf.function_frame functionFrame, sf.function_level functionLevel,
        sf.function_name functionName, sf.function_icon functionIcon, sf.sorting sorting,
        sf.function_url functionUrl, sf.function_type functionType, sf.create_by createBy,
        sf.create_date createDate, sf.update_by updateBy, sf.update_date updateDate, sf.delete_flag deleteFlag,

        rf.function_id functionId, rf.role_id roleId, rf.mark mark
    </sql>
    <resultMap id="RoleMenuMap" type="com.dayuan.model.system.RoleFunctionModel">
        <collection column="functionId=functionId , roleId=roleId" property="subMenu"
                    ofType="com.dayuan.model.system.RoleFunctionModel"
                    select="getSubordination"></collection>
    </resultMap>
    <!-- 分页基础查询 -->
    <select id="loadDatagrid" resultMap="BaseResultMap2" parameterType="Object">
        SELECT
        <include refid="Base_Column_List"/>
        ,
        (SELECT tb2.function_name FROM t_s_function tb2 WHERE tb1.parent_id=tb2.id) AS parentStr FROM t_s_function tb1
        <include refid="Example_Where_Clause"/>
        ORDER BY parentStr,tb1.sorting LIMIT #{rowOffset}, #{pageSize}
    </select>

    <select id="getRowTotal" resultType="java.lang.Integer" parameterType="Object">
        SELECT count(1) AS rowTotal
        FROM t_s_function tb1
        <include refid="Example_Where_Clause"/>
    </select>
    <!-- 根据 菜单ID加载子级菜单 xiaoyuling 2017-08-30 -->
    <select id="queryMenuByPid" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_s_function WHERE 1=1 AND function_type=#{functionType}
        <if test="id != null">
            AND parent_id =#{id} AND delete_flag = 0 ORDER BY sorting ASC
        </if>
        <if test="id == null">
            AND parent_id IS NULL AND delete_flag = 0 ORDER BY function_type,sorting
        </if>

    </select>
    <!-- 根据 菜单名称进行查询 xiaoyuling 2017-08-31 -->
    <!-- 	<select id="queryMenuByName" resultMap="BaseResultMap" parameterType="java.lang.String">
            select
            <include refid="Base_Column_List" />
            from t_s_function where 1=1
                    and function_name like CONCAT('%', #{functionName}, '%')
                    and delete_flag = 0 order by function_level asc,sorting asc
        </select> -->
    <!-- 根据ID查询菜单以及子类 -->
    <select id="querySubFunction" resultMap="BaseResultMap2">
        SELECT tb1.*
            FROM t_s_function tb1
            WHERE tb1.id = #{id}
            <if test="deleteFlag != null"> AND tb1.delete_flag=#{deleteFlag} </if>
        UNION
        SELECT tb2.*
            FROM t_s_function tb2
            WHERE tb2.parent_id = #{id}
            <if test="deleteFlag != null"> AND tb2.delete_flag=#{deleteFlag} </if>
        UNION
        SELECT tb3.*
            FROM t_s_function tb3
            WHERE tb3.parent_id IN (
                SELECT id FROM t_s_function WHERE parent_id = #{id} <if test="deleteFlag != null"> AND delete_flag=#{deleteFlag} </if>
            )
            <if test="deleteFlag != null"> AND tb3.delete_flag=#{deleteFlag} </if>
    </select>
    <!-- 根据ID列表查询菜单信息 -->
    <!-- <select id="queryMenuByIdList" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from t_s_function where id in
        <foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
            #{ids}
        </foreach>
    </select> -->

    <select id="queryMaxIdByPid" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT
        MAX(id)
        FROM t_s_function WHERE 1=1
        <if test="id != null">
            AND parent_id =#{id}
        </if>
        <if test="id == null">
            AND parent_id IS NULL
        </if>
    </select>
    <select id="queryByFunctionName" resultMap="BaseResultMap" parameterType="com.dayuan.bean.system.TSFunction">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_s_function WHERE delete_flag=0
        <if test="parentId != null">
            AND parent_id =#{parentId}
        </if>
        <if test="parentId == null">
            AND parent_id IS NULL
        </if>
        <if test="functionType != null">
            AND function_type=#{functionType}
        </if>
        AND function_name=#{functionName}
    </select>
    <select id="queryMaxSortingByPid" resultType="java.lang.String" parameterType="Object">
        SELECT MAX(sorting) FROM t_s_function WHERE 1=1
        <if test="parentId != null">
            AND parent_id=#{parentId}
        </if>
        <if test="parentId == null">
            AND parent_id IS NULL
        </if>
        AND function_type=#{functionType} AND delete_flag=0
    </select>
    <select id="queryMaxId" resultType="java.lang.Integer" parameterType="Object">
        SELECT MAX(id)
        FROM t_s_function
    </select>


    <!--以下shit添加-->
    <!--按需求查询菜单-->
    <select id="selectFunctionAll" resultMap="BaseResultMap2">
        SELECT
        id, parent_id, function_level, (CONCAT(function_name,' (',tb1.id,')')) AS function_name, sorting,
        function_url, function_type, remark,
        (SELECT CONCAT(tb2.function_name,' (',tb2.id,')') FROM t_s_function tb2 WHERE tb1.parent_id=tb2.id) AS
        parentStr,
        delete_flag
        FROM t_s_function tb1
        <include refid="base_where"/>
        ORDER BY tb1.function_type,tb1.sorting
    </select>

    <!--根据父级菜单id查询子级菜单-->
    <select id="selectSystemByParentId" resultMap="BaseResultMap2">
        SELECT
        id,
        parent_id,
        function_level,
        (CONCAT(function_name,' (',tb1.id,')')) AS function_name,
        sorting,
        function_url,
        function_type,
        remark,
        (SELECT CONCAT(tb2.function_name, ' (', tb2.id, ')')
        FROM t_s_function tb2
        WHERE tb1.parent_id = tb2.id) AS parentStr,
        delete_flag
        FROM t_s_function tb1
        WHERE parent_id = #{id}
        <if test="functionName != null and functionName != ''">
            AND tb1.function_name LIKE CONCAT('%',#{functionName},'%')
        </if>
        ORDER BY tb1.sorting
    </select>

    <!--查找除去一级菜单的所有菜单-->
    <select id="selectFunctionAllNot1" resultMap="BaseResultMap2">
        SELECT
        id,
        parent_id,
        function_level,
        function_name,
        sorting,
        function_url,
        function_type,
        remark,
        (SELECT CONCAT(tb2.function_name,' (',tb2.id,')') FROM t_s_function tb2 WHERE tb1.parent_id=tb2.id) AS
        parentStr,
        delete_flag
        FROM t_s_function tb1
        WHERE
        function_level != 1
        <if test="functionName != null and functionName != ''">
            AND tb1.function_name LIKE CONCAT('%', #{functionName}, '%')
        </if>
        <if test="functionType != null and functionType >=0">
            AND tb1.function_type = #{functionType}
        </if>
        ORDER BY tb1.function_type,tb1.sorting
    </select>
    <select id="queryByRIdAndType" resultType="com.dayuan.bean.system.TSFunction">
        SELECT
        id,
        function_name AS functionName,
        function_url AS functionUrl,
        function_type AS functionType,
        remark,
        function_icon AS functionIcon,
        delete_flag
        FROM t_s_function tb1
        WHERE
        delete_flag =0
        <if test="roleId != null and roleId != ''">
            AND id IN (SELECT function_id FROM t_s_role_function WHERE role_id=#{roleId} AND mark=0) AND delete_flag=0
        </if>
        <if test="type != null and type != ''">
            AND function_type = #{type}
        </if>
        ORDER BY sorting ASC
    </select>

    <sql id="base_where">
        <where>
            <if test="functionLevel != null">
                AND tb1.function_level = #{functionLevel}
            </if>
            <if test="functionName != null and functionName != ''">
                AND tb1.function_name like CONCAT('%', #{functionName}, '%')
            </if>
            <if test="functionType != null and functionType >=0">
                AND tb1.function_type = #{functionType}
            </if>
        </where>
    </sql>
    <select id="queryVisualPrivile" resultType="com.dayuan.bean.system.TSFunction">
        SELECT sf.*
        FROM t_s_role_function rf
        LEFT JOIN t_s_function sf ON sf.id = rf.function_id
        WHERE rf.role_id = #{roleId} AND sf.delete_flag = 0 and  sf.function_url like CONCAT('%',#{functionUrl} ,'%')
    </select>
    <select id="getRolesForWX" resultType="com.dayuan3.api.vo.TSFunctionRespVo">
        SELECT id, function_name functionName, function_icon functionIcon, sorting, function_url functionUrl,parent_id parentId, function_level functionLevel
        FROM t_s_function
        WHERE id IN (SELECT function_id FROM t_s_role_function WHERE role_id=#{roleId} AND mark=0) AND delete_flag=0
        AND function_type=#{functionType} and function_level=#{level}
        ORDER BY sorting ASC
    </select>

</mapper>