<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayuan.mapper.system.TSRoleFunctionMapper">
	<resultMap id="BaseResultMap" type="com.dayuan.bean.system.TSRoleFunction">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="function_id" property="functionId" jdbcType="VARCHAR" />
		<result column="role_id" property="roleId" jdbcType="VARCHAR" />
		<result column="mark" property="mark" jdbcType="SMALLINT" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, function_id, role_id, mark, create_by, create_date, update_by, update_date
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_s_role_function
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="queryRoleId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_s_role_function
		where role_id = #{roleId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_s_role_function
		where role_id in
		<foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
			#{ids}
		</foreach>
	</delete>
	<!-- 根据角色ID和功能菜单进行批量删除 -->
	<delete id="deleteByFunctionId" parameterType="java.lang.String">
		delete from t_s_role_function
		where function_id in
		<foreach collection="functionIds" item="functionId" index="index" open="(" close=")"
			separator=",">
			#{functionId}
		</foreach>
		<if test="roleId !=null">
			and role_id=#{roleId}
		</if>
	</delete>
	<!-- 根据菜单ID或功能菜单ID进行批量删除 -->
	<delete id="deleteByFunctionIdOrOperation" parameterType="java.lang.String">
		delete from t_s_role_function
		where 1=1
		<if test="functionId !=null">
			and function_id =#{functionId}
			or function_id in (select id from t_s_operation where function_id=#{functionId} )
		</if>
		<if test="ida !=null">
			and function_id in
			<foreach collection="ida" item="id" index="index" open="(" close=")" separator=",">
				#{id}
			</foreach>
		</if>
	</delete>
	<insert id="insert" parameterType="com.dayuan.bean.system.TSRoleFunction">
		insert into t_s_role_function (id, function_id, role_id,
		mark, create_by, create_date,
		update_by, update_date)
		values (#{id,jdbcType=VARCHAR}, #{functionId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR},
		#{mark,jdbcType=SMALLINT}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
		#{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.dayuan.bean.system.TSRoleFunction">
		insert into t_s_role_function
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="functionId != null">
				function_id,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
			<if test="mark != null">
				mark,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="functionId != null">
				#{functionId,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=VARCHAR},
			</if>
			<if test="mark != null">
				#{mark,jdbcType=SMALLINT},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.dayuan.bean.system.TSRoleFunction">
		update t_s_role_function
		<set>
			<if test="functionId != null">
				function_id = #{functionId,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				role_id = #{roleId,jdbcType=VARCHAR},
			</if>
			<if test="mark != null">
				mark = #{mark,jdbcType=SMALLINT},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.dayuan.bean.system.TSRoleFunction">
		update t_s_role_function
		set function_id = #{functionId,jdbcType=VARCHAR},
		role_id = #{roleId,jdbcType=VARCHAR},
		mark = #{mark,jdbcType=SMALLINT},
		create_by = #{createBy,jdbcType=VARCHAR},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		update_by = #{updateBy,jdbcType=VARCHAR},
		update_date = #{updateDate,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>