<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayuan.mapper.system.TSSystemManagerMapper">
    <resultMap id="BaseResultMap" type="com.dayuan.bean.system.TSSystemManager">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="app_type" property="appType" jdbcType="VARCHAR"/>
        <result column="app_name" property="appName" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="url_path" property="urlPath" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="imp_date" property="impDate" jdbcType="DATE"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="SMALLINT"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="param1" property="param1" jdbcType="VARCHAR"/>
        <result column="param2" property="param2" jdbcType="VARCHAR"/>
        <result column="param3" property="param3" jdbcType="VARCHAR"/>
        <result column="patch_state" property="patchState" jdbcType="SMALLINT"/>
        <result column="introduce" property="introduce" jdbcType="VARCHAR"/>
        <result column="file_size" property="fileSize" jdbcType="VARCHAR"/>
        <result column="upload_state" property="uploadState" jdbcType="SMALLINT"/>
        <result column="update_content" property="updateContent" jdbcType="SMALLINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, app_type, app_name, version, url_path, description, imp_date, delete_flag, create_by,
        create_date, update_by, update_date, param1, param2, param3, introduce, upload_state, update_content
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
            id,
            app_type,
            app_name,
            version,
            url_path,
            description,
            imp_date,
            param1,
            param2,
            param3,
            patch_state,
            create_date,
            introduce,
            update_content,
            upload_state
        FROM t_s_system_manager
        WHERE id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        UPDATE t_s_system_manager SET delete_flag=1,update_date=now()
        WHERE id IN
        <foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
            #{ids}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.dayuan.bean.system.TSSystemManager">
        INSERT INTO t_s_system_manager (id, app_type, app_name,
                                        version, url_path, description,
                                        imp_date, delete_flag, create_by,
                                        create_date, update_by, update_date,
                                        param1, param2, param3, introduce, file_size, update_content, patch_state, upload_state
        )
        VALUES (#{id,jdbcType=INTEGER}, #{appType,jdbcType=VARCHAR}, #{appName,jdbcType=VARCHAR},
                                        #{version,jdbcType=INTEGER}, #{urlPath,jdbcType=VARCHAR},
                                        #{description,jdbcType=VARCHAR},
                                        #{impDate,jdbcType=DATE}, #{deleteFlag,jdbcType=SMALLINT},
                                        #{createBy,jdbcType=VARCHAR},
                                        #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
                #{updateDate,jdbcType=TIMESTAMP},
                #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}, #{param3,jdbcType=VARCHAR},
                #{introduce,jdbcType=VARCHAR}, #{fileSize,jdbcType=DOUBLE},
                #{updateContent,jdbcType=VARCHAR}, #{patchState,jdbcType=SMALLINT}, #{uploadState,jdbcType=SMALLINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.dayuan.bean.system.TSSystemManager">
        INSERT INTO t_s_system_manager
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="appType != null">
                app_type,
            </if>
            <if test="appName != null">
                app_name,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="urlPath != null">
                url_path,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="impDate != null">
                imp_date,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="param1 != null">
                param1,
            </if>
            <if test="param2 != null">
                param2,
            </if>
            <if test="param3 != null">
                param3,
            </if>
            <if test="introduce != null">
                introduce,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="appType != null">
                #{appType,jdbcType=VARCHAR},
            </if>
            <if test="appName != null">
                #{appName,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="urlPath != null">
                #{urlPath,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="impDate != null">
                #{impDate,jdbcType=DATE},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=SMALLINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="param1 != null">
                #{param1,jdbcType=VARCHAR},
            </if>
            <if test="param2 != null">
                #{param2,jdbcType=VARCHAR},
            </if>
            <if test="param3 != null">
                #{param3,jdbcType=VARCHAR},
            </if>
            <if test="introduce != null">
                #{introduce,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.dayuan.bean.system.TSSystemManager">
        UPDATE t_s_system_manager
        <set>
            <if test="appType != null">
                app_type = #{appType,jdbcType=VARCHAR},
            </if>
            <if test="appName != null">
                app_name = #{appName,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="updateContent != null">
                update_content = #{updateContent,jdbcType=VARCHAR},
            </if>
            <if test="impDate != null">
                imp_date = #{impDate,jdbcType=DATE},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="param1 != null">
                param1 = #{param1,jdbcType=VARCHAR},
            </if>
            <if test="param2 != null">
                param2 = #{param2,jdbcType=VARCHAR},
            </if>
            <if test="param3 != null">
                param3 = #{param3,jdbcType=VARCHAR},
            </if>
            <if test="introduce != null">
                introduce = #{introduce,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                file_size = #{fileSize,jdbcType=DOUBLE},
            </if>
            <if test="urlPath != null">
                url_path = #{urlPath,jdbcType=DOUBLE},
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dayuan.bean.system.TSSystemManager">
        UPDATE t_s_system_manager
        SET app_type = #{appType,jdbcType=VARCHAR},
        app_name = #{appName,jdbcType=VARCHAR},
        version = #{version,jdbcType=INTEGER},
        url_path = #{urlPath,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        update_content = #{updateContent,jdbcType=VARCHAR},
        imp_date = #{impDate,jdbcType=DATE},
        update_by = #{updateBy,jdbcType=VARCHAR},
        update_date = #{updateDate,jdbcType=TIMESTAMP},
        <if test="fileSize != null">
            file_size = #{fileSize,jdbcType=DOUBLE},
        </if>
        introduce = #{introduce,jdbcType=VARCHAR},
        param1 = #{param1,jdbcType=VARCHAR},
        param2 = #{param2,jdbcType=VARCHAR},
        param3 = #{param3,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>


    <select id="latestUpdatePackage" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_s_system_manager
        WHERE app_type = #{appType} AND delete_flag = 0
        <if test="nowDate != null and nowDate != '' ">
            <![CDATA[AND imp_date <= #{nowDate} ]]>
        </if>
        ORDER BY version DESC LIMIT 0,1
    </select>
    <select id="allLatestUpdatePackages" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT tssm.id, tssm.app_type, tssm.app_name, tssm.version, tssm.url_path,
        tssm.description, tssm.imp_date, tssm.delete_flag, tssm.create_by, tssm.create_date,
        tssm.update_by, tssm.update_date, tssm.param1, tssm.param2,tssm.param3, tssm.introduce
        FROM
        (SELECT
        <include refid="Base_Column_List"/>
        FROM t_s_system_manager
        WHERE delete_flag = 0
        <if test="nowDate != null and nowDate != '' ">
            <![CDATA[AND imp_date <= #{nowDate} ]]>
        </if>
        ORDER BY version DESC) tssm GROUP BY tssm.app_type
    </select>

    <!--shit添加 查询出下载的文件信息 历史版本-->
    <select id="selectListAllHistorySoftware" resultMap="BaseResultMap">
        SELECT
            id,
            url_path,
            imp_date,
            app_type,
            app_name,
            param1,
            (CASE param2
             WHEN 1
                 THEN '是'
             ELSE '否' END) AS param2,
            param3,
            version,
            file_size
        FROM
            t_s_system_manager
        WHERE
            app_type = #{appType}
            AND delete_flag = 0 AND patch_state = 0 AND imp_date &lt;= #{currentDate}
            AND id != (SELECT id
                       FROM t_s_system_manager
                       WHERE app_type = #{appType} AND delete_flag = 0 AND patch_state = 0 AND
                             imp_date &lt;= #{currentDate}
                       ORDER BY imp_date DESC
                       LIMIT 0, 1)
        ORDER BY imp_date DESC
    </select>

    <!--shit添加 查询出下载的文件信息 历史版本（补丁包）-->
    <select id="selectListAllHistorySoftware2" resultMap="BaseResultMap">
        SELECT
            id,
            url_path,
            imp_date,
            app_type,
            app_name,
            param1,
            (CASE param2
             WHEN 1
                 THEN '是'
             ELSE '否' END) AS param2,
            version,
            param3,
            file_size
        FROM
            t_s_system_manager
        WHERE
            app_type = #{appType}
            AND delete_flag = 0 AND patch_state = 1 AND imp_date &lt;= #{currentDate}
            AND id != (SELECT id
                       FROM t_s_system_manager
                       WHERE app_type = #{appType} AND delete_flag = 0 AND patch_state = 1 AND
                             imp_date &lt;= #{currentDate}
                       ORDER BY imp_date DESC
                       LIMIT 0, 1)
        ORDER BY imp_date DESC
    </select>
    <select id="selectAppType" resultType="java.lang.String">
        SELECT app_type
        FROM t_s_system_manager
        WHERE delete_flag = 0
        GROUP BY app_type
    </select>
    <!--查询当前使用中的软件-->
    <select id="selectInUse" resultMap="BaseResultMap">
        SELECT
            id,
            url_path,
            imp_date,
            app_type,
            app_name,
            param1,
            (CASE param2
             WHEN 1
                 THEN '是'
             ELSE '否' END) AS param2,
            param3,
            version,
            introduce,
            file_size,
            description,
            update_content
        FROM t_s_system_manager
        WHERE imp_date &lt;= #{currentDate} AND app_type = #{appType} AND delete_flag = 0 AND patch_state = 0
        ORDER BY imp_date DESC
        LIMIT 0, 1
    </select>
    <!--查询当前使用中的软件（补丁包）-->
    <select id="selectInUse2" resultMap="BaseResultMap">
        SELECT
            id,
            url_path,
            imp_date,
            app_type,
            app_name,
            param1,
            (CASE param2
             WHEN 1
                 THEN '是'
             ELSE '否' END) AS param2,
            param3,
            version,
            introduce,
            file_size,
            description,
            update_content
        FROM t_s_system_manager
        WHERE imp_date &lt;= #{currentDate} AND app_type = #{appType} AND delete_flag = 0 AND patch_state = 1
        ORDER BY imp_date DESC
        LIMIT 0, 1
    </select>
    <!--查询出未启用的软件-->
    <select id="selectNotEnabled" resultMap="BaseResultMap">
        SELECT
            id,
            url_path,
            version,
            imp_date,
            app_name,
            app_type,
            param1,
            (CASE param2
             WHEN 1
                 THEN '是'
             ELSE '否' END) AS param2,
            param3,
            file_size,
            description,
            update_content
        FROM t_s_system_manager
        WHERE imp_date &gt; #{currentDate} AND delete_flag = 0 AND patch_state = 0 AND app_type = #{appType}
    </select>
    <!--查询出所有未启用的软件（补丁包）-->
    <select id="selectNotEnabled2" resultMap="BaseResultMap">
        SELECT
            id,
            url_path,
            version,
            imp_date,
            app_name,
            app_type,
            param1,
            (CASE param2
             WHEN 1
                 THEN '是'
             ELSE '否' END) AS param2,
            param3,
            file_size,
            description,
            update_content
        FROM t_s_system_manager
        WHERE imp_date &gt; #{currentDate} AND delete_flag = 0 AND patch_state = 1 AND app_type = #{appType}
    </select>
    <!--查询出简介 子查询 先查询出每个仪器类型对应的最新的时间，然后通过最新的时间来查询出对应的最新简介信息  -->
    <select id="selectIntroduce" resultType="java.util.Map">
        SELECT
            a.introduce AS introduce,
            a.app_type  AS appType
        FROM
            t_s_system_manager a,
            (SELECT
                 app_type,
                 MAX(imp_date) imp_date
             FROM t_s_system_manager
             WHERE delete_flag = 0
             GROUP BY app_type) b
        WHERE
            a.imp_date = b.imp_date
            AND a.app_type = b.app_type
            AND delete_flag = 0
        ORDER BY
            a.app_type
    </select>

    <!--查询出该软件是否有补丁包-->
    <select id="selectPatchByType" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM t_s_system_manager
        WHERE app_type = #{appType} AND patch_state = 1
    </select>

</mapper>