<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayuan.mapper.sampling.TbSamplingDetailRecevieMapper" >
  <resultMap id="BaseResultMap" type="com.dayuan.bean.sampling.TbSamplingDetailRecevie" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sd_id" property="sdId" jdbcType="INTEGER" />
    <result column="recevie_serial_number" property="recevieSerialNumber" jdbcType="VARCHAR" />
    <result column="recevie_status" property="recevieStatus" jdbcType="SMALLINT" />
    <result column="priority" property="priority" jdbcType="SMALLINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sd_id, recevie_serial_number, recevie_status, priority, create_by, create_date, update_by, 
    update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_sampling_detail_recevie
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_sampling_detail_recevie
    where id IN 
    	<foreach item="id" index="index" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
  </delete>
  <insert id="insert" parameterType="com.dayuan.bean.sampling.TbSamplingDetailRecevie" >
    insert into tb_sampling_detail_recevie (id, sd_id, recevie_serial_number, 
      recevie_status, priority, create_by, 
      create_date, update_by, update_date
      )
    values (#{id,jdbcType=INTEGER}, #{sdId,jdbcType=INTEGER}, #{recevieSerialNumber,jdbcType=VARCHAR}, 
      #{recevieStatus,jdbcType=SMALLINT}, #{priority,jdbcType=SMALLINT}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dayuan.bean.sampling.TbSamplingDetailRecevie" >
    insert into tb_sampling_detail_recevie
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sdId != null" >
        sd_id,
      </if>
      <if test="recevieSerialNumber != null" >
        recevie_serial_number,
      </if>
      <if test="recevieStatus != null" >
        recevie_status,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sdId != null" >
        #{sdId,jdbcType=INTEGER},
      </if>
      <if test="recevieSerialNumber != null" >
        #{recevieSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="recevieStatus != null" >
        #{recevieStatus,jdbcType=SMALLINT},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=SMALLINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dayuan.bean.sampling.TbSamplingDetailRecevie" >
    update tb_sampling_detail_recevie
    <set >
      <if test="sdId != null" >
        sd_id = #{sdId,jdbcType=INTEGER},
      </if>
      <if test="recevieSerialNumber != null" >
        recevie_serial_number = #{recevieSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="recevieStatus != null" >
        recevie_status = #{recevieStatus,jdbcType=SMALLINT},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=SMALLINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dayuan.bean.sampling.TbSamplingDetailRecevie" >
    update tb_sampling_detail_recevie
    set sd_id = #{sdId,jdbcType=INTEGER},
      recevie_serial_number = #{recevieSerialNumber,jdbcType=VARCHAR},
      recevie_status = #{recevieStatus,jdbcType=SMALLINT},
      priority = #{priority,jdbcType=SMALLINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
 <!-- 根据抽样明细ID进行删除 -->
  <delete id="deleteBySdId"  parameterType="java.lang.Integer">
   delete from tb_sampling_detail_recevie
    where sd_id = #{id,jdbcType=INTEGER}
  </delete>
  
   <!-- 根据仪器唯一标识进行删除 -->
  <delete id="deleteBySerialNumber"  parameterType="java.lang.String">
   delete from tb_sampling_detail_recevie
    where recevie_serial_number = #{serialNumber}
  </delete>
  
  <!-- 修改拒绝状态 -->
  <update id="updateByRejectStatus" parameterType="com.dayuan.bean.sampling.TbSamplingDetailRecevie" >
  	update tb_sampling_detail_recevie set recevie_status=#{recevieStatus} where sd_id=#{sdId} and recevie_serial_number=#{recevieSerialNumber}
  </update>
  <!-- 根据抽样明细ID获取下一条仪器任务 -->
  <select id="queryNextDeviceBySdid" parameterType="java.lang.String" resultMap="BaseResultMap">
  	SELECT 
  	<include refid="Base_Column_List"/>
  	 from tb_sampling_detail_recevie WHERE sd_id=#{sdId} and recevie_status=0 ORDER BY priority DESC LIMIT 0,1
  </select>
  <!-- 根据抽样明细ID重置所有仪器的接收状态 -->
  <update id="updateResetRecevieStatusBySdId" parameterType="java.lang.String">
  	update tb_sampling_detail_recevie set recevie_status=0 where sd_id=#{sdId}
  </update>
  <!-- 根据抽样明细ID，获取已分配检测任务 -->
  <select id="queryBySdId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_sampling_detail_recevie
    where sd_id = #{sdId,jdbcType=INTEGER}
  </select>
</mapper>