<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayuan.mapper.sampling.TbSamplingDetailCodeMapper">
  <resultMap id="BaseResultMap" type="com.dayuan.bean.sampling.TbSamplingDetailCode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sampling_detail_id" jdbcType="INTEGER" property="samplingDetailId" />
    <result column="sample_code" jdbcType="VARCHAR" property="sampleCode" />
    <result column="sample_code_time" jdbcType="VARCHAR" property="sampleCodeTime" />
    <result column="tube_code1" jdbcType="VARCHAR" property="tubeCode1" />
    <result column="tube_code_time1" jdbcType="TIMESTAMP" property="tubeCodeTime1" />
    <result column="tube_code2" jdbcType="VARCHAR" property="tubeCode2" />
    <result column="tube_code_time2" jdbcType="TIMESTAMP" property="tubeCodeTime2" />
    <result column="tube_code3" jdbcType="VARCHAR" property="tubeCode3" />
    <result column="tube_code_time3" jdbcType="TIMESTAMP" property="tubeCodeTime3" />
    <result column="tube_code4" jdbcType="VARCHAR" property="tubeCode4" />
    <result column="tube_code_time4" jdbcType="TIMESTAMP" property="tubeCodeTime4" />
    <result column="param1" jdbcType="VARCHAR" property="param1" />
    <result column="param2" jdbcType="VARCHAR" property="param2" />
    <result column="param3" jdbcType="VARCHAR" property="param3" />
    <result column="delete_flag" jdbcType="SMALLINT" property="deleteFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />

    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="sampleCode" jdbcType="VARCHAR" property="sampleCode" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="iuName" jdbcType="VARCHAR" property="iuName" />
    <result column="sampling_time" jdbcType="TIMESTAMP" property="samplingTime" />
    <result column="foodName" jdbcType="VARCHAR" property="foodName" />
    <result column="itemName" jdbcType="VARCHAR" property="itemName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sampling_detail_id, sample_code, sample_code_time,tube_code1, tube_code_time1, tube_code2, tube_code_time2,
    tube_code3, tube_code_time3, tube_code4, tube_code_time4, param1, param2, param3, 
    delete_flag, create_by, create_date, update_by, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_sampling_detail_code
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_sampling_detail_code
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dayuan.bean.sampling.TbSamplingDetailCode">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_sampling_detail_code (sampling_detail_id, sample_code,sample_code_time, tube_code1,
      tube_code_time1, tube_code2, tube_code_time2, 
      tube_code3, tube_code_time3, tube_code4, 
      tube_code_time4, param1, param2, 
      param3, delete_flag, create_by, 
      create_date, update_by, update_date
      )
    values (#{samplingDetailId,jdbcType=INTEGER}, #{sampleCode,jdbcType=VARCHAR}, #{sampleCodeTime,jdbcType=TIMESTAMP}, #{tubeCode1,jdbcType=VARCHAR},
      #{tubeCodeTime1,jdbcType=TIMESTAMP}, #{tubeCode2,jdbcType=VARCHAR}, #{tubeCodeTime2,jdbcType=TIMESTAMP}, 
      #{tubeCode3,jdbcType=VARCHAR}, #{tubeCodeTime3,jdbcType=TIMESTAMP}, #{tubeCode4,jdbcType=VARCHAR}, 
      #{tubeCodeTime4,jdbcType=TIMESTAMP}, #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}, 
      #{param3,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=SMALLINT}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dayuan.bean.sampling.TbSamplingDetailCode">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_sampling_detail_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="samplingDetailId != null">
        sampling_detail_id,
      </if>
      <if test="sampleCode != null">
        sample_code,
      </if>
      <if test="sampleCodeTime != null">
        sample_code_time,
      </if>
      <if test="tubeCode1 != null">
        tube_code1,
      </if>
      <if test="tubeCodeTime1 != null">
        tube_code_time1,
      </if>
      <if test="tubeCode2 != null">
        tube_code2,
      </if>
      <if test="tubeCodeTime2 != null">
        tube_code_time2,
      </if>
      <if test="tubeCode3 != null">
        tube_code3,
      </if>
      <if test="tubeCodeTime3 != null">
        tube_code_time3,
      </if>
      <if test="tubeCode4 != null">
        tube_code4,
      </if>
      <if test="tubeCodeTime4 != null">
        tube_code_time4,
      </if>
      <if test="param1 != null">
        param1,
      </if>
      <if test="param2 != null">
        param2,
      </if>
      <if test="param3 != null">
        param3,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="samplingDetailId != null">
        #{samplingDetailId,jdbcType=INTEGER},
      </if>
      <if test="sampleCode != null">
        #{sampleCode,jdbcType=VARCHAR},
      </if>
      <if test="sampleCodeTime != null">
        #{sampleCodeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tubeCode1 != null">
        #{tubeCode1,jdbcType=VARCHAR},
      </if>
      <if test="tubeCodeTime1 != null">
        #{tubeCodeTime1,jdbcType=TIMESTAMP},
      </if>
      <if test="tubeCode2 != null">
        #{tubeCode2,jdbcType=VARCHAR},
      </if>
      <if test="tubeCodeTime2 != null">
        #{tubeCodeTime2,jdbcType=TIMESTAMP},
      </if>
      <if test="tubeCode3 != null">
        #{tubeCode3,jdbcType=VARCHAR},
      </if>
      <if test="tubeCodeTime3 != null">
        #{tubeCodeTime3,jdbcType=TIMESTAMP},
      </if>
      <if test="tubeCode4 != null">
        #{tubeCode4,jdbcType=VARCHAR},
      </if>
      <if test="tubeCodeTime4 != null">
        #{tubeCodeTime4,jdbcType=TIMESTAMP},
      </if>
      <if test="param1 != null">
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null">
        #{param3,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=SMALLINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dayuan.bean.sampling.TbSamplingDetailCode">
    update tb_sampling_detail_code
    <set>
      <if test="samplingDetailId != null">
        sampling_detail_id = #{samplingDetailId,jdbcType=INTEGER},
      </if>
      <if test="sampleCode != null">
        sample_code = #{sampleCode,jdbcType=VARCHAR},
      </if>
      <if test="sampleCodeTime != null">
        sample_code_time = #{sampleCodeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tubeCode1 != null">
        tube_code1 = #{tubeCode1,jdbcType=VARCHAR},
      </if>
      <if test="tubeCodeTime1 != null">
        tube_code_time1 = #{tubeCodeTime1,jdbcType=TIMESTAMP},
      </if>
      <if test="tubeCode2 != null">
        tube_code2 = #{tubeCode2,jdbcType=VARCHAR},
      </if>
      <if test="tubeCodeTime2 != null">
        tube_code_time2 = #{tubeCodeTime2,jdbcType=TIMESTAMP},
      </if>
      <if test="tubeCode3 != null">
        tube_code3 = #{tubeCode3,jdbcType=VARCHAR},
      </if>
      <if test="tubeCodeTime3 != null">
        tube_code_time3 = #{tubeCodeTime3,jdbcType=TIMESTAMP},
      </if>
      <if test="tubeCode4 != null">
        tube_code4 = #{tubeCode4,jdbcType=VARCHAR},
      </if>
      <if test="tubeCodeTime4 != null">
        tube_code_time4 = #{tubeCodeTime4,jdbcType=TIMESTAMP},
      </if>
      <if test="param1 != null">
        param1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        param2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null">
        param3 = #{param3,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=SMALLINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dayuan.bean.sampling.TbSamplingDetailCode">
    update tb_sampling_detail_code
    set sampling_detail_id = #{samplingDetailId,jdbcType=INTEGER},
      sample_code = #{sampleCode,jdbcType=VARCHAR},
      sample_code_time = #{sampleCodeTime,jdbcType=TIMESTAMP},
      tube_code1 = #{tubeCode1,jdbcType=VARCHAR},
      tube_code_time1 = #{tubeCodeTime1,jdbcType=TIMESTAMP},
      tube_code2 = #{tubeCode2,jdbcType=VARCHAR},
      tube_code_time2 = #{tubeCodeTime2,jdbcType=TIMESTAMP},
      tube_code3 = #{tubeCode3,jdbcType=VARCHAR},
      tube_code_time3 = #{tubeCodeTime3,jdbcType=TIMESTAMP},
      tube_code4 = #{tubeCode4,jdbcType=VARCHAR},
      tube_code_time4 = #{tubeCodeTime4,jdbcType=TIMESTAMP},
      param1 = #{param1,jdbcType=VARCHAR},
      param2 = #{param2,jdbcType=VARCHAR},
      param3 = #{param3,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=SMALLINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="queryByBagCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_sampling_detail_code
    where sample_code = #{sampleCode,jdbcType=VARCHAR}
  </select>

  <select id="queryByTubeCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select tb3.id, tb3.sampling_detail_id, tb3.sample_code, tb3.tube_code1, tb3.tube_code_time1,
      tb3.tube_code2, tb3.tube_code_time2, tb3.tube_code3, tb3.tube_code_time3,
      tb3.tube_code4, tb3.tube_code_time4, tb3.param1, tb3.param2, tb3.param3,
      tb3.delete_flag, tb3.create_by, tb3.create_date, tb3.update_by, tb3.update_date
    from (
      SELECT tb1.id, tb1.sampling_detail_id, tb1.sample_code, tb1.tube_code1, tb1.tube_code_time1,
        tb1.tube_code2, tb1.tube_code_time2, tb1.tube_code3, tb1.tube_code_time3,
        tb1.tube_code4, tb1.tube_code_time4, tb1.param1, tb1.param2, tb1.param3,
        tb1.delete_flag, tb1.create_by, tb1.create_date, tb1.update_by, tb1.update_date
      FROM tb_sampling_detail_code tb1
        WHERE tb1.tube_code1 = #{tubecode} AND tb1.tube_code_time1 >= #{validityTime}
      UNION
      SELECT tb2.id, tb2.sampling_detail_id, tb2.sample_code, tb2.tube_code1, tb2.tube_code_time1,
        tb2.tube_code2, tb2.tube_code_time2, tb2.tube_code3, tb2.tube_code_time3,
        tb2.tube_code4, tb2.tube_code_time4, tb2.param1, tb2.param2, tb2.param3,
        tb2.delete_flag, tb2.create_by, tb2.create_date, tb2.update_by, tb2.update_date
      FROM tb_sampling_detail_code tb2
        WHERE tb2.tube_code2 = #{tubecode} AND tb2.tube_code_time2 >= #{validityTime}
    ) tb3
  </select>
  
  <select id="queryBySamplingDetailId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	 SELECT * FROM tb_sampling_detail_code WHERE delete_flag=0 AND sampling_detail_id=#{samplingDetailId}
  </select>
  
  <update id="bulkUpdateTubeCode" parameterType="java.util.HashMap">
    UPDATE tb_sampling_detail_code tsdc, tb_sampling_detail tsd
    SET
      tsdc.tube_code1 = CASE tsdc.sampling_detail_id
			<foreach collection="samplingDetailCodes" item="code">
				WHEN #{code.samplingDetailId} THEN #{code.tubeCode1}
			</foreach>
		END,
    tsdc.tube_code_time1 = CASE tsdc.sampling_detail_id
			<foreach collection="samplingDetailCodes" item="code">
				WHEN #{code.samplingDetailId} THEN #{code.tubeCodeTime1}
			</foreach>
		END,
    tsdc.tube_code2 = CASE tsdc.sampling_detail_id
			<foreach collection="samplingDetailCodes" item="code">
				WHEN #{code.samplingDetailId} THEN #{code.tubeCode2}
			</foreach>
		END,
    tsdc.tube_code_time2 = CASE tsdc.sampling_detail_id
			<foreach collection="samplingDetailCodes" item="code">
				WHEN #{code.samplingDetailId} THEN #{code.tubeCodeTime2}
			</foreach>
		END,
    tsdc.tube_code3 = CASE tsdc.sampling_detail_id
			<foreach collection="samplingDetailCodes" item="code">
				WHEN #{code.samplingDetailId} THEN #{code.tubeCode3}
			</foreach>
		END,
    tsdc.tube_code_time3 = CASE tsdc.sampling_detail_id
			<foreach collection="samplingDetailCodes" item="code">
				WHEN #{code.samplingDetailId} THEN #{code.tubeCodeTime3}
			</foreach>
		END,
    tsdc.tube_code4 = CASE tsdc.sampling_detail_id
			<foreach collection="samplingDetailCodes" item="code">
				WHEN #{code.samplingDetailId} THEN #{code.tubeCode4}
			</foreach>
		END,
    tsdc.tube_code_time4 = CASE tsdc.sampling_detail_id
			<foreach collection="samplingDetailCodes" item="code">
				WHEN #{code.samplingDetailId} THEN #{code.tubeCodeTime4}
			</foreach>
		END,
    tsdc.delete_flag = 0,
    tsdc.update_by = CASE tsdc.sampling_detail_id
			<foreach collection="samplingDetailCodes" item="code">
				WHEN #{code.samplingDetailId} THEN #{code.updateBy}
			</foreach>
		END,
    tsdc.update_date = CASE tsdc.sampling_detail_id
			<foreach collection="samplingDetailCodes" item="code">
				WHEN #{code.samplingDetailId} THEN #{code.updateDate}
			</foreach>
		END,
    tsd.recevie_status = 0,
    tsd.recevie_device = NULL
    WHERE tsdc.sampling_detail_id IN (
    	<foreach collection="samplingDetailCodes" item="code" separator=",">#{code.samplingDetailId}</foreach>
    )
    AND tsdc.sampling_detail_id = tsd.id
  </update>

  <!-- 分页基础查询 -->
  <select id="loadDatagrid" resultMap="BaseResultMap" parameterType="Object">
      SELECT iu.id, iu.company_name companyName, iu.reg_number regNumber, iu.credit_code creditCode,
        iu.setup_date setupDate, iu.reg_authority regAuthority, iu.checked, iu.state,
        iu.legal_person legalPerson, iu.legal_phone legalPhone,
        SUM(IF(iuu.id IS NULL, 0, 1)) userNumber
      FROM
        (SELECT id, company_name, reg_number, credit_code, setup_date,
          reg_authority, checked, state, legal_person, legal_phone
          FROM inspection_unit
          WHERE delete_flag = 0
        ORDER BY id ${order} LIMIT #{rowOffset}, #{pageSize}) iu
      LEFT JOIN inspection_unit_user iuu ON iu.id = iuu.inspection_id
      GROUP BY iu.id

	</select>

  <select id="getRowTotal" resultType="java.lang.Integer" parameterType="Object">
      SELECT count(1) AS rowTotal
		FROM inspection_unit
	  WHERE delete_flag = 0
	</select>

  <select id="loadDatagridCodeInfo" resultMap="BaseResultMap" parameterType="Object">
    SELECT ts.order_number,ts.order_time,CONCAT(ccu_name,iu_name) iuName,ts.sampling_time,
    tsdc.id,tsdc.sampling_detail_id, tsd.food_name foodName, tsd.item_name itemName, tsdc.sample_code_time,
        tsdc.sample_code, tsdc.tube_code1,tsdc.tube_code_time1, tsdc.tube_code2,tsdc.tube_code_time2
    FROM
    (
      <if test="obj.tubeCode != null and obj.tubeCode != ''">
        SELECT tb1.id,tb1.sampling_detail_id, tb1.sample_code, tb1.tube_code1,tb1.tube_code_time1, tb1.tube_code2,tb1.tube_code_time2,tb1.sample_code_time
          FROM tb_sampling_detail_code tb1
        WHERE tb1.tube_code1 = #{obj.tubeCode} AND tb1.tube_code_time1 >= #{dateMap.validityTime}
        UNION
        SELECT tb2.id,tb2.sampling_detail_id, tb2.sample_code, tb2.tube_code1,tb2.tube_code_time1, tb2.tube_code2,tb2.tube_code_time2,tb2.sample_code_time
        FROM tb_sampling_detail_code tb2
        WHERE tb2.tube_code2 = #{obj.tubeCode} AND tb2.tube_code_time2 >= #{dateMap.validityTime}
      </if>
      <if test="obj.sampleCode != null and obj.sampleCode != ''">
        SELECT tb1.id,tb1.sampling_detail_id, tb1.sample_code, tb1.tube_code1,tb1.tube_code_time1, tb1.tube_code2,tb1.tube_code_time2,tb1.sample_code_time
          FROM tb_sampling_detail_code tb1
        WHERE tb1.sample_code = #{obj.sampleCode}
      </if>
    ) tsdc
    INNER JOIN tb_sampling_detail tsd ON tsdc.sampling_detail_id = tsd.id
    left join tb_sampling ts on tsd.sampling_id=ts.id
    LIMIT #{rowOffset}, #{pageSize}
  </select>

  <select id="getRowTotalCodeInfo" resultType="java.lang.Integer" parameterType="Object">
    SELECT count(1) AS rowTotal
    FROM
    (
      <if test="obj.tubeCode != null and obj.tubeCode != ''">
        SELECT tb1.id,tb1.sampling_detail_id, tb1.sample_code, tb1.tube_code1,tb1.tube_code_time1, tb1.tube_code2,tb1.tube_code_time2,tb1.sample_code_time
        FROM tb_sampling_detail_code tb1
        WHERE tb1.tube_code1 = #{obj.tubeCode} AND tb1.tube_code_time1 >= #{dateMap.validityTime}
        UNION
        SELECT tb2.id,tb2.sampling_detail_id, tb2.sample_code, tb2.tube_code1,tb2.tube_code_time1, tb2.tube_code2,tb2.tube_code_time2,tb2.sample_code_time
        FROM tb_sampling_detail_code tb2
        WHERE tb2.tube_code2 = #{obj.tubeCode} AND tb2.tube_code_time2 >= #{dateMap.validityTime}
      </if>
      <if test="obj.sampleCode != null and obj.sampleCode != ''">
        SELECT tb1.id,tb1.sampling_detail_id, tb1.sample_code, tb1.tube_code1,tb1.tube_code_time1, tb1.tube_code2,tb1.tube_code_time2,tb1.sample_code_time
        FROM tb_sampling_detail_code tb1
        WHERE tb1.sample_code = #{obj.sampleCode}
      </if>
    ) tsdc
    INNER JOIN tb_sampling_detail tsd ON tsdc.sampling_detail_id = tsd.id
  </select>

</mapper>