/*头部导航栏*/
html,body{

}
body{
     background: #fff;transform:translateZ(1); -webkit-transform:translateZ(1);
}
.cs-header{
    font-size: 14px;
}
#wrapper{
    /* min-width:1024px; */
}
.cs-top-line{
	height:4px;
	background:#1dcc6a;
	width:100%;
	position:absolute;
	left:0;
	right:0;
	top:0;
}
.cs-topbar{
    height: 78px;
    background: #fff;
    filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ffffff,endcolorstr=#f1f1f1,gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ffffff,endcolorstr=#f1f1f1,gradientType=0);/*IE8*/	

    background: -webkit-linear-gradient(top, #f1f1f1 , #fff); /* Safari 5.1 - 6.0 */
  	background: -o-linear-gradient(top, #f1f1f1, #fff); /* Opera 11.1 - 12.0 */
  	background: -moz-linear-gradient(top, #f1f1f1, #fff); /* Firefox 3.6 - 15 */
  	background: linear-gradient(to top, #f1f1f1 , #fff); /* 标准的语法 */
    /* border-bottom: 1px solid #ccc; */
    z-index: 10;
    width:100%;
    box-shadow:0px 2px 3px #d8d8d8;
}
.cs-navbar-header{
    float:left;
    padding:20px 10px 0 10px;
    /*width:28%;*/
    width: 275px;
    overflow:hidden;
    
}
.cs-no-mess p{
    font-size: 12px;
    color:#666;
    padding:10px;
}
.cs-nav-style li,.cs-messages-dropdown{
    float:left;
    width:90px;
    /* height:80px; */
    text-align: center;
    margin-left:2px;
}
.cs-nav-style li{
    padding-top:7px;
}
.cs-detect-name{
	display:none;
}
.cs-nav-style li a{
    display:inline-block;
    width:100%;
    padding-top:4px;
    height:72px;
    border-radius: 4px;
    color:#05af50; 
}
.cs-nav-style .icon{
    color:#05af50 !important;
}

.cs-nav-style  p{
    font-size: 14px;
    color:#666;
}
.cs-nav-style li a i{
    font-size: 28px;

}
.cs-nav-style .cs-active .icon,.cs-nav-style .cs-active a,.cs-nav-style .cs-active p{
    background:#05af50;
    color:#fff !important;
}
.cs-nav-style li a:hover{
    background: #fff;
    border: 1px solid #1dcc6a;
}

.cs-nav-style .cs-active a:hover{
    background:#05af50;
    color:#fff;
    border:none;
}


.cs-navbar-nav{
    width:150px;
    position:absolute;
    top:78px;
    bottom:0;
    left:0;
    background: #fff;
    overflow: auto;
    overflow-x: hidden;
    box-shadow: 0px 1px 1px 1px #ccc;
}


@media only screen and (min-width: 1000px) {
  .cs-messages-dropdown{
    width:100px;
    /* border-left:1px solid #f5f5f5; */
    position:relative;

}
.cs-buhege{
    width: 50px;
}
.cs-xiaoxi{
    width: 50px;
}
}

@media only screen and (max-width: 1000px) {
  .cs-messages-dropdown{
    width:120px;
    border-left:1px solid #f5f5f5;
    position:relative;

}
.cs-buhege{
    width: 50px;
}
.cs-xiaoxi{
    width: 50px;
}
}


.cs-messages-d{
    width:80px;
    border-left:1px solid #ccc;
    position:relative;

}
/*.cs-messages-dropdown:hover{
    background: #f1f1f1;
}*/
.cs-messages-dropdown:hover .cs-dropdown-user{
    color:#1dcc6a;
}
.cs-dropdown_mess{
    display:block;
    text-align: center;
    padding-top:28px;
    height:100%;
}
.cs-dropdown-user{
    padding-top:18px;
    margin-left:0px;
    position:relative;
}
.cs-bell{
    position:relative;
}
.cs-mail{
    cursor: pointer;
}
.cs-mail i{
    font-size: 23px;
}
.cs-badge{
    width: 22px;
    height: 18px;
    line-height: 18px;
    position: absolute;
    top: 18px;
    right: 2px;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    padding: 0;
}
.cs-dropdown-menu{
    background: #fff;
    font-weight: normal;
}
.cs-dropdown-menu a:hover{
    color:#1ca93a;
}
.cs-member-bottom{
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    background-color: #f4f5f7;
    border-radius: 0 0 4px 4px;
}
.cs-user-name{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    padding:0 8px;
}
.cs-self-menu{
    position:absolute;
    top:80px;
    right:0;
    z-index: 100;
}
.cs-self-menu a{
    display:block;
    height:30px;
    line-height: 30px;
}
.cs-self-menu a:hover{
    background:#f1f1f1;
}
.cs-self-content{
    background: #fff;
    box-shadow:  0px 2px 3px 2px #ccc;
    width:120px;
    text-align: center;
    border-radius: 4px;
}

.cs-nav-right{
     	text-align:center;
     }
     .cs-nav-right li{
     	float:none;
     	display:inline-block;
     }

/*侧边栏*/
.cs-dropdown-title{
    background:#e1e1e1;
    border-top:1px solid #f3f3f3;
    font-weight: bold;
}
.cs-dropdown-title,.cs-dropdown-title a{
    width:150px;
    display:block;
}
.cs-dropdown-title a{
    line-height: 39px;
    padding-left:20px;
    font-weight: normal;
}

.cs-dropdown-menu a{
    padding-left:50px;
}

/*消息下拉*/
.cs-warn-menu{
    width:340px;
    height:auto;
    background: #fff;
    box-shadow: 0px 1px 2px 2px #ccc;
    position:absolute;
    top: 80px;
    right:0px;
    z-index:10;
    border-radius: 4px;
    overflow: hidden;
}
.cs-dropdown-header{
    background: #e1e1e1;
    height:32px;
    line-height: 32px;
    text-align: left;
    padding:0 10px 0;
}
.cs-check-all{
    color:#4073c1;
    font-weight: normal;
}
.cs-a-pad{
    padding:0 10px;
    display:block;
}
.cs-seize{
    display:inline-block;
    width:28px;
    height:14px;
}
.cs-mess{
    font-size: 12px;
    padding-left:4px;
    color:#4073c1;
}
.cs-message{
    height:34px;
    padding-top:10px;
}
.cs-divider{
    border-bottom: 1px solid #ddd;
}
#page-wrapper{
    /*background: #e1e1e1;*/
    
}

.cs-container{
    position:absolute;
    left:151px;
    right:0;
    top:82px;
    bottom:0;
    overflow:auto;
}
.cs-container2{
    position:absolute;
    left:0;
    right:0;
    top:80px;
    bottom:0;
    overflow:auto;
    background:#f1f1f1;
}
.cs-col-lg{
    background:#fff;
    height:40px;
    /*line-height: 40px; */
    /*padding:0 10px;*/
    border-bottom: 1px solid #ddd;
    /*padding-right:25px;*/
}
.cs-col-nav{
    line-height: 30px;
    height: 39px;
    padding: 5px 0 0 20px;
}
.cs-sorrow{
    font-family: simsun;
    padding:0 10px ;
    font-weight: bold;
    color:#ccc;
}
.cs-col-lg-table{
    /*background: #fafafa;*/
    /*border:1px solid #ddd;*/
    /*padding:10px;*/
}

/*搜索栏*/
.cs-breadcrumb{
  line-height: 39px;
  padding-left:10px;
}
.cs-breadcrumb li{
  
}
.cs-search-box{
    padding-top:4px;
    padding-right: 25px;
}
.cs-fun-btn{
    /*width:64px;*/
    display:block;
}
.cs-add-btn,.cs-delet,.cs-export{
    
    display:block;
    padding-left:18px;
    background: url(../img/add_green.png) no-repeat 8px center;
}
.cs-add-btn:hover,.cs-delet:hover,.cs-export:hover{
    background: #1dcc6a url(../img/cross_white.png) no-repeat 8px center;
    color:#fff;
}
.cs-delet{
    background: url(../img/del.png) no-repeat 8px center;
}
.cs-delet:hover{
    background: #05af50 url(../img/del_white.png) no-repeat 8px center;
}
.cs-export{
    background: url(../img/export.png) no-repeat 8px center;
}
.cs-export:hover{
    background: #05af50 url(../img/export_white.png) no-repeat 8px center;
}



.cs-s-search{
    color:#666;
    display:inline-block;
    line-height: 30px;
    margin-left: 10px;
    padding-right: 14px;
    cursor:pointer;
    background:url(../img/arrow_simple.png) no-repeat right center;
    font-size: 12px;
}
.cs-s-search:hover{
    color:#222;
}
.cs-search-filter,.cs-search-margin{
    position:relative;
    float:left;
    margin-right: 10px;
}
.cs-search-margin{
    margin-top:4px;
    margin-right: 5px;
}
.cs-input-cont{
    border:1px solid #ddd;
    height:30px;
    width:150px;
    line-height: 30px;
    border-radius: 2px 0 0 2px;
    margin-right: 1px;
    background:#f4fbf5;
}
.cs-search-btn{
    margin-left:-1px;
    border:1px solid #ddd;
    display:inline-block;
    height:30px;
    line-height: 30px;
    width:50px;
    text-align: center;
    border-radius: 0 2px 2px 0;
    color:rgba(0,0,0,0);
    background: #fff;
    background:#fff url(../img/search.png) no-repeat center center;
    
}
.cs-search-btn:hover{
    background:#05af50 url(../img/search_white.png)no-repeat center center;
}


.cs-search-inform{
    background: #fff;
    width:100%;
    border-bottom:1px solid #ddd ;
}

.cs-search-table{
    width:80%;
}
.cs-search-table tr{
    background: #fff;
}

.cs-input-style{
  margin-left:20px;
  font-weight: normal;
}
.cs-input-style td{
  padding:0 4px;
  border:none;
}
.cs-input-style input,.cs-input-style select{
  width:200px;
  height:30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  
}
.cs-input-style input{
    background: #fafafa;
}
.cs-choice{
    padding:10px 0 10px 10px;
}
a.cs-avd-search-btn i{
    color:#fff;
}
a.cs-avd-search-btn{
    width:62px;
    height:30px;
    color:#fff;
    display:inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    background:#1dcc6a;
    margin:5px;
}
a.cs-avd-search-btn:hover{
    opacity:0.8;
    filter:alpha(opacity=80)
}
.cs-table-responsive{
    padding-bottom: 50px;
}
/*底部操作栏*/
.cs-bottom-tools{
    position:fixed;
    height:50px;
    bottom:0;
    left:0px;
    right:0px;
    background: #fff;
    padding:9px 20px 9px 13px;
    /* border-top: 1px solid #ddd; */
    box-shadow: 0 -1px 2px #ddd;
}
.cs-no-fixed{
    position: relative;
    background: #f1f1f1;
    border-top: none;
    border-bottom: 1px solid #ddd;
}
.cs-b-list-bg{
    background: #fff;
}
.cs-modal-list .cs-bottom-tools{
    bottom:40px;
    left: 1px;
    right: 1px;
}
.cs-modal-list .cs-search-box{
    height:40px;
    padding-left:10px;
    float:left;
}
.cs-pagination li{
    float:left;
    margin-right: 2px;
    line-height: 30px;
}
.cs-skip input{
    height:30px;
    width:35px;
    border:1px solid #ddd;
    margin:0 6px;
    
}
.cs-enter{
    padding:0 8px;
    background: #fff;
}

.cs-dropdown-menu a{
    color:#666;
    background:url(../img/arrow.png) no-repeat 40px center;
}
.cs-dropdown-menu .cs-active a{
    /*border-left: 4px solid #f0bd20;*/
    background:#1dcc6a url(../img/arrow_white.png) no-repeat 40px center;
    color:#fff;
}
.cs-dropdown-menu .cs-active a:hover{
    /*border-left: 4px solid #f0bd20;*/
    background:#1dcc6a url(../img/arrow_white.png) no-repeat 40px center;
    color:#fff;
}

.cs-dropdown-menu a:hover{
   /* background:#43dc86  url(../img/arrow.png) no-repeat 30px center;*/
    /*color:#666;*/
}


/*弹出窗口*/

/*删错提示窗*/
.cs-mask,.cs-mask2{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 1000;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    filter:alpha(opacity=40);
    display:none;
}

.cs-alert-form{
    width:300px;
    height:200px;
    background: #fff;
    border:1px solid #1dcc6a;
    position: absolute;
    top:30%;
    left: 40%;
    right: 0;
    bottom:0;
}
.cs-alert-form-title{
    height:40px;
    line-height: 40px;
    background: #1dcc6a;
    padding-left:15px;
    font-size: 16px;
    font-weight: bold;
    color:#fff;
}
.cs-alert-form p{
    text-align: center;
    height:40px;
    line-height: 54px;
    font-size: 20px;
}

.cs-sure:hover,.cs-save:hover{
    background: #1dcc6a;
    color:#fff;
}
.cs-cencel{
    background: #fff;
}
.cs-alert-form-btn{
    text-align: center;
    padding:20px 0;
    
}

.cs-menu-btn{
    display:inline-block;
    margin-left:10px;
}
.cs-menu-btn:hover a{
    color:#fff;
}
/*.cs-alert-form-btn a{
    display:inline-block;
    margin-left:5px;
}*/
.cs-close{
    height:36px;
    width:36px;
    background: url(../img/close.png) no-repeat center center;
    cursor:pointer;
}

/*删错提示窗*/

/*项目详情弹出窗*/
.cs-inform-form{
    width:700px;
    background: #fff;
    padding-bottom: 20px;
    position:absolute;
    top:20%;
    left:25%;
}
.cs-inform-form table{
    width:680px;
    margin:10px auto;
}
.cs-inform-form td{
    text-align: left;
    padding:0 10px;
    background: #fff;
    height:30px;
}
.cs-inform-form .cs-td-title{
    background: #eaeaea;
    font-weight: bold;
}
.cs-inform-form .cs-td-name{
    background: #fafafa;
    text-align: right;
}
.cs-save{
    background:;
}

.cs-close_button{
    background:#363636;
    margin:0 auto;
}
.cs-close_button:hover{
    background: black;
}
.cs-dialog,.dialog2{
    z-index: 9000;
    display: none;
    -moz-user-select: none; 
    -webkit-user-select: none;
}
.cs-selcet{
    border:none;
}
.cs-selcet input{
    margin-top:3px;
}
.cs-selcet select{
    border:1px solid #ddd;
    width:80px;
    height:30px;
    border-radius: 2px;
    padding:0 20px 0 4px;
}
.cs-selcet select option{
    height:30px;
}

.cs-new-img{
  margin-left: 2px;
}

.mtree{
    width:100%;
}
/*.mtree li{
    display:table;
    width:100%;
}
.mtree li div{
    display:table-cell;
}*/
ul.cs-mtree{
    border-bottom: 1px solid #ddd;
}
.mtree li{
    border:1px solid #ddd;
    border-left:0;
    border-right:0;
    /*display:table;*/
    position:relative;
    border-bottom: 0;
}
.cs-spda,.cs-spda-list{
    
    padding:10px;
}
.cs-spda{
    width:200px;
    /*background: green;*/
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    margin-left: -1px;
    border-right: 1px solid #ddd;
}
.cs-ps{
   /* position:absolute;
    top:40%;*/
    margin-top: 10%;
    display:block;
}
.cs-spda-list{
    width:auto;
    /*background: red;*/
    margin-left:200px;
}
.cs-seclet-list{
    display:inline-block;
    width:92%;

}

.cs-seclet-list div{
    float: left;
    width: 150px;
    height: 30px;
    line-height: 24px;
    padding: 2px 6px;
    padding-right: 2px;
    border: 1px solid #ccc;
    margin: 2px 2px 4px 14px;
    background: #fff;
    font-size: 12px;
    text-align: left;
    text-overflow: ellipsis;
    border-radius: 4px;
}
.cs-seclet-list input{
    margin-top:5px;
    margin-right: 4px;
}
.cs-take-all{
    width:8%;
    display:inline-block;
    text-align: center;
    line-height: 40px;
    float:left;
}
.cs-take-all input{
    margin:2px 4px 0 0;
}
.cs-seclet-all{
    width:91.5%;
}
.cs-seclet-list div:hover{
    border-color: #f0bd20;
}


.cs-1{
    padding-left:10px;
}
.cs-2{
    padding-left:25px;
}
.cs-3{
    padding-left:40px;
}
.cs-4{
    padding-left:55px;
}

.cs-ul-form label {
      padding:0 5px 0 3px;
}
.cs-tb-box{
    padding-bottom: 0px;
}


/*富文本*/
/* this CSS is not part of the widget, it is here just as an example of the demo page styling.... Don't copy this one, roll your own. One
 * of the key things about the widget is that it allows you to do your own styling!
 */

#editor {
    max-height: 250px;
    height: 250px;
    background-color: white;
    border-collapse: separate; 
    border: 1px solid rgb(204, 204, 204); 
    padding: 5px; 
    box-sizing: content-box; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px; border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;
}
#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}
.cs-table{
	word-wrap: break-word;
}
