a:hover {
    text-decoration: none;
}
a:active {
    color: #006fce;
    text-decoration: none;
}
a:hover {
    color: #006fce;
    text-decoration: none;
}
a:link {
    color: #006fce;
    text-decoration: none;
}
/* 頭部  s*/
.ui-headed h4{
	background:#008ad4;
}

.mui-bar{
	background:#008ad4;
}
/* 頭部 e */

.ui-title-tr{
	background: #eee; 
	color:#008ad4;
	
}
div.ui-title{
	padding:0;
	margin:0;

}
div.ui-title .ui-list-title{
	border:0;
	margin:0;
}
.ui-headed a{
	color:#fff;
}
.ui-container a,.ui-container a:visited{
	color:#333;
}
.selected{
	color:#006fce;
}
.btn-success,.btn-success:hover,.btn-success:active,.btn-success:focus {
    color: #fff;
    background-color: #4fa3ff;
    border-color: #4fa3ff;
}
.btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus{
	color: #fff;
    background-color: #4fa3ff;
    border-color: #4fa3ff;
}
.ui-bg-green{
	background:#008ad4;
}
.record-local a{
	color:#008ad4;
}
.ui-success{
	background:#008ad4;
}
.ui-list-content, .ui-list-content2{
	background:rgba(0,0,0,0);
	border:0;
	padding: 0 5px;
}
span.infoTitle {
    color: #006fce;
}
input.user-name-bg{
		padding-left:24px;
	    background:#fff url(../login/img/username-blue.png) no-repeat 4px center;
}
input.password-bg{
		padding-left:24px;
	    background:#fff url(../login/img/password-blue.png) no-repeat 4px center;
}
#mb_btn_ok{
	background-color: #4fa3ff;
	border-radius: 4px;
}
#mb_tit{
border-bottom: 3px solid #4fa3ff;
}

.mui-segmented-control .mui-control-item.mui-active{
	border-bottom: 3px solid #4fa3ff;
	color:#4fa3ff;
}
.mui-icon{
	color:#4fa3ff;
}
a:link{
	color:#4fa3ff;
}
.mui-btn-blue, .mui-btn-primary, input[type=submit]{
	background-color: #4fa3ff;
	border:#4fa3ff;
}
.mui-btn-blue.mui-active:enabled, .mui-btn-blue:enabled:active, .mui-btn-primary.mui-active:enabled, .mui-btn-primary:enabled:active, input[type=submit].mui-active:enabled, input[type=submit]:enabled:active{
	background-color: #4fa3ff;
	border:#4fa3ff;
}

/*	border-bottom:3px solid #4fa3ff;
}*/
.ui-footer,.ui-footer a:link{
	color:#999;
}
.ui-dz-title{
	font-size:24px;
	display:inline-block;
	color:#003dc8;
}

.ui-check-count{
	height: 155px;
    background: -webkit-linear-gradient(#69aaff, #008ad4);
    background: -o-linear-gradient(#69aaff, #008ad4);
    background: -moz-linear-gradient(#69aaff, #008ad4);
    background:linear-gradient(#69aaff,#008ad4);
	
}
.ui-safe-sheild p{
	color:#008ad4;
}
.ui-headed h4 a{
	color:#fff;
}
.ui-green{
	color:#006fce;
}

.label-success{
	background: #008ad4;
}
a:link,a:visited,a:hover,a:active{
	color:#006fce;
}


.pad-ul3 li i p{
	line-height:28px;
	margin-left: 12px;

}
.pad-ul3 li{
	padding: 0 0 6px 10px;
}
p.label-style{
	float:left;
	margin-left: 4px;
}
.ui-footer i{
	color:#999;
}
