.all-content {
	background: #f4f5f8;
}

.system-title {
	color: #4076f0;
}

.new-list {
	background: transparent;
}

.swiper1 .swiper-slide {
	/* flex: 1; */
	margin-left: 5px;
	border: 0;
	border-radius: 50px;
}


.company-all-info,
.new-list .ui-dtpicker {
	border: 1px solid #c5daf9;
	border-radius: 5px;
	/* overflow: hidden; */
}

.checked-data {
	background: transparent;
	margin: 0;
}

.new-invoice-list .invoice-li {
	margin: 5px 0;
	border: 1px solid #c5daf9;
	border-radius: 5px;
}
.dis-t{
	display: block;
}
.stock-name {
	padding: 3px 2px 3px 10px;
	border: 0;
	color: #fff;
	background: #4f85ff;
}
.stock-name>div,.company-name2{
	font-size: 16px;
}
.company-all-info {
	flex-direction: column;
}

.company-img {
	width: auto;
	height: 160px;
	overflow: hidden;
}

.ui-data .iconfont {
	font-size: 16px;
	color: #4076f0;
}

.search-form {
	padding: 0;
}

.toggle-time input {
	width: 100%;
}

.stock-name .search-form input {
	width: 105px;
	font-size: 14px;
	color: #666;
}

.search-form div {
	position: relative;
	max-width: 40%;
}

.search-form div>.iconfont {
	position: absolute;
	left: 6px;
	top: 3px;
	color: #4076f0;
}

.toggle-time {
	justify-content: center;
}

.swiper-wrapper {
	padding: 0;
	padding-bottom: 5px;
	justify-content: center;
	text-align: center;
}

.swiper1 {
	border: 0;
	background: transparent;
	width: auto;
	min-width: 300px;

}

.swiper1 .swiper-slide {
	height: 28px;
	line-height: 28px;
	padding: 0 6px;
	width: auto;
}

.swiper1 .selected {
	background-color: #e3edff;
	border: 1px solid #c5daf9;
	line-height: 26px;
}

.company-footer {
	color: #666;
}

.top-statis {
	/* border: 1px solid #c5daf9; */
	box-shadow: none;
	background-color: #fff;
	border-radius: 5px;
}

.ui-search-time,
.search-form button {
	/*border: 1px solid #c5daf9;*/
	border: 1px solid #dae9ff;
}

.new-invoice-list .invoice-top {
	padding-bottom: 2px;
}

.company-all {
	box-shadow: none;
}

.statis-content {
	border-top: 1px dashed #eee;
	padding-top: 10px;
	background-color: #fff;
}

.check-project>p:first-child {
	text-indent: -3.1em;
	margin-left: 3em;
	flex: 1;
}

.check-project>p:last-child {
	min-width: 48px;
	text-align: right;
}
.invoice-control .invoice-info{
	padding-left: 0;
}
.new-invoice-list .invoice-top{
	padding-left: 0;
}

.stock-name .iconfont {
	color: #fff;
}

.num-box span {
	display: inline-block;
	background: #0000FF;
	color: #fff;
	padding: 5px;
	height: 24px;
}

.new-invoice-list .invoice-li {
	border: 0;
	border-bottom: 1px solid #eee;
	border-radius: 0;
	margin: 0;
}

.new-invoice-list .invoice-li:last-child {
	border: 0;
}

.new-list {
	border: 1px solid #c5daf9;
}

.ui-data-ul li {
	color: #000;
}
