.headfixd {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.header {
  padding: 26px 0;
  background: #fff url(../img/header_top.png) center bottom no-repeat;
}

.header h1 {
  padding: 0 0 0 10px;
  line-height: 50px;
}

.header .right_box {
  padding: 0 20px 0 0;
}

.header .right_box .serc_box {
  position: relative;
  top: 10px;
  width: 260px;
  height: 30px;
  border-radius: 15px;
  border: solid 1px #2367e3;
  overflow: hidden;
}

.header .right_box .serc_box .serch_input {
  width: 100%;
  height: 30px;
  padding: 0 20px;
  color: #2367e3;
  background: #f4f3f3;
}

.header .right_box .serc_box .serch_btn {
  position: absolute;
  top: 4px;
  right: 10px;
  cursor: pointer;
}

.header .right_box .mesentr {
  margin: 10px 0 0 10px;
}

.header .right_box .mesentr .center_title {
  padding: 0 10px;
  position: relative;
  font-family: MicrosoftYaHei;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #2367e3;
  cursor: pointer;
  vertical-align: middle;
  line-height: 30px;
  height: 40px;
}

.header .right_box .mesentr .center_title .icon_down {
  color: #2367e3;
  font-size: 12px;
  transition: all .5s ease 0s;
}

.header .right_box .mesentr .center_title .mesentr_action {
  visibility: hidden;
  position: absolute;
  top: 50px;
  left: 0;
  width: 300px;
  padding: 10px;
  z-index: 1000;
  background: #fff;
  box-shadow: 5px 8px 15px 0px rgba(222, 222, 222, 0.5);
}

.header .right_box .mesentr .center_title .mesentr_action .mster_left {
  width: 90px;
  height: 90px;
}

.header .right_box .mesentr .center_title .mesentr_action .mster_left img {
  width: 90px;
  height: 90px;
}

.header .right_box .mesentr .center_title .mesentr_action .mesent_right {
  padding: 0 0 0 20px;
  width: 200px;
  box-sizing: border-box;
}

.header .right_box .mesentr .center_title .mesentr_action .mesent_right .mesent_right_top {
  line-height: 30px;
}

.header .right_box .mesentr .center_title .mesentr_action .mesent_right .mesent_right_top a {
  font-family: MicrosoftYaHei;
  font-size: 16px;
  margin-right: 10px;
  color: #2367e3;
}

.header .right_box .mesentr .center_title .mesentr_action .mesent_right .mesent_right_center {
  margin-top: 10px;
}

.header .right_box .mesentr .center_title .mesentr_action .mesent_right .mesent_right_center .center_item {
  font-size: 16px;
  color: #555658;
  line-height: 26px;
  font-family: MicrosoftYaHei;
}

.header .right_box .mesentr .center_title:hover {
  border-radius: 8px 8px 0 0;
  background: #fff;
}

.header .right_box .mesentr .center_title:hover .mesentr_action {
  visibility: visible;
  top: 40px;
}

.header .right_box .header_link {
  display: inline-block;
  margin: 10px 0 0;
  color: #2367e3;
  font-size: 16px;
  line-height: 30px;
  padding: 0 10px;
}

.header .right_box .header_link:hover {
  border-radius: 8px;
  background: #fff;
}

.header .right_box .header_link .icon_fill {
  font-size: 16px;
}

.header .right_box .header_link span {
  color: #ff0000;
}

.header .right_box .header_link img {
  width: 14px;
  height: 14px;
}

.tab_Nav {
  background: #2367e3;
}

.tab_Nav ul li a {
  font-family: MicrosoftYaHei;
  display: inline-block;
  padding: 0 20px;
  line-height: 46px;
  color: #fff;
  font-size: 18px;
}

.tab_Nav ul li a:hover {
  background: #2256b4;
  color: #fff;
}

.tab_Nav ul li .active {
  background: #f7f7f7;
  color: #2367e3;
}

.footer {
  background: #40619b;
  height: 112px;
  padding: 30px 0 0 0;
}

.footer p {
  text-align: center;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
  line-height: 40px;
}

.footer p a {
  display: inline-block;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
  line-height: 40px;
}

.footer p a img {
  height: 17px;
  line-height: 40px;
  margin-top: -5px;
  margin-right: 5px;
  margin-left: 5px;
}

.warp_box {
  padding: 20px;
  position: relative;
}

.ifrem {
  position: fixed;
  top: 158px;
  left: 210px;
  bottom: 0;
  width: calc( 100% - 200px);
  z-index: 998;
  overflow-y: auto;
  background: #fff;
}

.ifrem #dy_ifrem {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.ifrem_off {
  width: 100%;
}

.sider_btn {
  position: absolute;
  left: 0;
  top: 200px;
  background: red;
  width: 17px;
  height: 61px;
  background: url(../img/icon.png) 0 0 no-repeat;
  cursor: pointer;
  z-index: 999;
}

.active_off {
  width: 17px;
  height: 61px;
  background: url(../img/icon.png) 0 -61px no-repeat;
  position: absolute;
  top: 200px;
  left: 0px;
  cursor: pointer;
}
